/*
 * Styles for Birds Eye Store Locator 
 *
*/


/* 
 * Colors
 * 
 * dark blue: #21547F;
 * light blue: #04B7E3;
 * black: #4A4A4A;
 * dark gray: #6B6B6B;
 * light gray: #F1F5F7;
 * orange: #F6A623;
 * red: #EE2F25;
 *
*/

/* 
 * typography 
 *
 * unless specified otherwise, typographic properties for   
 * individual elements (ie; button font-size) defaults to 
 * rules defined on the body element below
 *  
 * h1-h6 base styles applies to all .headline- classes below
 * margin-bottom provided for headlines, but is subjective 
 * based on context
 *
*/
body {
  font-family: "museo-sans-rounded", serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5;
  color: #4A4A4A;
}
/* headline base styles */
h1,h2,h3,h4,h5,h6 { 
  display: block;
  margin: 0;
  clear: both;
  font-family: 'roboto-slab', Georgia, serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1;
  color: #21547F;
}
.headline-xl {
  margin-bottom: 0.15em;
  font-size: 1.625em;
}
.headline-l {
  font-size: 1.5em;
}
.headline-m {
  margin-bottom: 0.5em; 
  font-size: 1.75em;
}
/* typical paragraph copy */
p {
  margin: 0 0 1em;
  font-size: 0.875em;
}

/* 
 * product title on locator grid page 
 * please reference product page on staging site
 * staging site is very much a WIP at this point (esp this pg)
 * http://birdseye.kdpreview.com/our-products/
 * 
 */
.product-title-small {
  margin-bottom: 0.5em;
  font-size: 0.875em;
  font-family: "museo-sans-rounded", serif;
  font-weight: 500; 
}

/* buttons */
.btn,
button {
  display: block;
  width: 100%;
  max-width: 11.785em;
  padding: 1.285em 0;
  font-size: 0.875em;
  text-align: center;
  color: #F1F5F7;
  text-transform: uppercase;
  background-color: #04B7E3;
  transition: background-color .2s ease;
}
.btn:hover,
button:hover {
  background-color: #F6A623;
} 



@media (min-width: 50em) {
  .headline-xl {
    font-size: 2.5em;
  }
  .headline-l {
    font-size: 2.125em;
  }
  .headline-m {
    font-size: 2.125em;
  }

  /* typical paragraph copy */
  p {
    font-size: 1em;
  }

  /* product title on grid page */
  .product-title-small {
    font-size: 1.125em;
  }
}

@media (min-width: 68em) {
  .headline-xl {
    font-size: 4em;
  }
  .headline-l {
    font-size: 3em;
  }
}
