Console output: [object Object]Console output: set trueConsole output: set trueConsole output: set trueConsole output: set trueConsole output: Found 0 lazy images.clip {
  clip: rect(1px 1px 1px 1px);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute !important;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0px;
  background-color: white;
  margin: 0;
  font-family: "museo-sans-rounded", sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5;
  color: #4A4A4A;
  padding-top: 3.75em;
  overflow-x: hidden;
}

header,
main,
nav,
section {
  display: block;
}

svg:not(:root) {
  overflow: hidden;
}

ul {
  padding: 0px;
  margin: 0px;
}

li {
  list-style: none;
}

button,
input {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0px;
}

button {
  overflow: visible;
}

button,
input[type="submit"] {
  -webkit-appearance: none;
  cursor: pointer;
  outline: none;
}

.screen-reader-text {
  clip: rect(1px 1px 1px 1px);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute !important;
  word-wrap: normal !important;
  clip: rect(1px, 1px, 1px, 1px);
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

body {
  font-family: museo-sans-rounded, sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5;
  color: rgb(74, 74, 74);
  margin: 0;
  background-color: white;
  font-family: "museo-sans-rounded", sans-serif;
  color: #4A4A4A;
  padding-top: 3.75em;
  overflow-x: hidden;
}

h1,
h4 {
  display: block;
  margin: 0px;
  clear: both;
  font-family: roboto-slab, Georgia, serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1;
  color: rgb(33, 84, 127);
}

.headline-xl {
  margin-bottom: 0.15em;
  word-spacing: -0.17188em;
  letter-spacing: -0.03906em;
  font-size: 1.625em;
}

.headline-xl {
  font-size: 1.625em;
  margin-bottom: 0.15em;
  word-spacing: -0.17188em;
  letter-spacing: -0.03906em;
}

@media screen and (min-width: 20em) {
  .headline-xl {
    font-size: calc(1.625em + 2.375 * (100vw - 20em) / 48);
  }
}

@media screen and (min-width: 68em) {
  .headline-xl {
    font-size: 4em;
  }
}

[class*="wf-robotoslab-"] .headline-xl {
  word-spacing: 0px;
  letter-spacing: 0px;
}

.support-copy {
  font-family: museo-sans-rounded, sans-serif;
  font-family: "museo-sans-rounded", sans-serif;
  font-size: 0.75em;
}

.support-copy {
  font-size: 0.75em;
  font-family: "museo-sans-rounded", sans-serif;
}

@media screen and (min-width: 20em) {
  .support-copy {
    font-size: calc(0.75em + 0.75 * (100vw - 20em) / 48);
  }
}

@media screen and (min-width: 68em) {
  .support-copy {
    font-size: 1.5em;
  }
}

a {
  color: blue;
  background-color: transparent;
  text-decoration: none;
  transition: color 0.2s ease-out;
  -webkit-transition: color 0.2s ease-out;
  -webkit-transition: color .2s ease-out;
  transition: color .2s ease-out;
}

p {
  margin: 0px 0px 1em;
  margin: 0 0 1em;
  font-size: 0.875em;
}

p {
  font-size: 0.875em;
  margin: 0 0 1em;
}

@media screen and (min-width: 20em) {
  p {
    font-size: calc(0.875em + 0.125 * (100vw - 20em) / 48);
  }
}

@media screen and (min-width: 68em) {
  p {
    font-size: 1em;
  }
}

html,
body {
  height: 100%;
  min-width: 100%;
  background-color: white;
}

body {
  padding-top: 3.75em;
  overflow-x: hidden;
  margin: 0;
  background-color: white;
  font-family: "museo-sans-rounded", sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5;
  color: #4A4A4A;
}

body.page-template-page-template-products-listing {
  padding-top: 0px;
}

@media (min-width: 66em) {
  body {
    padding-top: 5em;
  }

  body.page-template-page-template-products-listing {
    padding-top: 0px;
  }
}

[class*="container-"] {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}

.container-site {
  max-width: 72.5em;
}

.flex-col {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

svg {
  transition: fill 0.25s ease-out;
  -webkit-transition: fill 0.25s ease-out;
}

.social-links {
  display: -webkit-flex;
  -webkit-justify-content: space-between;
  width: 8em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  opacity: 0;
  -webkit-transform: translate3d(150%, 0, 0);
  -ms-transform: translate3d(150%, 0, 0);
  transform: translate3d(150%, 0, 0);
  -webkit-transition: -webkit-transform 0.2s linear, opacity 0.25s linear;
  transition: transform 0.2s linear, opacity 0.25s linear;
}

.social-links a {
  display: block;
  padding: 0px 1em 0px 0px;
  padding: 0 1em 0 0;
}

.social-links svg {
  width: 1em;
  height: 1em;
  margin: auto 0px;
  margin: auto 0;
}

.social-links .fb {
  width: 7px;
}

.social-links .twitter {
  width: 17.5px;
}

.site-header .social-links {
  position: relative;
  width: 12em;
  margin: 27em auto 0px;
  margin: 27em auto 0;
}

.site-header .social-links svg {
  font-size: 0.875em;
  width: 2em;
  height: 2em;
  fill: #ffffff;
  fill: white;
}

@media (min-width: 66em) {
  .site-header .social-links {
    width: 6em;
    margin: 0px;
    margin: 0;
  }

  .site-header .social-links a {
    padding: 0.5em;
  }

  .site-header .social-links svg {
    width: 0.875em;
    height: 0.875em;
    fill: #6b6b6b;
    fill: #6B6B6B;
  }
}

.header-alt .social-links svg {
  fill: #ffffff;
  fill: white;
}

.site-header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 3.75em;
  padding: 0px 0.625em;
  z-index: 18;
  background-color: transparent;
  transition: background-color 0.2s ease-out;
  -webkit-transition: background-color 0.2s ease-out;
  top: 0;
  left: 0;
  padding: 0 0.625em;
}

.site-header.header-alt {
  background-color: transparent;
}

.site-logo {
  display: block;
  position: absolute;
  top: 0.875em;
  left: calc(50% - 55px);
  width: 110px;
  height: 55px;
  z-index: 2;
  -webkit-transform-origin: 50% 0%;
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
}

.nav-toggle {
  display: block;
  position: absolute;
  padding: 0px;
  border: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  top: 27px;
  right: 18px;
  width: 1.5em;
  height: 1em;
  font-size: 1em;
  background-color: transparent;
  z-index: 2;
  padding: 0;
  border: 0;
  border-radius: 0;
  touch-action: manipulation;
}

.nav-toggle .burger {
  display: block;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 3px;
  background-color: rgb(33, 84, 127);
  cursor: pointer;
  -webkit-transition: opacity 0.2s ease-out 0.3s, -webkit-transform 0.2s ease-out 0.3s, background-color 0.2s ease-out 0.3s;
  transition: opacity 0.2s ease-out 0.3s, -webkit-transform 0.2s ease-out 0.3s, background-color 0.2s ease-out 0.3s;
  top: 0;
  background-color: #21547F;
  -webkit-transition: opacity .2s ease-out .3s, -webkit-transform .2s ease-out .3s, background-color .2s ease-out .3s;
  transition: opacity .2s ease-out .3s, transform .2s ease-out .3s, background-color .2s ease-out .3s;
}

.nav-toggle .burger.middle {
  top: 6px;
}

.nav-toggle .burger.bottom {
  top: 12px;
}

.site-nav {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100vh;
  padding-bottom: 4em;
  overflow-y: auto;
  background-color: rgba(33, 84, 127, 0.980392);
  opacity: 0.3;
  -webkit-transform: translate3d(100%, 0px, 0px);
  -webkit-transition: -webkit-transform 0.2s linear, opacity 0.25s linear;
  transition: -webkit-transform 0.2s linear, opacity 0.25s linear;
  top: 0;
  right: 0;
  background-color: rgba(33, 84, 127, 0.98);
  -webkit-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  transition: transform 0.2s linear, opacity 0.25s linear;
}

.site-nav a {
  display: block;
  color: white;
  font-size: 0.875em;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
}

.site-nav .main-nav-container {
  width: 90%;
  margin: 6em auto 0px;
  margin: 6em auto 0;
}

.main-nav > li {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(4, 183, 227);
  border-bottom: 1px solid #04B7E3;
}

.main-nav > li > a {
  padding: 1em;
  margin: 0.25em 0px;
  margin: 0.25em 0;
}

.main-nav > li.menu-item-has-children > a {
  padding-bottom: 0em;
}

.main-nav > li.last-item {
  margin-bottom: 1em;
  border-bottom-style: none;
  border-bottom: none;
}

.main-nav li.current-menu-item > a {
  color: rgb(4, 183, 227);
  color: #04B7E3;
}

.sub-menu {
  display: -webkit-flex;
  -webkit-flex-flow: row nowrap;
  -webkit-justify-content: flex-start;
  margin-bottom: 0.5em;
  padding-left: 1.5em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.sub-menu li {
  position: relative;
  margin-right: 1em;
}

.sub-menu li::after {
  content: '';
  display: block;
  position: absolute;
  top: 9px;
  bottom: 0px;
  right: -0.5em;
  width: 1px;
  height: calc(100% - 18px);
  background-color: rgb(4, 183, 227);
}

.sub-menu li:last-of-type::after {
  display: none;
}

.sub-menu a {
  padding: 0.75em 0.25em;
  font-size: 12px;
  font-weight: 300;
  color: rgb(241, 245, 247);
  color: #F1F5F7;
}

.social-links {
  opacity: 0;
  -webkit-transform: translate3d(150%, 0px, 0px);
  -webkit-transition: -webkit-transform 0.2s linear, opacity 0.25s linear;
  transition: -webkit-transform 0.2s linear, opacity 0.25s linear;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 8em;
  -webkit-transform: translate3d(150%, 0, 0);
  -ms-transform: translate3d(150%, 0, 0);
  transform: translate3d(150%, 0, 0);
  transition: transform 0.2s linear, opacity 0.25s linear;
}

@media (min-width: 66em) {
  .site-header {
    background-color: white;
  }

  .site-header.header-alt {
    background-color: transparent;
  }

  .site-header.header-alt .main-nav > li > a {
    color: white;
  }

  .site-header .social-links {
    position: absolute;
    top: 1.1875em;
    right: 0.75em;
    opacity: 1;
    -webkit-transform: translateY(0px);
    width: 6em;
    margin: 0;
  }

  .site-logo {
    left: 1em;
    right: auto;
    margin: 0px;
    margin: 0;
  }

  .nav-toggle {
    display: none;
  }

  .site-nav {
    display: -webkit-flex;
    -webkit-justify-content: flex-end;
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 0px;
    overflow-y: visible;
    opacity: 1;
    background-color: transparent;
    -webkit-transform: translate3d(0px, 0px, 0px);
  }

  .site-nav .main-nav-container {
    position: relative;
    width: 100%;
    margin: auto 0px;
  }

  .main-nav {
    display: -webkit-flex;
    -webkit-justify-content: flex-end;
    width: calc(100% - 8em);
    padding-top: 1.125em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .main-nav > li {
    margin-left: 2em;
    border-width: 0px;
    border-width: 0;
  }

  .main-nav > li:first-child {
    margin-left: 0px;
    margin-left: 0;
  }

  .main-nav > li.menu-item-has-children {
    position: relative;
  }

  .main-nav > li.menu-item-has-children > a {
    padding-bottom: 1em;
    padding-bottom: 1.5em;
  }

  .main-nav > li.last-item {
    margin: 0px 0px 0px 3.5em;
    margin: 0 0 0 3.5em;
  }

  .main-nav > li.last-item a {
    color: rgb(238, 47, 37);
    color: #EE2F25;
  }

  .main-nav > li > a {
    margin: 0px;
    padding: 1em 0px;
    color: rgb(107, 107, 107);
    margin: 0;
    padding: 1em 0;
    color: #6B6B6B;
  }

  .main-nav > li.current-menu-item > a {
    color: rgb(33, 84, 127);
    color: #21547F;
  }

  .sub-menu {
    -webkit-flex-flow: column nowrap;
    position: absolute;
    left: 50%;
    width: 10.125em;
    height: 0px;
    margin: 0px;
    padding: 0px;
    background-color: rgb(33, 84, 127);
    text-align: center;
    opacity: 0;
    overflow: hidden;
    -webkit-transform: translateX(-50%);
    transition: opacity 0.2s ease-out, padding 0.2s ease-out;
    -webkit-transition: opacity 0.2s ease-out, padding 0.2s ease-out;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    height: 0;
    margin: 0;
    padding: 0;
    background-color: #21547F;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .sub-menu li {
    margin: 0px;
    font-size: 0.875em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(4, 183, 227);
    margin: 0;
    border-bottom: 1px solid #04B7E3;
  }

  .sub-menu li::after {
    display: none;
  }

  .sub-menu li:last-of-type {
    border-width: 0px;
    border-width: 0;
  }

  .sub-menu a {
    padding: 1em 0.25em;
    font-size: 1em;
    font-weight: 500;
    color: white;
  }
}

@media (min-width: 83em) {
  .site-header {
    padding-top: 1.5em;
    height: 5em;
  }

  .site-header .social-links {
    top: 1.1875em;
    -webkit-transform: translateY(0px);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  .site-logo {
    width: 156px;
    height: 78px;
  }

  .main-nav {
    padding-top: 0px;
    padding-top: 0;
  }

  .main-nav > li {
    margin-left: 4em;
  }

  .main-nav > li.last-item {
    margin: 0px 0px 0px 7.875em;
    margin: 0 0 0 7.875em;
  }

  .main-nav > li.menu-item-has-children > a {
    padding-bottom: 1.5em;
  }

  .main-nav > li > a {
    padding: 1.5em 0px;
    padding: 1.5em 0;
  }

  .site-header .social-links {
    top: 1.9375em;
    top: 1.1875em;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.hero-products {
  position: relative;
  width: 100%;
  height: 89vw;
  max-height: 23.875em;
  background-image: url(/wp-content/themes/birdseye/assets/images/product/hero-product-placeholder-s.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat no-repeat;
  background: url(/wp-content/themes/birdseye/assets/images/product/hero-product-placeholder-s.jpg) no-repeat center/cover;
}

.hero-products .hero-msg {
  position: absolute;
  top: calc(50% + 30px);
  left: 50%;
  width: 70%;
  max-width: 42.375em;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.hero-products.prod-landing .hero-msg {
  left: 10%;
  -webkit-transform: translate(0px, -50%);
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

@media (orientation: landscape) {
  .hero-products {
    max-height: 100vh;
  }
}

@media (min-width: 50em) {
  .hero-products {
    height: 48vw;
    max-height: 39.375em;
    background-image: url(/wp-content/themes/birdseye/assets/images/product/hero-product-placeholder-m.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat;
    background: url(/wp-content/themes/birdseye/assets/images/product/hero-product-placeholder-m.jpg) no-repeat center/cover;
  }
}

@media (min-width: 50em) and (orientation: landscape) {
  .hero-products {
    max-height: 39.375em;
  }
}

@media (min-width: 87.5em) {
  .hero-products {
    background-image: url(/wp-content/themes/birdseye/assets/images/product/hero-product-placeholder-l.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat;
    background: url(/wp-content/themes/birdseye/assets/images/product/hero-product-placeholder-l.jpg) no-repeat center/cover;
  }
}

button,
input {
  border: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

button {
  display: block;
  width: 100%;
  max-width: 11.78571em;
  padding: 1.28571em 0px;
  text-align: center;
  color: rgb(241, 245, 247);
  text-transform: uppercase;
  background-color: rgb(4, 183, 227);
  transition: color 0.2s ease, background-color 0.2s ease;
  -webkit-transition: color 0.2s ease, background-color 0.2s ease;
  overflow: visible;
}

button:not(.slick-arrow) {
  font-size: 0.875em;
}

button:not(.slick-arrow) {
  font-size: 0.7em;
}

@media screen and (min-width: 20em) {

}

@media screen and (min-width: 68em) {
  button:not(.slick-arrow) {
    font-size: 0.875em;
  }
}

img {
  height: auto;
  max-width: 100%;
  border-width: 0px;
  border-width: 0;
}

.page-template-page-template-products-listing-php .container-site {
  display: -webkit-flex;
  max-width: 92.5em;
  padding-top: 50px;
  display: -ms-flexbox;
  display: flex;
}

.product-search-form {
  display: -webkit-flex;
  width: 100%;
  padding: 15px 15px 15px 60px;
  margin-bottom: 10px;
  background-image: url(/wp-content/themes/birdseye/assets/images/global/search-icon.svg);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(216, 216, 216);
  -webkit-box-shadow: rgba(0, 0, 0, 0.0470588) 0px 2px 5px 0px;
  box-shadow: rgba(0, 0, 0, 0.0470588) 0px 2px 5px 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  background-position: left 25px top 50%;
  background-repeat: no-repeat no-repeat;
  display: -ms-flexbox;
  display: flex;
  background: url(/wp-content/themes/birdseye/assets/images/global/search-icon.svg) left 25px center no-repeat #FFFFFF;
  border: 1px solid #D8D8D8;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

.product-search-form input[type="text"] {
  width: 150px;
  height: 30px;
  border: none;
  outline: none;
}

.product-search-form input[type="submit"] {
  width: 30px;
  height: 30px;
  background-image: url(/wp-content/themes/birdseye/assets/images/global/submit-white-arrow.svg);
  background-color: transparent;
  font-size: 0px;
  color: transparent;
  cursor: pointer;
  background-position: 50% 50%;
  background-repeat: no-repeat no-repeat;
  background: url(/wp-content/themes/birdseye/assets/images/global/submit-white-arrow.svg) center no-repeat transparent;
  font-size: 0;
}

.product-filtering {
  width: 265px;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  -webkit-align-items: flex-start;
  -webkit-justify-content: flex-start;
  -webkit-flex-direction: column;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-direction: column;
  flex-direction: column;
}

.product-categories {
  width: 100%;
  border: 1px solid rgb(216, 216, 216);
  -webkit-box-shadow: rgba(0, 0, 0, 0.0470588) 0px 2px 5px 0px;
  box-shadow: rgba(0, 0, 0, 0.0470588) 0px 2px 5px 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border: 1px solid #D8D8D8;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

.product-categories .parent {
  min-height: 60px;
}

.product-categories .parent h1 {
  width: 100%;
  height: 60px;
  padding: 20px;
  font-family: museo-sans-rounded, sans-serif;
  font-size: 14px;
  color: rgb(0, 100, 160);
  line-height: 24px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(216, 216, 216);
  background-image: url(/wp-content/themes/birdseye/assets/images/global/chevron-right.svg);
  cursor: pointer;
  background-position: right 20px top 50%;
  background-repeat: no-repeat no-repeat;
  line-height: 1.5;
  font-family: "museo-sans-rounded", sans-serif;
  color: #0064A0;
  border-bottom: 1px solid #D8D8D8;
  background: url(/wp-content/themes/birdseye/assets/images/global/chevron-right.svg) right 20px center no-repeat;
}

.product-categories .parent .child {
  display: none;
}

.product-categories .parent .child h4 {
  width: 100%;
  height: 60px;
  padding: 20px 20px 20px 40px;
  background-image: url(/wp-content/themes/birdseye/assets/images/global/chevron-right.svg);
  background-color: rgb(250, 250, 250);
  font-family: museo-sans-rounded, sans-serif;
  font-size: 14px;
  color: rgb(74, 74, 74);
  line-height: 24px;
  font-weight: 100;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(216, 216, 216);
  position: relative;
  background-position: right 20px top 50%;
  background-repeat: no-repeat no-repeat;
  background: url(/wp-content/themes/birdseye/assets/images/global/chevron-right.svg) right 20px center no-repeat #FAFAFA;
  font-family: "museo-sans-rounded", sans-serif;
  color: #4A4A4A;
  border-bottom: 1px solid #D8D8D8;
}

.product-categories .parent .child h4 + .child .checkbox-wrapper {
  height: 45px;
  padding-top: 21px;
}

.product-categories .parent .child:last-child .checkbox-wrapper {
  height: 60px;
}

.product-categories .parent .child .child:last-child .checkbox-wrapper {
  height: 60px;
}

.product-categories .checkbox-wrapper {
  height: 40px;
  padding: 15px 20px 0px 40px;
  background-color: rgb(242, 242, 242);
  padding: 15px 20px 0 40px;
  background-color: #F2F2F2;
}

.product-categories .checkbox-wrapper input[type="checkbox"] {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-bottom: -5px;
  outline: none;
  background-image: url(/wp-content/themes/birdseye/assets/images/global/checkbox-unchecked.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat no-repeat;
  appearance: none;
  -moz-appearance: none;
  background: url(/wp-content/themes/birdseye/assets/images/global/checkbox-unchecked.svg) center no-repeat;
}

.product-categories .checkbox-wrapper label {
  display: inline;
  font-family: museo-sans-rounded, sans-serif;
  font-size: 12px;
  color: rgb(102, 102, 102);
  letter-spacing: 0px;
  font-family: "museo-sans-rounded", sans-serif;
  color: #666666;
  letter-spacing: 0;
}

.product-listing {
  width: calc(100% - 270px);
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.product-listing .single-product {
  width: 25%;
  padding: 3%;
  text-align: center;
  position: relative;
}

.product-listing .single-product a {
  text-decoration: none;
}

.product-listing .single-product .name {
  margin: 20px 0px 0px;
  font-family: museo-sans-rounded, sans-serif;
  font-size: 18px;
  color: rgb(74, 74, 74);
  font-weight: 400;
  line-height: 26px;
  margin: 20px 0 0;
  font-family: "museo-sans-rounded", sans-serif;
  color: #4A4A4A;
}

.product-listing .single-product .cat {
  font-family: museo-sans-rounded, sans-serif;
  font-size: 11px;
  color: rgb(74, 74, 74);
  line-height: 20px;
  text-transform: uppercase;
  font-family: "museo-sans-rounded", sans-serif;
  color: #4A4A4A;
}

.product-listing .single-product .new[data-new="new"] {
  width: 57px;
  height: 57px;
  position: absolute;
  background-image: url(/wp-content/themes/birdseye/assets/images/global/new-callout.png);
  -webkit-background-size: cover;
  background-size: cover;
  right: calc(3% + 30px);
  top: calc(3% + 10px);
  background-position: 50% 50%;
  background-repeat: no-repeat no-repeat;
  background: url(/wp-content/themes/birdseye/assets/images/global/new-callout.png) center no-repeat;
}