Console output: set trueConsole output: set trueConsole output: set trueConsole output: set trueConsole output: Found 0 lazy images.clip {
  clip: rect(1px 1px 1px 1px);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute !important;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0px;
  background-color: white;
  margin: 0;
  font-family: "museo-sans-rounded", sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5;
  color: #4A4A4A;
  padding-top: 3.75em;
  overflow-x: hidden;
}

header,
main,
nav,
section {
  display: block;
}

svg:not(:root) {
  overflow: hidden;
}

ul {
  padding: 0px;
  margin: 0px;
}

li {
  list-style: none;
}

button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0px;
  overflow: visible;
}

button {
  overflow: visible;
}

button {
  -webkit-appearance: none;
  cursor: pointer;
  outline: none;
  overflow: visible;
}

.screen-reader-text {
  clip: rect(1px 1px 1px 1px);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute !important;
  word-wrap: normal !important;
  clip: rect(1px, 1px, 1px, 1px);
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

body {
  font-family: museo-sans-rounded, sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5;
  color: rgb(74, 74, 74);
  margin: 0;
  background-color: white;
  font-family: "museo-sans-rounded", sans-serif;
  color: #4A4A4A;
  padding-top: 3.75em;
  overflow-x: hidden;
}

h1,
h2 {
  display: block;
  margin: 0px;
  clear: both;
  font-family: roboto-slab, Georgia, serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1;
  color: rgb(33, 84, 127);
}

.headline-l {
  word-spacing: -0.10417em;
  letter-spacing: -0.02083em;
  text-align: center;
  margin-left: 2.222331px;
  font-size: 1.5em;
}

.headline-l {
  font-size: 1.5em;
  word-spacing: -0.10417em;
  letter-spacing: -0.02083em;
  text-align: center;
  margin-left: 2.222331px;
}

@media screen and (min-width: 20em) {
  .headline-l {
    font-size: calc(1.5em + 1.5 * (100vw - 20em) / 48);
  }
}

@media screen and (min-width: 68em) {
  .headline-l {
    font-size: 3em;
  }
}

[class*="wf-robotoslab-"] .headline-l {
  word-spacing: 0px;
  letter-spacing: 0px;
}

.headline-s {
  line-height: 1.3;
  font-size: 1.125em;
}

.headline-s {
  font-size: 1.125em;
  line-height: 1.3;
}

@media screen and (min-width: 20em) {
  .headline-s {
    font-size: calc(1.125em + 1 * (100vw - 20em) / 48);
  }
}

@media screen and (min-width: 68em) {
  .headline-s {
    font-size: 2.125em;
  }
}

a {
  color: blue;
  background-color: transparent;
  text-decoration: none;
  transition: color 0.2s ease-out;
  -webkit-transition: color 0.2s ease-out;
  -webkit-transition: color .2s ease-out;
  transition: color .2s ease-out;
}

p {
  margin: 0px 0px 1em;
  margin: 0 0 1em;
  font-size: 0.875em;
}

p {
  font-size: 0.875em;
  margin: 0 0 1em;
}

@media screen and (min-width: 20em) {
  p {
    font-size: calc(0.875em + 0.125 * (100vw - 20em) / 48);
  }
}

@media screen and (min-width: 68em) {
  p {
    font-size: 1em;
  }
}

html,
body {
  height: 100%;
  min-width: 100%;
  background-color: white;
}

body {
  padding-top: 3.75em;
  overflow-x: hidden;
  margin: 0;
  background-color: white;
  font-family: "museo-sans-rounded", sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5;
  color: #4A4A4A;
}

@media (min-width: 66em) {
  body {
    padding-top: 5em;
  }
}

.flex-row {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
}

svg {
  transition: fill 0.25s ease-out;
  -webkit-transition: fill 0.25s ease-out;
}

.social-links {
  display: -webkit-flex;
  -webkit-justify-content: space-between;
  width: 8em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  opacity: 0;
  -webkit-transform: translate3d(150%, 0, 0);
  -ms-transform: translate3d(150%, 0, 0);
  transform: translate3d(150%, 0, 0);
  -webkit-transition: -webkit-transform 0.2s linear, opacity 0.25s linear;
  transition: transform 0.2s linear, opacity 0.25s linear;
}

.social-links a {
  display: block;
  padding: 0px 1em 0px 0px;
  padding: 0 1em 0 0;
}

.social-links svg {
  width: 1em;
  height: 1em;
  margin: auto 0px;
  margin: auto 0;
}

.social-links .fb {
  width: 7px;
}

.social-links .twitter {
  width: 17.5px;
}

.site-header .social-links {
  position: relative;
  width: 12em;
  margin: 27em auto 0px;
  margin: 27em auto 0;
}

.site-header .social-links svg {
  font-size: 0.875em;
  width: 2em;
  height: 2em;
  fill: #ffffff;
  fill: white;
}

@media (min-width: 66em) {
  .site-header .social-links {
    width: 6em;
    margin: 0px;
    margin: 0;
  }

  .site-header .social-links a {
    padding: 0.5em;
  }

  .site-header .social-links svg {
    width: 0.875em;
    height: 0.875em;
    fill: #6b6b6b;
    fill: #6B6B6B;
  }
}

.site-header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 3.75em;
  padding: 0px 0.625em;
  z-index: 18;
  background-color: transparent;
  transition: background-color 0.2s ease-out;
  -webkit-transition: background-color 0.2s ease-out;
  top: 0;
  left: 0;
  padding: 0 0.625em;
}

.site-logo {
  display: block;
  position: absolute;
  top: 0.875em;
  left: calc(50% - 55px);
  width: 110px;
  height: 55px;
  z-index: 2;
  -webkit-transform-origin: 50% 0%;
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
}

.nav-toggle {
  display: block;
  position: absolute;
  padding: 0px;
  border: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  top: 27px;
  right: 18px;
  width: 1.5em;
  height: 1em;
  font-size: 1em;
  background-color: transparent;
  z-index: 2;
  padding: 0;
  border: 0;
  border-radius: 0;
  touch-action: manipulation;
}

.nav-toggle .burger {
  display: block;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 3px;
  background-color: rgb(33, 84, 127);
  cursor: pointer;
  -webkit-transition: opacity 0.2s ease-out 0.3s, -webkit-transform 0.2s ease-out 0.3s, background-color 0.2s ease-out 0.3s;
  transition: opacity 0.2s ease-out 0.3s, -webkit-transform 0.2s ease-out 0.3s, background-color 0.2s ease-out 0.3s;
  top: 0;
  background-color: #21547F;
  -webkit-transition: opacity .2s ease-out .3s, -webkit-transform .2s ease-out .3s, background-color .2s ease-out .3s;
  transition: opacity .2s ease-out .3s, transform .2s ease-out .3s, background-color .2s ease-out .3s;
}

.nav-toggle .burger.middle {
  top: 6px;
}

.nav-toggle .burger.bottom {
  top: 12px;
}

.site-nav {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100vh;
  padding-bottom: 4em;
  overflow-y: auto;
  background-color: rgba(33, 84, 127, 0.980392);
  opacity: 0.3;
  -webkit-transform: translate3d(100%, 0px, 0px);
  -webkit-transition: -webkit-transform 0.2s linear, opacity 0.25s linear;
  transition: -webkit-transform 0.2s linear, opacity 0.25s linear;
  top: 0;
  right: 0;
  background-color: rgba(33, 84, 127, 0.98);
  -webkit-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  transition: transform 0.2s linear, opacity 0.25s linear;
}

.site-nav a {
  display: block;
  color: white;
  font-size: 0.875em;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
}

.site-nav .main-nav-container {
  width: 90%;
  margin: 6em auto 0px;
  margin: 6em auto 0;
}

.main-nav > li {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(4, 183, 227);
  border-bottom: 1px solid #04B7E3;
}

.main-nav > li > a {
  padding: 1em;
  margin: 0.25em 0px;
  margin: 0.25em 0;
}

.main-nav > li.menu-item-has-children > a {
  padding-bottom: 0em;
}

.main-nav > li.last-item {
  margin-bottom: 1em;
  border-bottom-style: none;
  border-bottom: none;
}

.main-nav li.current-menu-item > a {
  color: rgb(4, 183, 227);
  color: #04B7E3;
}

.sub-menu {
  display: -webkit-flex;
  -webkit-flex-flow: row nowrap;
  -webkit-justify-content: flex-start;
  margin-bottom: 0.5em;
  padding-left: 1.5em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.sub-menu li {
  position: relative;
  margin-right: 1em;
}

.sub-menu li::after {
  content: '';
  display: block;
  position: absolute;
  top: 9px;
  bottom: 0px;
  right: -0.5em;
  width: 1px;
  height: calc(100% - 18px);
  background-color: rgb(4, 183, 227);
}

.sub-menu li:last-of-type::after {
  display: none;
}

.sub-menu a {
  padding: 0.75em 0.25em;
  font-size: 12px;
  font-weight: 300;
  color: rgb(241, 245, 247);
  color: #F1F5F7;
}

.social-links {
  opacity: 0;
  -webkit-transform: translate3d(150%, 0px, 0px);
  -webkit-transition: -webkit-transform 0.2s linear, opacity 0.25s linear;
  transition: -webkit-transform 0.2s linear, opacity 0.25s linear;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 8em;
  -webkit-transform: translate3d(150%, 0, 0);
  -ms-transform: translate3d(150%, 0, 0);
  transform: translate3d(150%, 0, 0);
  transition: transform 0.2s linear, opacity 0.25s linear;
}

@media (min-width: 66em) {
  .site-header {
    background-color: white;
  }

  .site-header .social-links {
    position: absolute;
    top: 1.1875em;
    right: 0.75em;
    opacity: 1;
    -webkit-transform: translateY(0px);
    width: 6em;
    margin: 0;
  }

  .site-logo {
    left: 1em;
    right: auto;
    margin: 0px;
    margin: 0;
  }

  .nav-toggle {
    display: none;
  }

  .site-nav {
    display: -webkit-flex;
    -webkit-justify-content: flex-end;
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 0px;
    overflow-y: visible;
    opacity: 1;
    background-color: transparent;
    -webkit-transform: translate3d(0px, 0px, 0px);
  }

  .site-nav .main-nav-container {
    position: relative;
    width: 100%;
    margin: auto 0px;
  }

  .main-nav {
    display: -webkit-flex;
    -webkit-justify-content: flex-end;
    width: calc(100% - 8em);
    padding-top: 1.125em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .main-nav > li {
    margin-left: 2em;
    border-width: 0px;
    border-width: 0;
  }

  .main-nav > li:first-child {
    margin-left: 0px;
    margin-left: 0;
  }

  .main-nav > li.menu-item-has-children {
    position: relative;
  }

  .main-nav > li.menu-item-has-children > a {
    padding-bottom: 1em;
    padding-bottom: 1.5em;
  }

  .main-nav > li.last-item {
    margin: 0px 0px 0px 3.5em;
    margin: 0 0 0 3.5em;
  }

  .main-nav > li.last-item a {
    color: rgb(238, 47, 37);
    color: #EE2F25;
  }

  .main-nav > li > a {
    margin: 0px;
    padding: 1em 0px;
    color: rgb(107, 107, 107);
    margin: 0;
    padding: 1em 0;
    color: #6B6B6B;
  }

  .main-nav > li.current-menu-item > a {
    color: rgb(33, 84, 127);
    color: #21547F;
  }

  .sub-menu {
    -webkit-flex-flow: column nowrap;
    position: absolute;
    left: 50%;
    width: 10.125em;
    height: 0px;
    margin: 0px;
    padding: 0px;
    background-color: rgb(33, 84, 127);
    text-align: center;
    opacity: 0;
    overflow: hidden;
    -webkit-transform: translateX(-50%);
    transition: opacity 0.2s ease-out, padding 0.2s ease-out;
    -webkit-transition: opacity 0.2s ease-out, padding 0.2s ease-out;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    height: 0;
    margin: 0;
    padding: 0;
    background-color: #21547F;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .sub-menu li {
    margin: 0px;
    font-size: 0.875em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(4, 183, 227);
    margin: 0;
    border-bottom: 1px solid #04B7E3;
  }

  .sub-menu li::after {
    display: none;
  }

  .sub-menu li:last-of-type {
    border-width: 0px;
    border-width: 0;
  }

  .sub-menu a {
    padding: 1em 0.25em;
    font-size: 1em;
    font-weight: 500;
    color: white;
  }
}

@media (min-width: 83em) {
  .site-header {
    padding-top: 1.5em;
    height: 5em;
  }

  .site-header .social-links {
    top: 1.1875em;
    -webkit-transform: translateY(0px);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  .site-logo {
    width: 156px;
    height: 78px;
  }

  .main-nav {
    padding-top: 0px;
    padding-top: 0;
  }

  .main-nav > li {
    margin-left: 4em;
  }

  .main-nav > li.last-item {
    margin: 0px 0px 0px 7.875em;
    margin: 0 0 0 7.875em;
  }

  .main-nav > li.menu-item-has-children > a {
    padding-bottom: 1.5em;
  }

  .main-nav > li > a {
    padding: 1.5em 0px;
    padding: 1.5em 0;
  }

  .site-header .social-links {
    top: 1.9375em;
    top: 1.1875em;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.panel {
  padding-top: 2em;
  padding-bottom: 2em;
}

.btn,
button {
  border: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  display: block;
  width: 100%;
  max-width: 11.78571em;
  padding: 1.28571em 0;
  text-align: center;
  color: #F1F5F7;
  text-transform: uppercase;
  background-color: #04B7E3;
  -webkit-transition: color .2s ease, background-color .2s ease;
  transition: color .2s ease, background-color .2s ease;
}

.btn,
button {
  display: block;
  width: 100%;
  max-width: 11.78571em;
  padding: 1.28571em 0px;
  text-align: center;
  color: rgb(241, 245, 247);
  text-transform: uppercase;
  background-color: rgb(4, 183, 227);
  transition: color 0.2s ease, background-color 0.2s ease;
  -webkit-transition: color 0.2s ease, background-color 0.2s ease;
  padding: 1.28571em 0;
  color: #F1F5F7;
  background-color: #04B7E3;
  -webkit-transition: color .2s ease, background-color .2s ease;
  transition: color .2s ease, background-color .2s ease;
}

.btn:not(.slick-arrow),
button:not(.slick-arrow) {
  font-size: 0.875em;
  font-size: 0.7em;
}

.btn:not(.slick-arrow),
button:not(.slick-arrow) {
  font-size: 0.7em;
  font-size: 0.875em;
}

@media screen and (min-width: 20em) {
  .btn:not(.slick-arrow),
  button:not(.slick-arrow) {
    font-size: calc(0.7em + 0.175 * (100vw - 20em) / 48);
  }
}

@media screen and (min-width: 68em) {
  .btn:not(.slick-arrow),
  button:not(.slick-arrow) {
    font-size: 0.875em;
  }
}

img {
  height: auto;
  max-width: 100%;
  border-width: 0px;
  border-width: 0;
}

.frozen-benefits {
  position: relative;
  padding: 1em;
}

.frozen-benefits.flex-row {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.frozen-benefits .flex-child:not(.scene-number) {
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
}

.frozen-benefits .flex-child:first-child {
  -webkit-flex: 1 1 100%;
  -webkit-flex: 1 100%;
  -ms-flex: 1 100%;
  flex: 1 100%;
}

.frozen-msg {
  width: 100%;
}

.frozen-msg .headline-s {
  margin-bottom: 0.33em;
}

.frozen-msg br {
  display: none;
}

@media (min-width: 79em) {
  .frozen-msg br {
    display: block;
  }
}

.frozen-intro {
  display: -webkit-flex;
  position: relative;
  height: 45vw;
  max-height: 25.5em;
  padding-left: 1em;
  padding-right: 1em;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
}

.frozen-intro .headline-l {
  margin: auto;
}

.frozen-intro br {
  display: none;
}

@media (min-width: 44.25em) {
  .frozen-intro br {
    display: block;
  }
}

.frozen-bg {
  position: absolute;
  display: block;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat no-repeat;
  background-repeat: no-repeat;
  background-position: center;
}

.frozen-bg.tomatoes {
  top: 0px;
  left: -4vw;
  width: 14.375em;
  height: 45.3125em;
  background-image: url(/wp-content/themes/birdseye/assets/images/frozenvsfresh/bg-tomatoes-s.jpg);
  top: 0;
  font-size: 0.35em;
}

.frozen-bg.tomatoes {
  font-size: 0.35em;
  top: 0;
  left: -4vw;
  width: 14.375em;
  height: 45.3125em;
  background-image: url(/wp-content/themes/birdseye/assets/images/frozenvsfresh/bg-tomatoes-s.jpg);
}

@media screen and (min-width: 20em) {
  .frozen-bg.tomatoes {
    font-size: calc(0.35em + 0.65 * (100vw - 20em) / 48);
  }
}

@media screen and (min-width: 68em) {
  .frozen-bg.tomatoes {
    font-size: 1em;
  }
}

.frozen-bg.beans {
  top: 18%;
  right: 0px;
  width: 18.75em;
  height: 32.625em;
  font-size: 0.3125em;
  background-image: url(/wp-content/themes/birdseye/assets/images/frozenvsfresh/bg-beans-s.jpg);
  -webkit-transform: translateX(32px);
  right: 0;
  -ms-transform: translateX(32px);
  transform: translateX(32px);
}

.big-number {
  display: inline-block;
  position: relative;
  font-weight: 700;
  line-height: 1.1;
  z-index: 2;
  font-size: 3em;
}

.big-number {
  font-size: 3em;
  display: inline-block;
  position: relative;
  font-weight: 700;
  line-height: 1.1;
  z-index: 2;
}

@media screen and (min-width: 20em) {
  .big-number {
    font-size: calc(3em + 6 * (100vw - 20em) / 48);
  }
}

@media screen and (min-width: 68em) {
  .big-number {
    font-size: 9em;
  }
}

.scene-number {
  -webkit-flex: 1 0 auto;
  position: relative;
  margin-right: 1em;
  text-align: center;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  width: 1.875em;
}

.scene-number {
  width: 1.875em;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  position: relative;
  margin-right: 1em;
  text-align: center;
}

@media screen and (min-width: 20em) {
  .scene-number {
    width: calc(1.875em + 3.625 * (100vw - 20em) / 48);
  }
}

@media screen and (min-width: 68em) {
  .scene-number {
    width: 5.5em;
  }
}

.scene-number::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 1px;
  margin: 0px;
  z-index: 2;
  background-color: rgb(74, 74, 74);
  -webkit-transform: translateX(-50%);
}

.scene-number::after {
  top: 3.25em;
}

@media screen and (min-width: 20em) {

}

@media screen and (min-width: 68em) {
  .scene-number::after {
    top: 9.875em;
  }
}

.scene-1 .scene-number {
  color: rgb(245, 201, 106);
}



.scene-1 {
  height: 70vh;
  max-height: 62.5em;
  z-index: 10;
  background-image: url(/wp-content/themes/birdseye/assets/images/frozenvsfresh/bg-girl-field-s.jpg);
  background-size: contain;
  background-position: 50% 100%;
  background-repeat: no-repeat no-repeat;
  background: url(/wp-content/themes/birdseye/assets/images/frozenvsfresh/bg-girl-field-s.jpg) no-repeat center bottom/contain;
}

@media (min-width: 30em) {
  .scene-3 .frozen-msg p br {
    display: block;
  }
}

@media (min-width: 38em) {
  .scene-4 .frozen-msg p br {
    display: block;
  }
}

@media (min-width: 40em) {
  .frozen-bg.beans {
    font-size: 1em;
    top: 4em;
    z-index: 0;
    -webkit-transform: translateX(162px);
    background-image: url(/wp-content/themes/birdseye/assets/images/frozenvsfresh/bg-beans-l.jpg);
    -ms-transform: translateX(162px);
    transform: translateX(162px);
  }

  .frozen-bg.tomatoes {
    left: 0px;
    background-image: url(/wp-content/themes/birdseye/assets/images/frozenvsfresh/bg-tomatoes-l.jpg);
    left: 0;
  }
}

@media (min-width: 50em) {
  .scene-1 {
    background-image: url(/wp-content/themes/birdseye/assets/images/frozenvsfresh/bg-girl-field-m.jpg);
    background-size: contain;
    background-position: 50% 100%;
    background-repeat: no-repeat no-repeat;
    background: url(/wp-content/themes/birdseye/assets/images/frozenvsfresh/bg-girl-field-m.jpg) no-repeat center bottom/contain;
  }
}

@media (min-width: 66em) {
  .scene-number {
    margin: 0px;
    margin: 0;
  }

  .scene-1 .frozen-msg p {
    margin-bottom: 2em;
  }

  .frozen-benefits {
    padding: 2em 1em;
  }

  .frozen-benefits[class*="scene-"] .scene-number::after {
    height: calc((100% - 9.875em) + 72px);
    -webkit-transform: translate(0px);
  }

  .frozen-benefits.scene-1 .scene-number {
    width: calc(50% + 2.5em);
    padding-left: 2.5em;
    text-align: left;
  }

  .frozen-benefits.scene-1 .scene-number::after {
    left: 4.75em;
  }

  .frozen-benefits.scene-1 .move {
    -webkit-order: 0;
    text-align: right;
  }

  .frozen-benefits.scene-1 .btn {
    display: inline-block;
  }

  .scene-1 .frozen-msg br,
  .scene-3 .frozen-msg br {
    display: block;
  }

  .scene-1 {
    height: 80vw;
    max-height: 62.5em;
  }

  .frozen-bg.broccoli {
    top: 40%;
    right: 13em;
    width: 21.875em;
    height: 21.625em;
    z-index: 2;
    background-image: url(/wp-content/themes/birdseye/assets/images/frozenvsfresh/bg-broccoli-l.jpg);
    font-size: 0.75em;
  }

  .frozen-bg.broccoli {
    font-size: 0.75em;
    top: 40%;
    right: 13em;
    width: 21.875em;
    height: 21.625em;
    z-index: 2;
    background-image: url(/wp-content/themes/birdseye/assets/images/frozenvsfresh/bg-broccoli-l.jpg);
  }
}

@media screen and (min-width: 66em) {

}

@media screen and (min-width: 66em) and (min-width: 83em) {
  .frozen-bg.broccoli {
    font-size: 1em;
  }
}

@media (min-width: 66em) {
  .scene-3 .frozen-msg p br {
    display: block;
  }
}

@media (min-width: 66em) {
  .scene-4 .frozen-msg p br {
    display: none;
  }
}

@media (min-width: 66em) and (min-width: 77.75em) {
  .scene-4 .frozen-msg p br {
    display: block;
  }
}

@media (min-width: 87.5em) {
  .scene-1 {
    background-image: url(/wp-content/themes/birdseye/assets/images/frozenvsfresh/bg-girl-field-l.jpg);
    background-size: contain;
    background-position: 50% 100%;
    background-repeat: no-repeat no-repeat;
    background: url(/wp-content/themes/birdseye/assets/images/frozenvsfresh/bg-girl-field-l.jpg) no-repeat center bottom/contain;
  }
}

@media (min-width: 112em) {
  .scene-1 {
    background-position: 50% 120%;
    background-position: center 120%;
  }
}