Console output: http://birdseye.dev/wp-content/themes/birdseye/assets/videos/BirdsEyeWebsite-Home-Video-Comp-5-10-2017.mp4Console output: Found 3 lazy imagesConsole output: set trueConsole output: set trueConsole output: set trueConsole output: set true.clip {
  clip: rect(1px 1px 1px 1px);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute !important;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0px;
  background-color: white;
  margin: 0;
  font-family: "museo-sans-rounded", sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5;
  color: #4A4A4A;
  padding-top: 3.75em;
  overflow-x: hidden;
}

header,
main,
nav,
section {
  display: block;
}

video {
  display: inline-block;
  vertical-align: baseline;
}

svg:not(:root) {
  overflow: hidden;
}

ul {
  padding: 0px;
  margin: 0px;
}

li {
  list-style: none;
}

button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0px;
  overflow: visible;
}

button {
  overflow: visible;
}

button {
  -webkit-appearance: none;
  cursor: pointer;
  outline: none;
  overflow: visible;
}

.screen-reader-text {
  clip: rect(1px 1px 1px 1px);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute !important;
  word-wrap: normal !important;
  clip: rect(1px, 1px, 1px, 1px);
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

body {
  font-family: museo-sans-rounded, sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5;
  color: rgb(74, 74, 74);
  margin: 0;
  background-color: white;
  font-family: "museo-sans-rounded", sans-serif;
  color: #4A4A4A;
  padding-top: 3.75em;
  overflow-x: hidden;
}

h1 {
  display: block;
  margin: 0px;
  clear: both;
  font-family: roboto-slab, Georgia, serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1;
  color: rgb(33, 84, 127);
}

h1.white {
  color: white;
}

.headline-l {
  word-spacing: -0.10417em;
  letter-spacing: -0.02083em;
  text-align: center;
  margin-left: 2.222331px;
  font-size: 1.5em;
}

.headline-l {
  font-size: 1.5em;
  word-spacing: -0.10417em;
  letter-spacing: -0.02083em;
  text-align: center;
  margin-left: 2.222331px;
}

@media screen and (min-width: 20em) {
  .headline-l {
    font-size: calc(1.5em + 1.5 * (100vw - 20em) / 48);
  }
}

@media screen and (min-width: 68em) {
  .headline-l {
    font-size: 3em;
  }
}

[class*="wf-robotoslab-"] .headline-l {
  word-spacing: 0px;
  letter-spacing: 0px;
}

a {
  color: blue;
  background-color: transparent;
  text-decoration: none;
  transition: color 0.2s ease-out;
  -webkit-transition: color 0.2s ease-out;
  -webkit-transition: color .2s ease-out;
  transition: color .2s ease-out;
}

html,
body {
  height: 100%;
  min-width: 100%;
  background-color: white;
}

body {
  padding-top: 3.75em;
  overflow-x: hidden;
  margin: 0;
  background-color: white;
  font-family: "museo-sans-rounded", sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5;
  color: #4A4A4A;
}

body.page-template-page-template-home {
  padding-top: 0px;
}

@media (min-width: 66em) {
  body {
    padding-top: 5em;
  }

  body.page-template-page-template-home {
    padding-top: 0px;
  }
}

@media (min-width: 66em) {
  .page-template-page-template-home .site-content {
    padding-top: 100vh;
  }
}

.flex-col {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

svg {
  transition: fill 0.25s ease-out;
  -webkit-transition: fill 0.25s ease-out;
}

.social-links {
  display: -webkit-flex;
  -webkit-justify-content: space-between;
  width: 8em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  opacity: 0;
  -webkit-transform: translate3d(150%, 0, 0);
  -ms-transform: translate3d(150%, 0, 0);
  transform: translate3d(150%, 0, 0);
  -webkit-transition: -webkit-transform 0.2s linear, opacity 0.25s linear;
  transition: transform 0.2s linear, opacity 0.25s linear;
}

.social-links a {
  display: block;
  padding: 0px 1em 0px 0px;
  padding: 0 1em 0 0;
}

.social-links svg {
  width: 1em;
  height: 1em;
  margin: auto 0px;
  margin: auto 0;
}

.social-links .fb {
  width: 7px;
}

.social-links .twitter {
  width: 17.5px;
}

.site-header .social-links {
  position: relative;
  width: 12em;
  margin: 27em auto 0px;
  margin: 27em auto 0;
}

.site-header .social-links svg {
  font-size: 0.875em;
  width: 2em;
  height: 2em;
  fill: #ffffff;
  fill: white;
}

@media (min-width: 66em) {
  .site-header .social-links {
    width: 6em;
    margin: 0px;
    margin: 0;
  }

  .site-header .social-links a {
    padding: 0.5em;
  }

  .site-header .social-links svg {
    width: 0.875em;
    height: 0.875em;
    fill: #6b6b6b;
    fill: #6B6B6B;
  }
}

.header-alt .social-links svg {
  fill: #ffffff;
  fill: white;
}

.site-header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 3.75em;
  padding: 0px 0.625em;
  z-index: 18;
  background-color: transparent;
  transition: background-color 0.2s ease-out;
  -webkit-transition: background-color 0.2s ease-out;
  top: 0;
  left: 0;
  padding: 0 0.625em;
}

.site-header.header-alt {
  background-color: transparent;
}

.site-logo {
  display: block;
  position: absolute;
  top: 0.875em;
  left: calc(50% - 55px);
  width: 110px;
  height: 55px;
  z-index: 2;
  -webkit-transform-origin: 50% 0%;
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
}

.nav-toggle {
  display: block;
  position: absolute;
  padding: 0px;
  border: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  top: 27px;
  right: 18px;
  width: 1.5em;
  height: 1em;
  font-size: 1em;
  background-color: transparent;
  z-index: 2;
  padding: 0;
  border: 0;
  border-radius: 0;
  touch-action: manipulation;
}

.nav-toggle .burger {
  display: block;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 3px;
  background-color: rgb(33, 84, 127);
  cursor: pointer;
  -webkit-transition: opacity 0.2s ease-out 0.3s, -webkit-transform 0.2s ease-out 0.3s, background-color 0.2s ease-out 0.3s;
  transition: opacity 0.2s ease-out 0.3s, -webkit-transform 0.2s ease-out 0.3s, background-color 0.2s ease-out 0.3s;
  top: 0;
  background-color: #21547F;
  -webkit-transition: opacity .2s ease-out .3s, -webkit-transform .2s ease-out .3s, background-color .2s ease-out .3s;
  transition: opacity .2s ease-out .3s, transform .2s ease-out .3s, background-color .2s ease-out .3s;
}

.nav-toggle .burger.middle {
  top: 6px;
}

.nav-toggle .burger.bottom {
  top: 12px;
}

.site-nav {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100vh;
  padding-bottom: 4em;
  overflow-y: auto;
  background-color: rgba(33, 84, 127, 0.980392);
  opacity: 0.3;
  -webkit-transform: translate3d(100%, 0px, 0px);
  -webkit-transition: -webkit-transform 0.2s linear, opacity 0.25s linear;
  transition: -webkit-transform 0.2s linear, opacity 0.25s linear;
  top: 0;
  right: 0;
  background-color: rgba(33, 84, 127, 0.98);
  -webkit-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  transition: transform 0.2s linear, opacity 0.25s linear;
}

.site-nav a {
  display: block;
  color: white;
  font-size: 0.875em;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
}

.site-nav .main-nav-container {
  width: 90%;
  margin: 6em auto 0px;
  margin: 6em auto 0;
}

.main-nav > li {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(4, 183, 227);
  border-bottom: 1px solid #04B7E3;
}

.main-nav > li > a {
  padding: 1em;
  margin: 0.25em 0px;
  margin: 0.25em 0;
}

.main-nav > li.menu-item-has-children > a {
  padding-bottom: 0em;
}

.main-nav > li.last-item {
  margin-bottom: 1em;
  border-bottom-style: none;
  border-bottom: none;
}

.social-links {
  opacity: 0;
  -webkit-transform: translate3d(150%, 0px, 0px);
  -webkit-transition: -webkit-transform 0.2s linear, opacity 0.25s linear;
  transition: -webkit-transform 0.2s linear, opacity 0.25s linear;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 8em;
  -webkit-transform: translate3d(150%, 0, 0);
  -ms-transform: translate3d(150%, 0, 0);
  transform: translate3d(150%, 0, 0);
  transition: transform 0.2s linear, opacity 0.25s linear;
}

.page-template-page-template-home .buy-link-alt {
  display: none;
}

@media (min-width: 66em) {
  .site-header {
    background-color: white;
  }

  .site-header.header-alt {
    background-color: transparent;
  }

  .site-header.header-alt .main-nav > li > a {
    color: white;
  }

  .site-header .social-links {
    position: absolute;
    top: 1.1875em;
    right: 0.75em;
    opacity: 1;
    -webkit-transform: translateY(0px);
    width: 6em;
    margin: 0;
  }

  .site-logo {
    left: 1em;
    right: auto;
    margin: 0px;
    margin: 0;
  }

  .nav-toggle {
    display: none;
  }

  .site-nav {
    display: -webkit-flex;
    -webkit-justify-content: flex-end;
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 0px;
    overflow-y: visible;
    opacity: 1;
    background-color: transparent;
    -webkit-transform: translate3d(0px, 0px, 0px);
  }

  .site-nav .main-nav-container {
    position: relative;
    width: 100%;
    margin: auto 0px;
  }

  .main-nav {
    display: -webkit-flex;
    -webkit-justify-content: flex-end;
    width: calc(100% - 8em);
    padding-top: 1.125em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .main-nav > li {
    margin-left: 2em;
    border-width: 0px;
    border-width: 0;
  }

  .main-nav > li:first-child {
    margin-left: 0px;
    margin-left: 0;
  }

  .main-nav > li.menu-item-has-children {
    position: relative;
  }

  .main-nav > li.menu-item-has-children > a {
    padding-bottom: 1em;
    padding-bottom: 1.5em;
  }

  .main-nav > li.last-item {
    margin: 0px 0px 0px 3.5em;
    margin: 0 0 0 3.5em;
  }

  .main-nav > li.last-item a {
    color: rgb(238, 47, 37);
    color: #EE2F25;
  }

  .main-nav > li > a {
    margin: 0px;
    padding: 1em 0px;
    color: rgb(107, 107, 107);
    margin: 0;
    padding: 1em 0;
    color: #6B6B6B;
  }

  .page-template-page-template-home .site-logo {
    left: calc(50% - 55px);
  }

  .page-template-page-template-home .site-nav {
    position: fixed;
    top: calc(100% - 3.75em);
    left: 0px;
    height: 3.75em;
    background-color: white;
    left: 0;
  }

  .page-template-page-template-home .site-nav .main-nav-container {
    margin: 0px auto;
    margin: 0 auto;
  }

  .page-template-page-template-home .site-header .main-nav {
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media (min-width: 66em) and (min-width: 73em) {
  .page-template-page-template-home .site-header .main-nav {
    width: 100%;
  }
}

@media (min-width: 66em) {
  .page-template-page-template-home .site-header .main-nav > li.last-item {
    display: none;
  }

  .page-template-page-template-home .site-header .main-nav > li > a {
    color: rgb(107, 107, 107);
    color: #6B6B6B;
  }

  .page-template-page-template-home .site-header .social-links {
    -webkit-align-items: center;
    width: 15.125em;
    top: 0.375em;
    right: 3px;
    -webkit-transform: translateY(12px);
    -ms-flex-align: center;
    align-items: center;
    -ms-transform: translateY(12px);
    transform: translateY(12px);
  }

  .page-template-page-template-home .site-header .social-links .buy-link-alt {
    display: block;
  }

  .page-template-page-template-home .site-header .social-links .buy-link-alt a {
    display: block;
    padding: 1em 0px;
    font-size: 0.875em;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    color: rgb(107, 107, 107);
    padding: 1em 0;
    color: #6B6B6B;
  }

  .page-template-page-template-home .site-header .social-links svg {
    fill: #6b6b6b;
    fill: #6B6B6B;
  }
}

@media (min-width: 83em) {
  .site-header {
    padding-top: 1.5em;
    height: 5em;
  }

  .site-header .social-links {
    top: 1.1875em;
    -webkit-transform: translateY(0px);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  .site-logo {
    width: 156px;
    height: 78px;
  }

  .main-nav {
    padding-top: 0px;
    padding-top: 0;
  }

  .main-nav > li {
    margin-left: 4em;
  }

  .main-nav > li.last-item {
    margin: 0px 0px 0px 7.875em;
    margin: 0 0 0 7.875em;
  }

  .main-nav > li.menu-item-has-children > a {
    padding-bottom: 1.5em;
  }

  .main-nav > li > a {
    padding: 1.5em 0px;
    padding: 1.5em 0;
  }

  .site-header .social-links {
    top: 1.9375em;
    top: 1.1875em;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  .page-template-page-template-home .site-nav {
    top: calc(100% - 5em);
    height: 5em;
  }

  .page-template-page-template-home .site-header .main-nav {
    -webkit-justify-content: flex-end;
    width: calc((100% - 8em) - 226px);
    padding-top: 1.5em;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: calc(100% - 8em - 226px);
  }

  .page-template-page-template-home .site-header .social-links {
    top: 1.1875em;
  }

  .page-template-page-template-home .site-logo {
    left: calc(50% - 78px);
  }
}

.hero {
  display: block;
  position: relative;
  height: 35em;
  overflow-x: hidden;
  z-index: 3;
  height: 75vh;
}

.hero::after {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  min-width: 100%;
  min-height: 100%;
  background-image: url(/wp-content/themes/birdseye/assets/images/home/video-cover-s.jpg);
  background-size: cover;
  background-position: 22% 0%;
  background-repeat: no-repeat no-repeat;
}

.hero .headline-l {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 100%;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.hero video {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  object-fit: cover;
}

@media (min-width: 50em) {
  .hero {
    height: 100vh;
  }

  .hero::after {
    background-image: url(/wp-content/themes/birdseye/assets/images/home/video-cover-m.jpg);
    background-size: cover;
    background-position: 22% 0%;
    background-repeat: no-repeat no-repeat;
  }
}

@media (min-width: 66em) {
  .hero {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    top: 0;
  }
}

@media (min-width: 87.5em) {
  .hero {
    max-height: 96vh;
    max-height: 62.5em;
  }

  .hero::after {
    background-image: url(/wp-content/themes/birdseye/assets/images/home/video-cover-l.jpg);
    background-size: cover;
    background-position: 22% 0%;
    background-repeat: no-repeat no-repeat;
  }
}

.panel {
  padding-top: 2em;
  padding-bottom: 2em;
}

.panel.panel-mission {
  position: relative;
  z-index: 4;
  height: 68vw;
  max-height: 41.375em;
  background-image: url(/wp-content/themes/birdseye/assets/images/panels/bg-carrots-s.jpg);
  background-size: cover;
  background-position: 0% 0%;
  background-repeat: no-repeat no-repeat;
  background: url(/wp-content/themes/birdseye/assets/images/panels/bg-carrots-s.jpg) no-repeat left top/cover;
}

@media (min-width: 50em) {
  .panel.panel-mission {
    background-image: url(/wp-content/themes/birdseye/assets/images/panels/bg-carrots-m.jpg);
    background-size: cover;
    background-position: 0% 0%;
    background-repeat: no-repeat no-repeat;
    background: url(/wp-content/themes/birdseye/assets/images/panels/bg-carrots-m.jpg) no-repeat left top/cover;
  }
}

@media (min-width: 87.5em) {
  .panel.panel-mission {
    background-image: url(/wp-content/themes/birdseye/assets/images/panels/bg-carrots-l.jpg);
    background-size: cover;
    background-position: 0% 0%;
    background-repeat: no-repeat no-repeat;
    background: url(/wp-content/themes/birdseye/assets/images/panels/bg-carrots-l.jpg) no-repeat left top/cover;
  }
}

button {
  border: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  overflow: visible;
}

button {
  display: block;
  width: 100%;
  max-width: 11.78571em;
  padding: 1.28571em 0px;
  text-align: center;
  color: rgb(241, 245, 247);
  text-transform: uppercase;
  background-color: rgb(4, 183, 227);
  transition: color 0.2s ease, background-color 0.2s ease;
  -webkit-transition: color 0.2s ease, background-color 0.2s ease;
  overflow: visible;
}

button:not(.slick-arrow) {
  font-size: 0.875em;
}

button:not(.slick-arrow) {
  font-size: 0.7em;
}

@media screen and (min-width: 20em) {

}

@media screen and (min-width: 68em) {
  button:not(.slick-arrow) {
    font-size: 0.875em;
  }
}

img {
  height: auto;
  max-width: 100%;
  border-width: 0px;
  border-width: 0;
}