Console output: Found 0 lazy imagesConsole output: set trueConsole output: set trueConsole output: set trueConsole output: set true.clip {
  clip: rect(1px 1px 1px 1px);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute !important;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0px;
  background-color: white;
  margin: 0;
  font-family: "museo-sans-rounded", sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5;
  color: #4A4A4A;
  padding-top: 3.75em;
  overflow-x: hidden;
}

footer,
header,
main,
nav,
section {
  display: block;
}

svg:not(:root) {
  overflow: hidden;
}

ul {
  padding: 0px;
  margin: 0px;
}

li {
  list-style: none;
}

button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0px;
  overflow: visible;
}

button {
  overflow: visible;
}

button {
  -webkit-appearance: none;
  cursor: pointer;
  outline: none;
  overflow: visible;
}

.screen-reader-text {
  clip: rect(1px 1px 1px 1px);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute !important;
  word-wrap: normal !important;
  clip: rect(1px, 1px, 1px, 1px);
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

body {
  font-family: museo-sans-rounded, sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5;
  color: rgb(74, 74, 74);
  margin: 0;
  background-color: white;
  font-family: "museo-sans-rounded", sans-serif;
  color: #4A4A4A;
  padding-top: 3.75em;
  overflow-x: hidden;
}

h3 {
  display: block;
  margin: 0px;
  clear: both;
  font-family: roboto-slab, Georgia, serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1;
  color: rgb(33, 84, 127);
}

h3.white {
  color: white;
}

.headline-f {
  line-height: 1.25;
  font-size: 1em;
}

.headline-f {
  font-size: 1em;
  line-height: 1.25;
}

@media screen and (min-width: 20em) {
  .headline-f {
    font-size: calc(1em + 0.5 * (100vw - 20em) / 48);
  }
}

@media screen and (min-width: 68em) {
  .headline-f {
    font-size: 1.5em;
  }
}

a {
  color: blue;
  background-color: transparent;
  text-decoration: none;
  transition: color 0.2s ease-out;
  -webkit-transition: color 0.2s ease-out;
  -webkit-transition: color .2s ease-out;
  transition: color .2s ease-out;
}

html,
body {
  height: 100%;
  min-width: 100%;
  background-color: white;
}

body {
  padding-top: 3.75em;
  overflow-x: hidden;
  margin: 0;
  background-color: white;
  font-family: "museo-sans-rounded", sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5;
  color: #4A4A4A;
}

@media (min-width: 66em) {
  body {
    padding-top: 5em;
  }
}

[class*="container-"] {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}

.container-site {
  max-width: 72.5em;
}

.flex-col {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-row {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
}

.bg-gradient {
  background-image: linear-gradient(90deg, rgb(3, 186, 230) 1%, rgb(33, 84, 127) 99%);
  background-image: -webkit-linear-gradient(0deg, #03BAE6 1%, #21547F 99%);
  background-image: linear-gradient(90deg, #03BAE6 1%, #21547F 99%);
}

svg {
  transition: fill 0.25s ease-out;
  -webkit-transition: fill 0.25s ease-out;
}

.social-links {
  display: -webkit-flex;
  -webkit-justify-content: space-between;
  width: 8em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  opacity: 0;
  -webkit-transform: translate3d(150%, 0, 0);
  -ms-transform: translate3d(150%, 0, 0);
  transform: translate3d(150%, 0, 0);
  -webkit-transition: -webkit-transform 0.2s linear, opacity 0.25s linear;
  transition: transform 0.2s linear, opacity 0.25s linear;
}

.social-links a {
  display: block;
  padding: 0px 1em 0px 0px;
  padding: 0 1em 0 0;
}

.social-links svg {
  width: 1em;
  height: 1em;
  margin: auto 0px;
  margin: auto 0;
}

.social-links .fb {
  width: 7px;
}

.social-links .twitter {
  width: 17.5px;
}

.site-header .social-links {
  position: relative;
  width: 12em;
  margin: 27em auto 0px;
  margin: 27em auto 0;
}

.site-header .social-links svg {
  font-size: 0.875em;
  width: 2em;
  height: 2em;
  fill: #ffffff;
  fill: white;
}

@media (min-width: 66em) {
  .site-header .social-links {
    width: 6em;
    margin: 0px;
    margin: 0;
  }

  .site-header .social-links a {
    padding: 0.5em;
  }

  .site-header .social-links svg {
    width: 0.875em;
    height: 0.875em;
    fill: #6b6b6b;
    fill: #6B6B6B;
  }
}

.site-header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 3.75em;
  padding: 0px 0.625em;
  z-index: 18;
  background-color: transparent;
  transition: background-color 0.2s ease-out;
  -webkit-transition: background-color 0.2s ease-out;
  top: 0;
  left: 0;
  padding: 0 0.625em;
}

.site-logo {
  display: block;
  position: absolute;
  top: 0.875em;
  left: calc(50% - 55px);
  width: 110px;
  height: 55px;
  z-index: 2;
  -webkit-transform-origin: 50% 0%;
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
}

.nav-toggle {
  display: block;
  position: absolute;
  padding: 0px;
  border: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  top: 27px;
  right: 18px;
  width: 1.5em;
  height: 1em;
  font-size: 1em;
  background-color: transparent;
  z-index: 2;
  padding: 0;
  border: 0;
  border-radius: 0;
  touch-action: manipulation;
}

.nav-toggle .burger {
  display: block;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 3px;
  background-color: rgb(33, 84, 127);
  cursor: pointer;
  -webkit-transition: opacity 0.2s ease-out 0.3s, -webkit-transform 0.2s ease-out 0.3s, background-color 0.2s ease-out 0.3s;
  transition: opacity 0.2s ease-out 0.3s, -webkit-transform 0.2s ease-out 0.3s, background-color 0.2s ease-out 0.3s;
  top: 0;
  background-color: #21547F;
  -webkit-transition: opacity .2s ease-out .3s, -webkit-transform .2s ease-out .3s, background-color .2s ease-out .3s;
  transition: opacity .2s ease-out .3s, transform .2s ease-out .3s, background-color .2s ease-out .3s;
}

.nav-toggle .burger.middle {
  top: 6px;
}

.nav-toggle .burger.bottom {
  top: 12px;
}

.site-nav {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100vh;
  padding-bottom: 4em;
  overflow-y: auto;
  background-color: rgba(33, 84, 127, 0.980392);
  opacity: 0.3;
  -webkit-transform: translate3d(100%, 0px, 0px);
  -webkit-transition: -webkit-transform 0.2s linear, opacity 0.25s linear;
  transition: -webkit-transform 0.2s linear, opacity 0.25s linear;
  top: 0;
  right: 0;
  background-color: rgba(33, 84, 127, 0.98);
  -webkit-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  transition: transform 0.2s linear, opacity 0.25s linear;
}

.site-nav a {
  display: block;
  color: white;
  font-size: 0.875em;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
}

.site-nav .main-nav-container {
  width: 90%;
  margin: 6em auto 0px;
  margin: 6em auto 0;
}

.main-nav > li {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(4, 183, 227);
  border-bottom: 1px solid #04B7E3;
}

.main-nav > li > a {
  padding: 1em;
  margin: 0.25em 0px;
  margin: 0.25em 0;
}

.main-nav > li.menu-item-has-children > a {
  padding-bottom: 0em;
}

.main-nav > li.last-item {
  margin-bottom: 1em;
  border-bottom-style: none;
  border-bottom: none;
}

.main-nav li.current-menu-item > a {
  color: rgb(4, 183, 227);
  color: #04B7E3;
}

.sub-menu {
  display: -webkit-flex;
  -webkit-flex-flow: row nowrap;
  -webkit-justify-content: flex-start;
  margin-bottom: 0.5em;
  padding-left: 1.5em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.sub-menu li {
  position: relative;
  margin-right: 1em;
}

.sub-menu li::after {
  content: '';
  display: block;
  position: absolute;
  top: 9px;
  bottom: 0px;
  right: -0.5em;
  width: 1px;
  height: calc(100% - 18px);
  background-color: rgb(4, 183, 227);
}

.sub-menu li:last-of-type::after {
  display: none;
}

.sub-menu a {
  padding: 0.75em 0.25em;
  font-size: 12px;
  font-weight: 300;
  color: rgb(241, 245, 247);
  color: #F1F5F7;
}

.social-links {
  opacity: 0;
  -webkit-transform: translate3d(150%, 0px, 0px);
  -webkit-transition: -webkit-transform 0.2s linear, opacity 0.25s linear;
  transition: -webkit-transform 0.2s linear, opacity 0.25s linear;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 8em;
  -webkit-transform: translate3d(150%, 0, 0);
  -ms-transform: translate3d(150%, 0, 0);
  transform: translate3d(150%, 0, 0);
  transition: transform 0.2s linear, opacity 0.25s linear;
}

@media (min-width: 66em) {
  .site-header {
    background-color: white;
  }

  .site-header .social-links {
    position: absolute;
    top: 1.1875em;
    right: 0.75em;
    opacity: 1;
    -webkit-transform: translateY(0px);
    width: 6em;
    margin: 0;
  }

  .site-logo {
    left: 1em;
    right: auto;
    margin: 0px;
    margin: 0;
  }

  .nav-toggle {
    display: none;
  }

  .site-nav {
    display: -webkit-flex;
    -webkit-justify-content: flex-end;
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 0px;
    overflow-y: visible;
    opacity: 1;
    background-color: transparent;
    -webkit-transform: translate3d(0px, 0px, 0px);
  }

  .site-nav .main-nav-container {
    position: relative;
    width: 100%;
    margin: auto 0px;
  }

  .main-nav {
    display: -webkit-flex;
    -webkit-justify-content: flex-end;
    width: calc(100% - 8em);
    padding-top: 1.125em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .main-nav > li {
    margin-left: 2em;
    border-width: 0px;
    border-width: 0;
  }

  .main-nav > li:first-child {
    margin-left: 0px;
    margin-left: 0;
  }

  .main-nav > li.menu-item-has-children {
    position: relative;
  }

  .main-nav > li.menu-item-has-children > a {
    padding-bottom: 1em;
    padding-bottom: 1.5em;
  }

  .main-nav > li.last-item {
    margin: 0px 0px 0px 3.5em;
    margin: 0 0 0 3.5em;
  }

  .main-nav > li.last-item a {
    color: rgb(238, 47, 37);
    color: #EE2F25;
  }

  .main-nav > li > a {
    margin: 0px;
    padding: 1em 0px;
    color: rgb(107, 107, 107);
    margin: 0;
    padding: 1em 0;
    color: #6B6B6B;
  }

  .main-nav > li.current-menu-item > a {
    color: rgb(33, 84, 127);
    color: #21547F;
  }

  .sub-menu {
    -webkit-flex-flow: column nowrap;
    position: absolute;
    left: 50%;
    width: 10.125em;
    height: 0px;
    margin: 0px;
    padding: 0px;
    background-color: rgb(33, 84, 127);
    text-align: center;
    opacity: 0;
    overflow: hidden;
    -webkit-transform: translateX(-50%);
    transition: opacity 0.2s ease-out, padding 0.2s ease-out;
    -webkit-transition: opacity 0.2s ease-out, padding 0.2s ease-out;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    height: 0;
    margin: 0;
    padding: 0;
    background-color: #21547F;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .sub-menu li {
    margin: 0px;
    font-size: 0.875em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(4, 183, 227);
    margin: 0;
    border-bottom: 1px solid #04B7E3;
  }

  .sub-menu li::after {
    display: none;
  }

  .sub-menu li:last-of-type {
    border-width: 0px;
    border-width: 0;
  }

  .sub-menu a {
    padding: 1em 0.25em;
    font-size: 1em;
    font-weight: 500;
    color: white;
  }
}

@media (min-width: 83em) {
  .site-header {
    padding-top: 1.5em;
    height: 5em;
  }

  .site-header .social-links {
    top: 1.1875em;
    -webkit-transform: translateY(0px);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  .site-logo {
    width: 156px;
    height: 78px;
  }

  .main-nav {
    padding-top: 0px;
    padding-top: 0;
  }

  .main-nav > li {
    margin-left: 4em;
  }

  .main-nav > li.last-item {
    margin: 0px 0px 0px 7.875em;
    margin: 0 0 0 7.875em;
  }

  .main-nav > li.menu-item-has-children > a {
    padding-bottom: 1.5em;
  }

  .main-nav > li > a {
    padding: 1.5em 0px;
    padding: 1.5em 0;
  }

  .site-header .social-links {
    top: 1.9375em;
    top: 1.1875em;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.panel {
  padding-top: 2em;
  padding-bottom: 2em;
}

.panel .panel-msg {
  margin: auto;
}

button {
  border: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  overflow: visible;
}

button {
  display: block;
  width: 100%;
  max-width: 11.78571em;
  padding: 1.28571em 0px;
  text-align: center;
  color: rgb(241, 245, 247);
  text-transform: uppercase;
  background-color: rgb(4, 183, 227);
  transition: color 0.2s ease, background-color 0.2s ease;
  -webkit-transition: color 0.2s ease, background-color 0.2s ease;
  overflow: visible;
}

button:not(.slick-arrow) {
  font-size: 0.875em;
}

button:not(.slick-arrow) {
  font-size: 0.7em;
}

@media screen and (min-width: 20em) {

}

@media screen and (min-width: 68em) {
  button:not(.slick-arrow) {
    font-size: 0.875em;
  }
}

img {
  height: auto;
  max-width: 100%;
  border-width: 0px;
  border-width: 0;
}

.site-footer {
  position: relative;
  z-index: 3;
  background-color: white;
}

.site-footer::before {
  content: '';
  display: block;
  width: 100%;
  height: 40.7vw;
  background-image: url(/wp-content/themes/birdseye/assets/images/global/veg-footer-s.jpg);
  background-size: cover;
  background-position: 50% 0%;
  background-repeat: no-repeat no-repeat;
}

.footer-msg {
  height: 100%;
}

.footer-msg .headline-f {
  margin: 2em 0px calc(2em + 64px);
  line-height: 1.2;
  text-align: center;
  margin: 2em 0 calc(2em + 64px);
}

.footer-msg .container-site {
  background-image: url(/wp-content/themes/birdseye/assets/images/global/birdseye-logo-veggie-good.png);
  -webkit-background-size: 6.25em 4em;
  background-size: 6.25em 4em;
  background-position: 50% 90%;
  background-repeat: no-repeat no-repeat;
  background-repeat: no-repeat;
  background-position: center 90%;
}

.footer-nav {
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;
}

.footer-nav ul {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer-nav .menu-item {
  -webkit-flex: 1 0 auto;
  width: 50%;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.footer-nav .menu-item a {
  display: block;
  padding: 0.75em 0px;
  font-size: 0.75em;
  text-transform: uppercase;
  color: rgb(58, 58, 82);
  padding: 0.75em 0;
  color: #3A3A52;
}

.footer-nav .social-links {
  padding-top: 2em;
}

@media (min-width: 40em) {
  .footer-msg .headline-f {
    margin-bottom: 2.125em;
    text-align: left;
  }

  .footer-msg .container-site {
    background-image: url(/wp-content/themes/birdseye/assets/images/global/birdseye-logo-veggie-good@2x.png);
    -webkit-background-size: 8.4375em 5.4375em;
    background-size: 8.4375em 5.4375em;
    background-position: right 1em top 1.875em;
  }

  .footer-nav .menu-item {
    width: 25%;
  }
}

@media (min-width: 66em) {
  .footer-nav .social-links {
    padding-top: 0px;
    padding-top: 0;
  }
}

@media (min-width: 50em) {
  .site-footer::before {
    margin-top: -3.75vw;
    background-image: url(/wp-content/themes/birdseye/assets/images/global/veg-footer-m.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat;
  }

  .footer-msg .container-site {
    position: relative;
  }

  .footer-msg .container-site::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -4.5em;
    width: 26.25em;
    height: 20.9375em;
    background-image: url(/wp-content/themes/birdseye/assets/images/global/birds-silo.png);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat;
  }

  .footer-msg .container-site::after {
    right: 166px;
  }
}

@media screen and (min-width: 50em) and (min-width: 800px) {

}

@media screen and (min-width: 1400px) and (min-width: 50em) {
  .footer-msg .container-site::after {
    right: 192px;
  }
}

@media (min-width: 50em) {
  .footer-msg .container-site::after {
    font-size: 0.5em;
  }
}

@media screen and (min-width: 50em) {

}

@media screen and (min-width: 50em) and (min-width: 87.5em) {
  .footer-msg .container-site::after {
    font-size: 1em;
  }
}

@media (min-width: 59em) {
  .footer-nav .menu-item {
    width: auto;
    -webkit-flex-grow: 0;
    -webkit-flex-shrink: 0;
    -webkit-flex-basis: auto;
    margin-right: 2.875em;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .footer-nav .menu-item:nth-of-type(n + 6) {
    margin-right: 1.5em;
  }

  .footer-nav .menu-item:last-of-type {
    margin-right: 0px;
    margin-right: 0;
  }
}

@media (min-width: 66em) {
  .footer-msg .container-site {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 13.125em;
  }

  .footer-msg .container-site {
    height: 13.125em;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 50em) and (min-width: 66em) {

}

@media screen and (min-width: 66em) and (min-width: 87.5em) {
  .footer-msg .container-site {
    height: 18em;
  }
}

@media (min-width: 66em) {
  .footer-msg .headline-f {
    margin: auto 0px;
    margin: auto 0;
  }
}

@media (min-width: 68em) {
  .footer-nav {
    display: -webkit-flex;
    -webkit-flex-flow: row;
    -webkit-justify-content: flex-end;
    -webkit-align-items: center;
    position: relative;
    height: 7.5em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row;
    flex-flow: row;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer-nav .social-links {
    position: absolute;
    top: 50%;
    right: 1em;
    padding-top: 0px;
    -webkit-transform: translateY(-50%);
    padding-top: 0;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .footer-nav .menu-item:nth-of-type(5) {
    margin-right: 2.875em;
  }
}

@media screen and (min-width: 68em) {

}

@media screen and (min-width: 68em) and (min-width: 74em) {
  .footer-nav .menu-item:nth-of-type(5) {
    margin-right: 10.25em;
  }
}

@media (min-width: 68em) {
  .footer-nav .menu-item:last-of-type {
    margin-right: 1.5em;
  }

  .footer-nav .footer-nav-container {
    margin-right: 8em;
  }
}

@media (min-width: 87.5em) {
  .site-footer::before {
    background-image: url(/wp-content/themes/birdseye/assets/images/global/veg-footer-l.jpg);
    background-size: cover;
    background-position: 50% 0%;
    background-repeat: no-repeat no-repeat;
  }
}