/* normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css
- customized version: box sizing added
- some styles removed
- incorporated styles into partials when properties would be set regardless
--------------------------------------------------------------------------- */

*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  font-size: 62.5%;
}
body {
  margin: 0;
  background-color: white;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
svg:not(:root) {
  overflow: hidden;
}

// my additions
ul,
ol {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}

/* Forms
   ========================================================================== */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"],
input[type="search"] {
  -webkit-appearance: none; /* 2 */
  cursor: pointer; /* 3 */
  outline: none;
}

button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
}

/* Tables
   ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}