// Colors
$blue-dark: #21547F;
$blue-light: #04B7E3;
$black: #4A4A4A;
$gray-dark: #6B6B6B;
$gray-lightest: #F1F5F7;
$gray-blue: #3A3A52;
$red: #EE2F25;
$orange: #F6A623;
$yellow: #F5C96A;

// Sizes
$header: (60/16)*1em;
$header-l: 5em;
$nav-width: 19em;

// Break Points
$bp-m: 40em;
$bp-bg: 50em;
$bp-nav: 66em;
$bp-max-font: 68em;
$bp-nav-big: 83em;
$bp-l: 87.5em; 
$bp-mobile-animation: 767px;