html, body {
	height: 100%;
	min-height: 100%;
	min-width: 100%;
	background-color: white;
}
body {
	padding-top: $header;
	//overflow-x: hidden;
	height: 100%;
	.nav-open & {
		//overflow-y: hidden;
	}
	.touchevents & {
		-webkit-overflow-scrolling: touch;
	}
	&.single-product,
	&.single-recipe,
	&.page-template-page-template-our-farms,
	&.page-template-page-template-our-roots,
	&.page-template-page-template-products-listing,
	&.page-template-page-template-recipes,
	&.page-template-page-template-home,
	&.page-template-page-template-mission {
		padding-top: 0;
	}

	@media(min-width: $bp-nav) {
		.nav-open & {
			overflow-y: auto;
		}
	}

	@media(min-width: $bp-nav-big) {
		padding-top: $header-l;
		&.single-product,
		&.single-recipe,
		&.page-template-page-template-our-farms,
		&.page-template-page-template-our-roots,
		&.page-template-page-template-products-listing,
		&.page-template-page-template-recipes,
		&.page-template-page-template-home,
		&.page-template-page-template-mission {
			padding-top: 0;
		}
	}
}

img.lazy[data-src] {
	width: 1px;
	height: 1px;
}

.touchevents {
	.site-content {
		transform: translateZ(0);
		//overflow-x: hidden;
	}
}

// @media (min-width: $bp-nav) {
// 	.page-template-page-template-home {
// 		.site-content {
// 			padding-top: 100vh;
// 		}
// 	}
// }

// structure
[class*='container-'] {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
	padding-right: 1em;
  &.clear:after {
    @include clear;
  }
}
.container-site {
	max-width: (1160/16)*1em;
}
.container-xl {
	max-width: 92.5em;
}
.container-media {
	max-width: 64.5em;
	&:not(.single-asset) {
		max-width: 76.5em;
	}
}
.container-mission {
	max-width: (1090/16)*1em;
	@media (min-width: $bp-nav) {
		position: relative;
	}
}
.container-m {
	max-width: 66.5em;
	padding-left: 1em;
	padding-right: 1em;
}
.container-s {
	max-width: (746/16)*1em;
	padding-left: 2em;
	padding-right: 2em;
}

/* common flexbox classes */
// flex parents
.flex-col {
	display: flex;
	flex-direction: column;
}
.flex-row {
	display: flex;
	flex-direction: row;
}
// flex children

// flex btns
.btns {
	&.flex-row {
		justify-content: center;
		@media (min-width: $bp-nav) {
			justify-content: flex-start;
		}
	}
	.btn {
		flex: 1 auto;
		&:first-of-type {
			margin-right: 0.25em;
		}
		&:last-of-type {
			margin-left: 0.25em;
		}
	}
}

.bg-gradient {
	//background-image: linear-gradient(90deg, #03BAE6 1%, #21547F 99%);
	background-image: linear-gradient(99deg, #21547F 1%, #03BAE6 90%);
}

// back to top
.back-up {
	width: (80 / 16)*1em;
	margin: 0 auto 2em;
	cursor: pointer;
	text-align: center;
	text-transform: uppercase;
	span {
		font-size: 12px;
	}
	&:before {
		display: block;
		content: '';
		width: 2em;
		height: 2em;
		margin: 0 auto 0.5em;
		border-radius: 50%;
		background: $blue-light url('../icons/up.svg') no-repeat center / 1em 0.5em;
		transition: background-color 0.2s ease;
	}
	&:hover {
		&:before {
			background-color: darken($blue-light, 5%);
		}
	}
	@media (min-width: $bp-nav) {
		position: fixed;
		top: 50%;
		//left: (((265 - 80) / 2) + 16)*1px;
		left: calc(100vw - 1200px);
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.2s ease, visibility 0.2s ease;
		z-index: 4;
		&.show {
			opacity: 1;
			visibility: visible;
		}
	}
}

// filter toggle
.filter-toggle {
	display: flex;
	position: relative;
	margin: 0 auto 1em;
	width: 100%;
	max-width: 400px;
	height: 3em;
	padding: 0.25em 0;
	background-color: #F5F7F8;
	text-align: center;
	border: 1px solid #D8D8D8;
	border-radius: 6px;
	@include fluid(font-size, 20em, 68em, 0.75em, 1em);
	cursor: pointer;
	touch-action: manipulation;
	transition: background-color 0.3s ease, border-color 0.3s ease;
	&:focus {
		background-color: transparent;
	}
	span {
		display: block;
		line-height: 1;
		margin: auto;
		color: $blue-dark;
		text-transform: uppercase;
	}
	&:after,
	&:before {
		content: '';
		display: block;
		position: absolute;
		right: 1em;
		top: 50%;
		transform: translateY(-50%);
	}
	&:after {
		width: 0.25em;
		height: 1em;
		background: url(../icons/more_vert.svg) no-repeat center / cover;
	}
	&:before {
		width: 1em;
		height: 1em;
		background: url(../icons/close.svg) no-repeat center / cover;
		opacity: 0;
	}
	&.toggled {
		background-color: transparent;
		border-color: transparent;
		cursor: pointer;
		&:before {
			opacity: 1;
		}
		&:after {
			opacity: 0;
		}
	}
	@media (min-width: 1023px) {
		display: none;
	}
}

.content-filter {
	width: 100%;
	max-width: 400px;
	height: 0;
	margin: 0 auto 2em;
	visibility: hidden;
	opacity: 0;
	z-index: 1;
	transition: all 0.3s ease;
	&.filter-open {
		height: auto;
		opacity: 1;
		visibility: visible;
	}
	.product-veg {
		transition: transform 0.3s ease;
		&.open {
			transform: translateX(-286px);	
			@media (min-width: 1023px) {
				transform: translateX(0);
			}
		}

	}
	@media (min-width: 1023px) {
		max-width: 265px;
		height: 100%;
		margin: 0;
		visibility: visible;
		opacity: 1;

	}
}

// icons
svg {
	transition: fill 0.25s ease-out;
}
.social-links {
	display: flex;
	justify-content: space-between;
	width: 7em;
	a {
		display: block;
		padding: 0 1em 0 0;
		&:hover {
			svg {
				fill: $blue-dark;
			}
		}	
	}
	svg {
		width: 1em;
		height: 1em;
		margin: auto 0;
	}
	.fb {
		width: 7px;
	}
	.twitter {
		width: 17.5px;
	}
	.site-header & {
		position: relative;
		width: 12em;
		margin: 26em auto 0;
		svg {
			font-size: 0.875em;
			width: 2em;
			height: 2em;
			fill: white;
		}
		@media (min-width: $bp-nav) {
			margin: 0;
			a {
				padding: 0.5em;
			}
			svg {
				width: 1em;
				height: 1em;
				fill: $gray-dark;
			}
		}
	}
	.header-alt & {
		svg {
			fill: white;
		}
		a:hover svg {
			fill: $blue-dark;
		}
	}
	.scrolled & {
		.header-alt & {
			svg {
				fill: $red;
			}
			a {
				color: $gray-dark;
			}
		}

	}

	.site-footer & {
		opacity: 1;
		li:last-of-type a {
			padding: 0;
		}
		a {
			display: inline-block;
			vertical-align: text-top;
		}
		svg {
			fill: $gray-dark;
		}
	}
}

// line breaks that are too long on small screens
.no-break br {
	display: none;
	@media (min-width: $bp-bg) {
		display: block;
	}
}

.h-pad {
	padding-left: 1em;
	padding-right: 1em;	
}



