$headline-font: 'roboto-slab'; // 400, 700
$body-font: "museo-sans-rounded", sans-serif; // 300, 500, 700

body {
	font-family: $body-font;
	font-size: 16px;
	font-weight: 300;
	font-style: normal;
	line-height: 1.5;
	color: $black;
}

// headlines
h1,h2,h3,h4,h5,h6 {
	display: block;
	margin: 0;
  clear: both;
  font-family: Georgia, serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1;
  color: $blue-dark;
  &.white {
  	color: white;
  }
  [class*='wf-robotoslab-'] & {
  	font-family: $headline-font, Georgia, serif;
  }
}

/* fancy headline treatment
 *
 * 5 dif sizes of roboto & 2 dif sizes museo
 * biggest(lead) in block sets size
 *  ie; .lead-70 -> 70px / 16px = 4.375em
 * smaller sizes in block set using % of lead

*/ 
.headline-block {
	text-align: center;
	span {
		display: block;
		@include fluid(line-height, 320px, 1088px, 28px, 42px);	
	}
	&.lead-70 {  
		@include fluid(font-size, 20em, 68em, 2.5em, 4.375em);	
	}
	&.lead-64 {
		@include fluid(font-size, 20em, 68em, 2.25em, 4em);	
	}
	.sans {
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
		[class*='wf-museosansrounded-'] & {
			font-family: $body-font;
		}
	}
	.cap {
		text-transform: uppercase;
	}
	.lower {
		text-transform: lowercase;
	}
	.lines {
		position: relative;
		&:after,
		&:before {
			content: '';
			position: absolute;
			top: 50%;
			height: 1px;
			width: 1.5em;
			background-color: white;
			transform: translate(0, -50%);
		}
		&.blue {
			&:before,
			&:after {
				background-color: $blue-dark;
			}
		}
		&:before {
			left: 1em;
		}
		&:after {
			right: 1em;
		}
		&.lines-home {
			&:before,
			&:after {
				width: 2.7em;
			}
		}
		&.lines-product {
			&:before {
				left: 2em;
			}
			&:after {
				right: 2em;
			}
			@media (min-width: 34em) {
				&:before {
					left: 1.25em;
				}
				&:after {
					right: 1.25em;
				}	
			}
		}
		&.lines-mission {
			&:before {
				width: 2.75em;
				left: 3em;
			}
			&:after {
				width: 2.75em;
				right: 3em;
			}
		}
		&.lines-farm {
			&:before {
				width: 2.75em;
				left: 4em;
			}
			&:after {
				width: 2.75em;
				right: 4em;
			}
			@media (min-width: 30em) {
				&:before {
					left: 2em;
				}
				&:after {
					right: 2em;
				}	
			}
		}
		&.lines-roots {
			&:before {
				width: 2.9em;
				left: 1.4em;
			}
			&:after {
				width: 2.9em;
				right: 1.4em;
			}
		}
		&.lines-recipes {
			&:before {
				width: 1.5em;
				left: -1.75em;
			}
			&:after {
				width: 1.5em;
				right: -1.75em;
			}
		}
		&.lines-frozen {
			&:before {
				width: 3em;
				left: 4.5em;
			}
			&:after {
				width: 3em;
				right: 4.5em;
			}
		}
	}
}

.headline-xl {
	margin-bottom: 0.15em;
	@include fluid(font-size, 20em, 68em, 1.625em, 4em);
	&.mission-xl {
		word-spacing: -(2 / 64)*1em;
		letter-spacing: -(2 / 64)*1em;
	}
	word-spacing: -(11 / 64)*1em;
	letter-spacing: -(2.5 / 64)*1em;

	[class*='wf-robotoslab-'] & {
		word-spacing: 0;
		letter-spacing: 0;
	}
}
.headline-l {
	word-spacing: -(2 / 48)*1em;
	letter-spacing: -(1 / 48)*1em;
	@include fluid(font-size, 20em, 68em, 1.5em, 3em);	
	text-align: center;
	margin-left: 2.222331px;
	[class*='wf-robotoslab-'] & {
		word-spacing: 0;
		letter-spacing: 0;
	}
}
.headline-m {
	margin-bottom: 0.5em;
	@include fluid(font-size, 20em, 68em, 1.75em, 2.625em);	
}
.headline-s {
	@include fluid(font-size, 20em, 68em, 1.125em, 2.125em);	
	line-height: 1.3;
}
.headline-f {
	@include fluid(font-size, 20em, 68em, 1em, 1.5em);	
	line-height: 1.25;
}

.prod-feature-title {
	margin-bottom: 0.5em;
	font-family: $body-font!important;
	font-weight: 500;
	@include fluid(font-size, 20em, 68em, 0.75em, 1em);	
	line-height: 1.3;
	color: $black;
	&.bold {
		font-weight: 700;
	}
	&.light {
		font-weight: 300;
	}
	&.alt-space {
		margin: 0.5em 0 1.5em;
	}
}

.prod-lineup-header {
	@include fluid(font-size, 20em, 68em, 1em, 1.5em);
	font-weight: 700;
	color: $blue-dark;
}

.support-copy {
	@include fluid(font-size, 20em, 68em, 0.75em, 1.5em);	
	font-family: $body-font;
	&.alt-font {
		font-family: $headline-font;
		font-weight: 700;
		color: $gray-dark;
	}
	&.pre-headline {
		margin-bottom: (14/24)*1em;
	}
	&.bold {
		font-weight: 500;
	}
}

.panel-copy {
	@include fluid(font-size, 20em, 68em, 0.75em, 1em);
	font-weight: 300;
	&.left {
		text-align: left;
	}
}

.excerpt-title {
	padding: 0 0.5em;
	font-family: $body-font!important;
	@include fluid(font-size, 20em, 68em, 1em, 1.5em);
	font-weight: 700;
	color: $black;
	br {
		display: none;
	}
}

// links 
a {
	color: $blue-light;
	background-color: transparent;
	text-decoration: none;
	transition: color .2s ease-out;
	&:hover,
	&:focus {
		color: $orange;
		text-decoration: none;
	}
	&:hover,
	&:visited,
	&:active,
	&:focus {
		outline: 0;
	}
}

p {
	margin: 0 0 1em;
	@include fluid(font-size, 20em, 68em, 0.875em, 1em);	
}
// misc
b,
strong {
	font-weight: bold;
  font-weight: 600;
}

i {
	font-style: italic;
}