.site-footer {
	position: relative;
	z-index: 3;
	background-color: white;
	&.veg .bg {
		display: block;
		width: 100%;
		//height: 40.7vw;
		height: 30vw;
		background: url(../images/global/veggie-footer-s.jpg) no-repeat center top / cover;
	}
}

.footer-nav-container {
	width: 100%;
	justify-content: space-between;
}

.footer-msg {
	height: 100%;
	.headline-f {
		margin: 2em 0 calc(2em + 98px);
		line-height: 1.2;
		text-align: center;
	}
	.container-site {
		position: relative;
		&:after {
			content: '';
			display: block;
			position: absolute; 
			top: 50%;
			left: 0;
			right: 0;
			width: 29.25em;
    		height: 23.75em;
			margin: 0 auto;
			font-size: 0.35em;
			@include fluid(font-size, 20em, 87.5em, 0.25em, 0.6em);
			background: url(../images/global/Birdseye-Mnumonic-Logo-Footer.png) no-repeat center / cover;
		}
	}
}

.footer-nav {
	position: relative;
	padding-top: 1em;
	padding-bottom: 1em;
	ul {
		flex-wrap: wrap;
	}
	.menu-item {
		flex: 1 0 auto;
		width: 50%;
		&.space-right {
			margin-right: 4em;
		}
		a {
			display: block;
			padding: 0.75em 0;
			font-size: 0.75em;
			text-transform: uppercase;
			color: $gray-blue;
		}
	}

	.social-links {
		padding-top: 2em;
	}
}

@media (min-width: $bp-m) {
	.footer-msg {
		.headline-f {
			.margin-bottom: 2.125em;
			text-align: left;
		}
		.container-site {
			display: flex;
			@include fluid(height, 50em, 87.5em, 13.125em, 18em);	
			.headline-f {
				margin: auto 0;
			}
			&:after {
				right: 2em;
				left: auto;
				margin: 0;
				transform: translateY(-50%);
			}
		}
	}	

	.footer-nav {
		.menu-item {
			width: 25%;
			&.space-right {
				margin-right: 4em;
			}
		}
	}
}



@media (min-width: $bp-bg) {
	.site-footer.veg .bg {
		//margin-top: -3.75vw;
		background: url(../images/global/veggie-footer-m.jpg) no-repeat center top / cover;
	}

	.page-template-page-template-mission, 
	.page-template-page-template-frozen-fresh {
		.site-footer:before {
			margin-top: 0;
		} 
	}

	.footer-msg {
		.container-site {
			position: relative;
		}
	}
}

@media (min-width: 59em) {/* Rectangle 8: */
	.footer-nav {
		.menu-item {
			width: auto;
			flex: 0 0 auto;
			//margin-right: 2.875em;
			// &:nth-of-type(n + 6) {
			// 	margin-right: 1.5em;
			// }
			// &:last-of-type {
			// 	margin-right: 0;
			// }
		}
	}
}

@media (min-width: $bp-nav) {
	.footer-nav .social-links {
		padding-top: 0;
	}
	.footer-msg {
		.container-site {
		}
		.headline-f {
			margin: auto 0;
		}
	}
}

@media (min-width: $bp-max-font) {
	.footer-nav {
		display: flex;
		flex-flow: row;
		justify-content: flex-end;
		align-items: center;
		position: relative;
		height: 7.5em;
		.social-links {
			position: absolute;
			top: 50%;
			right: 1em;
			padding-top: 0;
			transform: translateY(-50%);
		}
		// .menu-item {
		// 	&:nth-of-type(5) {
		// 		@include fluid(margin-right, 68em, 74em, 2.875em, 10.25em);	
		// 	}
		// 	&:last-of-type {
		// 		margin-right: 1.5em;
		// 	}
		// }
		.footer-nav-container {
			margin-right: 8em;
		} 
	}
}

@media (min-width: $bp-l) {
	.site-footer.veg .bg {
		background: url(../images/global/veggie-footer-l.jpg) no-repeat center top / cover;
	}
	.footer-nav {
		.social-links {
			right: 0;
		}
	}
}