/* forms & buttons
-------------------------------------------------------------- */

// shared styles
.btn,
button,
input, 
textarea {
	border: none;
	border-radius: 0;
}


// buttons
.btn,
button,
.gform_button {
	display: block;
	width: 100%;
	max-width: (165/14)*1em;
	padding: (18/14)*1em 0;
	text-align: center;
	color: $gray-lightest;
	text-transform: uppercase;
	background-color: $blue-light;
	border-radius: 4px;
	transition: color .2s ease, background-color .2s ease;
	&:not(.slick-arrow) {
		font-size: 0.875em;
		@include fluid(font-size, 20em, 68em, 0.7em, 0.875em);	
	}
	&.btn-m {
		max-width: (220/14)*1em;
	}
	&.btn-l {
		max-width: (265/14)*1em;
	}
	&.btn-r {
		display: inline-block;

	}
	&.btn-c {
		margin: 0 auto;
	}
	&:not(.nav-toggle):hover,
	&:not(.nav-toggle):focus {
		color: $gray-lightest;
		background-color: #04A6CE;
	}
}
.gform_button {
	max-width: (220/14)*1em;
	border: 0;
}

input, 
textarea {
	width: 100%;
	margin: 0 0 0.5em;
	padding: 0.5em 0.875em;
	//box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.50);
	transition: background-color .2s ease-out, color .2s ease-out;
	-webkit-appearance: none;
	font-size: 1em;
	@include fluid(font-size, 20em, 68em, 0.875em, 1em);
	color: $black;
	border: 1px solid $gray-dark;
	border-radius: 3px;
	&:focus {
		outline: none;
	}
	@include placeholder {
		font-size: 1em;
		line-height: 1;
		color: $gray-dark;
	}
}

label {
	&:not(.placeholder) {
		position: absolute;
		bottom: 1em;
		right: 1em;
		font-size: 0.75em;
		color: $blue-dark;
		text-transform: lowercase;
		opacity: 0;
		z-index: 1;
		transition: opacity 0.2s ease;
		&.visible {
			opacity: 1;
		}
	}
	&.placeholder {
		position: absolute;
		top: 9px;
		left: 1em;
		padding: 0;
		font-size: 1em;
		color: $gray-dark;
		&.filled {
			visibility: hidden;
		}
	}
}

// price spider button
.btn.ps-widget[ps-sku] {
	float: none;
	width: 100%;
	max-width: (165/14)*1em;
	height: 100%;
	padding: (18/14)*1em 0;
	border-radius: 4px;
	font-family: $body-font;
	@include fluid(font-size, 20em, 68em, 0.7em, 0.875em);	
	color: $gray-lightest;
	line-height: 1.5;
	font-weight: 300;
	transition: color .2s ease, background-color .2s ease;
	&.ps-enabled .placeholder {
		display: none;
	}
	.ps-button-label {
		display: block;
		width: 100%;
	}
	&:hover,
	&:focus {
		color: $gray-lightest;
		background-color: #04A6CE;
		line-height: 1.5;
		float: none;
		width: 100%;
		max-width: (165/14)*1em;
		padding: (18/14)*1em 0;
		border-radius: 4px;
		font-family: $body-font;
		@include fluid(font-size, 20em, 68em, 0.7em, 0.875em);	
		color: $gray-lightest;
		line-height: 1.5;
		font-weight: 300;
	}
}



// selects
.dropdown {
	display: block;
	position: relative;
	max-width: 100%;
	height: 2.625em;
	margin: 0 0 0.5em;
	padding: 0;
	border: 1px solid $gray-dark;
	border-radius: 3px;
	//box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.50);
	overflow: hidden;
	select {
		width: 110%;
		max-width: 110%;
		min-width: 110%;
		height: 100%;
		padding: 0.5em 0.875em;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background-color: transparent;
		border: none;
		border-radius: 0;
		position: relative;
		z-index: 1;
		outline: none;
		font-size: 1em;
		@include fluid(font-size, 20em, 68em, 0.875em, 1em);
		color: $gray-dark;
		white-space: normal;
		overflow: hidden!important;
		text-overflow: ellipsis;
		&:focus {
			outline: none;
		}
	}
	&:after {
		content: '\25bc';
		position: absolute;
		top: 50%;
		right: 1em;
		width: 1em;
		height: 1em;
		z-index: 1;
		font-size: 0.75em;
		color: $blue-dark;
		pointer-events: none;
		transform: translateY(-50%);
		//background: url(../assets/icons/arrow-circle-down.svg) no-repeat center / cover;
	}
}

// checkboxes
[type=checkbox]:not(:checked),
[type=checkbox]:checked, 
[type=radio]:not(:checked), 
[type=radio]:checked {
	position: absolute;
	left: -9999px;
	+ label {
		display: inline-block;
		position: relative;
		bottom: 0;
		right: auto;
		width: 100%;
		height: auto;
		padding-left: 2em;
		font-size: 1em; 
		@include fluid(font-size, 20em, 68em, 0.875em, 1em);
		line-height: 1.4;
		cursor: pointer;
		opacity: 1;
		text-transform: initial;
		color: $black;
		// create checkbox
		&:before,
		&:after {
			content: '';
			position: absolute;
			transition: all .2s ease;
		}
		&:before {
			left: 0;
			top: 0;
			width: 20px;
			height: 20px;
			border: 1px solid darken(#F0F0F0, 10%);
			border-radius: 3px;
		}
		&:after {
		 	top: 5px;
		  left: 4px;
		}
	}
	&:focus + label:before {
		border-color: darken(#F0F0F0, 10%);
	}
}
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
	+ label {
		&:after {
			width: 12px;
		  height: 10px;
		  background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2010%209%22%3E%3Cstyle%3E.st0%7Bfill%3A%23FFFFFF%3B%7D%3C/style%3E%3Ctitle%3Edone%20icon%3C/title%3E%3Cg%20id%3D%22Symbols%22%3E%3Cg%20id%3D%22Menu-_x2F_-Browse-Vegetables%22%3E%3Cg%20id%3D%22Browse-by-Vegetable%22%3E%3Cg%20id%3D%22Right-List%22%3E%3Cg%20id%3D%22Spinach%22%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M10%201.6L5.3%206.5%203.8%208.2%202.2%206.5%200%204.2l1.6-1.7%202.2%202.4L8.4%200z%22%20id%3D%22done-icon%22/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E') no-repeat center / cover;
		}
	}
}

// [type="radio"]:not(:checked), 
// [type="radio"]:checked {
// 	@include clip;
// 	left: auto;
// 	+ label {
// 		&:after {
// 		  top: 3px;
// 		  left: 1px;
// 		  width: 16px;
// 		  height: 16px;
// 		  background: $gold;
// 		  border-radius: 50%;
// 		}
// 		&:before {
// 			border-radius: 50%;
// 		}
// 	}
// }

[type="checkbox"]:not(:checked) + label:after,
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
}
[type="checkbox"]:checked + label:after,
[type="radio"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
[type="checkbox"]:checked + label:before,
[type="radio"]:checked + label:before {
  background-color: #0064A0;
  border-color: #0064A0;
}

// // login form
// .login-remember {
// 	display: none;
// }


// // search
// input[type='search'] {
// 	height: 100%;
// 	margin: 0;
// 	padding: 5px 1em;
// 	font-size: 14px;
// 	border: 1px solid $gray-copy;
// 	cursor: text;
// 	@media (min-width: $bp-page-title) {
// 		border-color: $gray-light;
// 		@include placeholder {
// 			color: lighten($gray-copy, 20%);
// 		}
// 	}
// }
// input[type='search'] {
// 	padding: 5px 1em;
// 	cursor: text;
// }
// input[type='submit'] {
// 	&.search-submit {
// 		width: 100%;
// 		height: 100%;
// 		margin: 0;
// 		padding: 0;
// 		border: none;
// 		background-color: transparent;
// 		text-indent: -9999em;

// 	}
// 	cursor: default;
// }



// // radio buttons

// gravity forms
.gfield {
	position: relative;
	textarea {
		height: 120px;
	}
	&.last-field {
		margin-bottom: 2em;
	}
}