.site-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: $header;
	padding: 0 0.625em;
	z-index: 18;
	background-color: transparent;
	transition: background-color 0.2s ease-out;
	&.header-alt {
		background-color: transparent;
	}
	.page-template-page-template-recipes & {
		background-color: transparent;
	}
	&.scrolled {
		background-color: white;
		.nav-toggle {
			.burger {
				background-color: $blue-dark;
			}
			&.toggled .burger {
				background-color: white;
			}
		}
	}
}

.site-logo {
	display: block;
	position: absolute;
	top: 0.875em;
	left: calc(50% - 55px);
	width: 110px;
	height: 55px;
	z-index: 2;
	transform-origin: top;
}
.site-logo-fake {
	display: none;
}

.nav-toggle {
	display: block;
	position: absolute;
	padding: 0;
	border: 0;
	border-radius: 0;
	top: 27px;
	right: 18px;
	width: 1.5em;
	height: 1em;
	font-size: 1em;
	background-color: transparent;
	touch-action: manipulation;
	z-index: 2;
	.burger {
		display: block;
		position: absolute;
		top: 0;
		width: 100%;
		height: 3px;
		background-color: $blue-dark;
		cursor: pointer;
		transition: opacity .2s ease-out .3s, transform .2s ease-out .3s, background-color .2s ease-out .3s;
		&.middle {
			top: 6px;
		}
		&.bottom {
			top: 12px;
		}
	}

	&.toggled {
		z-index: 2;
		.burger {
			background-color: white;
		}
		.top {
			transform: translateY(6px) translateX(0) rotate(45deg);
		}
		.middle {
			opacity: 0;
		}
		.bottom {
			transform: translateY(-6px) translateX(0) rotate(-45deg);
		}
	}

	.header-alt & {
		.burger {
			//background-color: white;
		}
	}
}
.site-header {
	transform: translateZ(0);
}
.site-nav {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100vh;
	padding-bottom: 4em;
	overflow-y: auto;
	background-color: rgba($blue-dark, 0.98);
	opacity: 0.3;
	transform: translate3d(100%, 0, 0);
	transition: transform 0.2s linear, opacity 0.25s linear; 
	.nav-open & {
		opacity: 1;
	transform: translate3d(0, 0, 0);
	}
	a {
		display: block;
		color: white;
		font-size: 0.875em;
		font-weight: 500;
		line-height: 1;
		text-transform: uppercase;
	}
	.main-nav-container {
		//width: 90%;
		margin: 5em auto 0;
	}

	.touchevents & {
		-webkit-overflow-scrolling: touch;
	}
}

.main-nav {
	> li {
		border-bottom: 1px solid $blue-light;
		> a {
			padding: 1em;
			margin: 0.25em 0;
			&:hover {
				color: $blue-light;
			}
		}
		&.current-menu-parent > a {
			color: $blue-light;
		}
		&.menu-item-has-children > a {
			padding-bottom: 0em;
		}
		&.last-item {
			margin-bottom: 1em;
			border-bottom: none;
		}
		&:last-of-type {
			border-bottom: none;
		}
	}
	li.current-menu-item > a {
		color: $blue-light;
	}
}
.sub-menu {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	margin-bottom: 0.5em;
	padding-left: 1.5em;
	li {
		position: relative;
		margin-right: 1em;
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 9px;
			bottom: 0;
			right: -0.5em;
			width: 1px;
			height: calc(100% - 18px);
			background-color: $blue-light;
		}
		&:last-of-type:after {
			display: none;
		}
	}
	a {
		padding: 0.75em 0.25em;
		font-size: 12px;
		font-weight: 300;
		color: $gray-lightest;
		&:hover {
			color: $blue-light;
		}
	}
}

.site-header .social-links {
	opacity: 0;
	visibility: hidden;
	transform: translate3d(150%, 0, 0);
	transition: transform 0.2s linear, opacity 0.25s linear, visibility 0.2s linear;
	.nav-open & {
		opacity: 1;
		visibility: visible;
		transform: translate3d(0, 0, 0);
	}
}
// homepage animation
.page-template-page-template-home {
	.site-nav {
		margin-top: -5em;
	}
	.buy-link-alt {
		display: none;
	}
	.site-header.header-locked .social-links {
		.buy-link-alt a {
			color: $red;
		}
	}
}

@media (min-width: $bp-nav) {
	.site-header {
		background-color: white;
		&.header-alt {
			background-color: transparent;
			.main-nav > li {
				> a {
					color: white;
					&:hover {
						color: $blue-dark;
					}
				}
				&.current-menu-parent > a {
					color: $blue-dark;
				}
				&.last-item a {
					color: $red;
					&:hover {
						color: $blue-dark;
					}
				}
			}
			&.scrolled {
				background-color: white;
				.main-nav > li {
					> a {
						color: $gray-dark;
						&:hover {
							color: $blue-dark;
						}
					}
					&.current-menu-parent > a {
						color: $blue-dark;
					}
					&.last-item a {
						color: $red;
						&:hover {
							color: $blue-dark;
						}
					}
				}
				&.header-alt {
					.social-links a {
						svg {
							fill: $gray-dark;
						}
						&:hover {
							svg {
								fill: $blue-dark;
							}
						}
					}
				}
			}
		}
	}

	.page-template-page-template-products-listing .site-header.header-alt .main-nav > li {
		> a {
			color: $gray-dark;
		}
		&:hover > a {
			color: $blue-dark;
		}
		&.last-item > a {
			color: $red;
			&:hover {
				color: $blue-dark;
			}
		}
	}
	.nav-open .site-header .social-links, 
	.site-header .social-links  {
		position: absolute;
		top: (19/16)*1em;
		right: 1em;
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}
	.site-logo {
		left: 1em;
		right: auto;
		margin: 0;
	}
	.nav-toggle {
		display: none;
	}
	.site-nav,
	.nav-open .site-nav {
		display: flex;
		justify-content: flex-end;
		position: relative;
		width: 100%;
		height: auto;
		padding-bottom: 0;
		overflow-y: visible;
		opacity: 1;
		background-color: transparent;
		transform: translate3d(0,0,0);
		.main-nav-container {
			position: relative;
			width: 100%;
			margin: auto 0;
		}
	}

	.main-nav {
		display: flex;
		justify-content: flex-end;
		width: calc(100% - 8em);
		padding-top: 1.125em;
		> li {
			margin-left: 2em;
			border-width: 0;
			&:first-child {
				margin-left: 0;
			}
			&.menu-item-has-children {
				position: relative;
				> a {
					padding-bottom: 1.5em;
					padding-bottom: 1em;
				}
			}
			&.last-item {
				//margin: 0 0 0 3.5em;
				a {
					color: $red;
					&:hover {
						color: $blue-dark;
					}
				}
			}
			&.active > a {
				color: $blue-dark;
			}
			> a {
				margin: 0;
				padding: 1em 0;
				color: $gray-dark;
				&:hover {
					color: $blue-dark;
				}
			}
			&.current-menu-item > a {
				color: $blue-dark;
			}
			&:last-of-type {
				margin-right: 7.875em;
			}
		}
	}

	.sub-menu {
		flex-flow: column nowrap;
		position: absolute;
		left: 50%;
		width: (162/16)*1em;
		height: 0;
		margin: 0;
		padding: 0;
		background-color: $blue-dark;
		text-align: center;
		opacity: 0;
		overflow: hidden;
		transform: translateX(-50%);
		transition: opacity 0.2s ease-out, padding 0.2s ease-out;
		&.sub-open {
			height: auto;
			padding: (11/16)*1em 1.25em;
			opacity: 1;
		}
		li {
			margin: 0;
			font-size: 0.875em;
			border-bottom: 1px solid $blue-light;
			&:after {
				display: none;
			}
			&:last-of-type {
				border-width: 0;
			}
		}
		a {
			padding: 1em 0.25em;
			font-size: 1em;
			font-weight: 500;
			color: white;
			&:hover {
				color: $blue-light;
			}
		}
	}

	// homepage animation styles
	.page-template-page-template-home {
		$offset: calc(50vw - 55px);
		.site-logo {
			//left: calc(50% - 55px);
			//left: 50%;
			// left: calc(50% - 55px);
			// left: 10px;
			// opacity: 0;
			// transform: scale(0.125);
		}

		.main-nav > li:last-of-type {
			margin-right: 0;
		}
		.site-header.sticky {
			.main-nav > li:last-of-type {
				margin-right: 7.875em;
			}
		}

		.site-logo-fake {
			display: block;
			position: absolute;
			top: 0.875em;
			left: 0;
			right: 0;
			width: 110px;
			height: 55px;
			margin: 0 auto;

		}

		.site-nav  {
			position: fixed;
			top: 100%;
			margin-top: -5em;
			//height: 80px;
			//top: calc(100% - 3.75em);
			left: 0;
			height: $header-l;
			background-color: white;
			transition: height 0.2s;
			.main-nav-container {
				margin: 0 auto;
			}
		}

		.site-header {
			&.scrolled {
				background-color: transparent;
				.social-links .buy-link-alt a {
					color: $red;
				}
			}
			&.sticky {
				.site-nav {
					//height: 60px;
					li.last-item {
						display: block;
						margin-bottom: 0;
					}
				}
				.main-nav {
					justify-content: flex-end;
					width: calc(100% - 8em);
				}
				.social-links  {
					width: auto;
					.buy-link-alt {
						display: none;
					}
				}
			}
			.main-nav {
				justify-content: center;
				align-items: center;
				width: 100%;
				transition: width 0.2s ease;
				@media (min-width: 73em) {
					width: 100%;
				}
				> li {
					&.last-item {
						display: none;
					}
					> a {
						color: $gray-dark;	
					}
				}
			}
			.social-links {
				align-items: center;
				justify-content: flex-end;
				top: (6/16)*1em;
				right: 1em;
				width: 17em;
				transform: translateY(12px);
				a svg {
					fill: white;
				}
				li:not(.buy-link-alt) {
					margin-left: 0.5em;
				}
				.buy-link-alt {
					display: block;
					margin-right: 1em;
					a {
						display: block;
						padding: 1em 0;
						font-size: 1em;
						line-height: 1;
						text-transform: uppercase;
						color: white;
					}
					&:hover a {
						color: $red;
					}
				}
			}
		}
		.site-header.header-alt {
			.social-links a svg {
				fill: white;
			}
		}
	}
	.site-header .social-links {
		width: 8em;
		// margin: 0 0 0 3.5em;
	}
	.page-template-page-template-products-listing-php .site-header.header-alt {
		a svg {
			fill: $gray-dark;
		}
	}
}

@media (min-width: $bp-nav-big) {
	.site-header {
		padding-top: 1.5em;
		height: $header-l;
		.social-links {
			top: (19/16)*1em;
			transform: translateY(0);
		}
	}
	.site-logo {
		width: 156px;
		height: 78px;
	}
	.main-nav {
		padding-top: 0;
		> li {
			margin-left: 4em;
			&.last-item {
				// margin: 0 0 0 7.875em;
			}
			&.menu-item-has-children {
				> a {
					padding-bottom: 1.5em;
				}
			}
			> a {
				padding: 1.5em 0;
			}
		}
	}

	.nav-open .site-header .social-links, 
	.site-header .social-links  {
		top: 2em;
	}

	.social-links {
		//margin: 0 0 0 7.875em;
	}

	//homepage animation styles
	.page-template-page-template-home {
		.site-nav  {
			top: 100%;
			margin-top: -5em;
			//top: calc(100% - 5em);
			height: $header-l;
		}
		.site-header {
			.main-nav {
				justify-content: center;
				width: 100%;
				padding-top: 1.5em;
				&.nav-done {
					justify-content: flex-end;
					width: calc(100% - 8em - 226px);
				}
			}
			.social-links {
				top: (19/16)*1em;
			}
		}
		.site-logo-fake {
			width: 156px;
			height: 78px;
		}
	}
}