.hero-slider.media-slider:not(.thumbs) {
	position: relative;
	width: 100%;
	li {
		position: relative;
		height: 56.25vw;
		height: 45vw;
		max-height: (540/16)*1em;
		&.panel {
			padding: 0;
		}
	}

	&.slick-slider.slick-initialized .slick-list {
		width: 100%;
		max-width: none;
		.new-from-slide {
			position: relative;
			img,
			picture {
				//object-fit: cover;
				position: absolute;
				top: 0%; // LPM change
				left: 0;
				right: 0;
				//bottom: 0;
				min-width: 100%;
				min-height: 100%;
				transform: translateY(0%); // LPM change
			}
		}
	}

	.headline-slider {
		@include fluid(font-size, 20em, 68em, 1em, 3.75em);
		margin: 0;
		color: $blue-dark;
		word-spacing: -(11 / 64)*1em;
		letter-spacing: -(2.5 / 64)*1em;

		[class*='wf-robotoslab-'] & {
			word-spacing: 0;
			letter-spacing: 0;
		}
	}

	.panel-msg {
		position: absolute;
		width: 100%;
	}

	// slide specific styles
	// .slide-mind-blowing-flavors {
	// 	background: url(../images/new-from-be/hero-slide-bg-s.jpg) no-repeat 30% 50% / cover;
	// 	.panel-msg {
	// 		position: absolute;
	// 		bottom: 3em;
	// 		right: 0;
	// 		left: 0;
	// 		width: 100%;
	// 		margin: 0 auto;
	// 		text-align: right;
	// 		.presentation {
	// 			float: right;
	// 		}
	// 		.headline-xl {
	// 			@include fluid(font-size, 20em, 68em, 1.45em, 4em);
	// 		}
	// 		.headline-s {
	// 			margin: 0;
	// 		}
	// 	}
	// }

	.slide-organic {
		background: url(../images/new-from-be/OrganicHeaders.jpg) no-repeat center / cover;
		.panel-msg {
			top: 10.5em;
			@include fluid(top, 20em, 68em, 2em, 10.5em);
			left: 0;
			right: 0;
			margin: 0 auto;
			span {
				display: block;
				margin-bottom: 0.5em;
				@include fluid(font-size, 20em, 68em, 0.75em, 1.625em);
				font-weight: 700;
				line-height: 1;
				color: $red;
			}
		}
	}



	.slide-b {
		// background: url(../images/new-from-be/OrganicHeaders.jpg) no-repeat center / cover;
	}
	.slide-c {
		background: url(../images/new-from-be/superfoods-example.jpg) no-repeat center / cover;
	}
	.slide-d {
		background: url(../images/new-from-be/veggie-made-rev.jpg) no-repeat center / cover;
	}
	.slide-e {
		background: url(../images/new-from-be/signature-skillets-slide-r.jpg) no-repeat center / cover;
	}


	// controls
	.slick-dots {
		position: absolute;
		padding: 0;
		bottom: 1em;
		left: 0;
		right: 0;
		li {
			background-color: white;
			&.slick-active {
				background-color: $orange;
			}
		}
	}

	@media (orientation: landscape) {
		li {
			max-height: 100vh;
		}
	}

	@media (min-width: $bp-bg) {
		li {
			max-height: (650/16)*1em;
		}

		// .slide-mind-blowing-flavors {
		// 	background: url(../images/new-from-be/hero-slide-bg-m.jpg) no-repeat 36% 50% / cover;
		// 	.panel-msg {
		// 		bottom: 9em;
		// 		.presentation {
		// 			width: 50%;
		// 			max-width: (366/16)*1em;
		// 			@include fluid(margin-right, 50em, 68em, 6.5em, 11.5em);
		// 		}
		// 		.headline-s {
		// 			padding-left: 0;
		// 			//padding-right: 180px;
		// 			@include fluid(padding-right, 50em, 68em, 7em, 7.7em);
		// 		}
		// 	}
		// 	.headline-xl {
		// 		margin-right: 0;
		// 		br {
		// 			display: none;
		// 		}
		// 	}
		// }

		.slick-dots {
			bottom: 2.5em;
		}

		.slide-organic {
			background: url(../images/new-from-be/OrganicHeaders-m.jpg) no-repeat center / cover;
		}
	}

	@media (min-width: $bp-bg) and (orientation: landscape) {
		li {
			max-height: (650/16)*1em;
		}
	}

	@media (min-width: $bp-l) {
		.slide-organic {
			background: url(../images/new-from-be/OrganicHeaders-l.jpg) no-repeat center / cover;
		}
	}
}


.panel.media-panel .media-slider.thumbs {
	.slick-dots {
		position: relative;
		bottom: auto;
		top: 100%;
		flex-flow: row wrap;
		justify-content: space-between;
		li {
			height: 100%;
			margin: 0;
			border-radius: 0;
			background-color: transparent;
		}
	}
}