.hero-roots {
	position: relative;
	width: 100%;
	height: 89vw;
	max-height: (500/16)*1em;
	background: url(../images/our-roots/hero-our-roots-s.jpg) no-repeat center / cover;
	.hero-msg {
		position: absolute;
		top: calc(50% + 30px);
		left: 0;
		right: 0;
		width: 60%;
		margin: 0 auto;
		transform: translate(0, -50%);
	}
	.headline-block {
		margin: 0;
	}

	@media (orientation: landscape) {
		max-height: 100vh;
	}

	@media (min-width: 31em) {
		.hero-msg {
			left: 10%;
			right: auto;
			width: auto;
			margin: 0;
		}
	}

	@media (min-width: $bp-bg) {
		height: 56vw;
		max-height: (800/16)*1em;
		background: url(../images/our-roots/hero-our-roots-m.jpg) no-repeat center / cover;
	}

	@media (min-width: $bp-bg) and (orientation: landscape) {
		max-height: (800/16)*1em;
	}
	@media (min-width: $bp-l) {
		background: url(../images/our-roots/hero-our-roots-l.jpg) no-repeat center / cover;
	}
}

