.hero-mission {
	position: relative;
	width: 100%;
	height: calc(56.25vw + 60px);
	max-height: (820/16)*1em;
	overflow-x: hidden;
	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		min-width: 100%;
		min-height: 100%;
		background: url(../images/mission/birds-eye-our-story-video-cover-s.jpg) no-repeat center / cover;
	}
	&.play-now {
		&:after {
			display: none;
		}
	}
	.hero-msg {
		position: absolute;
		top: calc(50% + 30px);
		left: 50%;
		z-index: 11;
		transform: translate(-50%, -50%);
	}
	&.hero-video {
		video {
			max-height: 100%;
			z-index: 1;
		}
	}
}

.hero-mission-copy {
	position: relative;
	columns: 2 300px;
	column-gap: 3em;
	width: 100%;
	padding: 1em;
	z-index: 1;
}
.append-l {
	display: none;
}

@media (orientation: landscape) {
	.hero-mission {
		max-height: 100vh;
	}
}

@media (min-width: $bp-bg) {
	.hero-mission {
		&:after {
			background: url(../images/mission/birds-eye-our-story-video-cover-m.jpg) no-repeat center / cover;
		}
	}
}

@media (min-width: $bp-nav) {
	.hero-mission {
		.container-mission {
			height: 100%;
		}
		.hero-mission-copy {
			@include fluid(padding-bottom, 66em, 85em, 3em, 6.625em);
			p {
				color: white;
			}
		}
		.hero-msg {
			//left: 10%;
			//top: 3em;
			@include fluid(top, 66em, 85em, 17em, 21.5em);
			transform: translate(-50%, 0);
		}
	}
	.append-l {
		display: block;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		z-index: 2;
	}
	.append-s {
		display: none;
	}
	
}

@media (min-width: $bp-bg) and (orientation: landscape) {
	.hero-mission {
		max-height: (820/16)*1em;
	}
}
@media (min-width: $bp-l) {
	.hero-mission {
		&:after {
			background: url(../images/mission/birds-eye-our-story-video-cover-l.jpg) no-repeat center / cover;
		}

		.hero-mission-copy {
			padding-bottom: (106/16)*1em;
		}
	}
}


