.hero-farms {
	position: relative;
	width: 100%;
	height: 100vw;
	max-height: (500/16)*1em;
	background: url(../images/ourfarms/hero-ourfarms-s.jpg) no-repeat center / cover;
	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0.75;
		background: linear-gradient(180deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.2) 100%);
	}
	.hero-msg {
		position: absolute;
		bottom: 10%;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 60%;
		text-align: center;
		@media (min-width: 23em) {
			width: 54%;
		}
		@media (min-width: 31em) {
			left: 10%;
			right: auto;
			width: auto;
			margin: 0;
		}
		@media (min-width: $bp-nav) {
			bottom: 18%;
		}
	}
	.prod-feature-title {
		margin: 0;
		line-height: (28/18);
		color: white;
	}
	.headline-xl {
		margin-bottom: 0.25em;
	}

	@media (orientation: landscape) {
		max-height: 100vh;
	}

	@media (min-width: $bp-bg) {
		height: 48vw;
		max-height: (720/16)*1em;
		background: url(../images/ourfarms/hero-ourfarms-m.jpg) no-repeat center / cover;
	}

	@media (min-width: $bp-bg) and (orientation: landscape) {
		max-height: (720/16)*1em;
	}
	@media (min-width: $bp-l) {
		background: url(../images/ourfarms/hero-ourfarms-l.jpg) no-repeat center / cover;
	}
}

