.hero {
	display: block;
	position: relative;
	height: 35em;
	overflow-x: hidden;
	z-index: 3;
	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		min-width: 100%;
		min-height: 100%;
		background: url(../images/home/video-cover-s.jpg) no-repeat 22% top / cover;
	}
	&.play-now {
		&:after {
			display: none;
		}
	}
	
	.headline-block {
		position: absolute;
		top: 42%;
		left: 50%;
		width: auto;
		z-index: 1;
		transform: translate(-50%, -50%);
		&.fixed {
			position: fixed;
		}
	}	
}
.hero-video {
	position: relative !important;;
	video {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		max-height: 100vh;
		width: auto;
		height: auto;
		z-index: -100;
		transform: translateX(-50%) translateY(-50%);
   		object-fit: cover;
	}	
}

.hero-birds {
	position: absolute;
	top: 31em;
	left: 1em;
	width: 125px;
	height: 117px;
	background: url(../images/home/birds-s.jpg) no-repeat center / cover;
	z-index: 18;
	transition: opacity 0.5s ease;
	&.fly-away {
		opacity: 0;
	}
}

@media (min-width: $bp-bg) {
	.hero {
		height: 100vh;
		&:after {
			background: url(../images/home/video-cover-m.jpg) no-repeat 22% top / cover;
		}
	}		
	.hero-birds {
		top: 87vh;
		width: 200px;
		height: 187px;
	}
}

@media (min-width: $bp-nav) {
	.hero {
		position: fixed;
		top: 0;
		width: 100%;
		height: 100vh;
	}

	.hero-birds {
		top: calc(100% - 187px + 16px);
		left: 2em;
	}
}

@media (min-width: $bp-l) {
	.hero {
		max-height: 100vh;
		&:after {
			background: url(../images/home/video-cover-l.jpg) no-repeat 22% top / cover;	
		}	
	}

	.hero-birds {
		top: calc(100% - 300px + 56px);
		left: 9vw;
		width: 300px;
		height: 280px;
	}
}