.hero-products {
	position: relative;
	width: 100%;
	height: 70vw;
	max-height: (382/16)*1em;
	background: url(../images/product/hero-product-landing-s-r.jpg) no-repeat 86% center / cover;
	@media (min-width: 23em) {
		background-position: 90% center;
	}
	.container-site {
		position: relative;
		height: 100%;
	}
	.hero-msg {
		position: absolute;
		top: calc(50% + 30px);
		left: 50%;
		max-width: (678/16)*1em;
		transform: translate(-50%, -50%);
		.prod-feature-title {
			font-weight: 300;
			text-align: center;
			line-height: (26/18);
		}
	}
	&.prod-landing {
		.hero-msg {
			left: 0;
			right: 0;
			width: 80%;
			margin: 0 auto;
			transform: translate(0, -50%);
			@media (min-width: 23em) {
				width: 60%;
			}
			@media (min-width: 31em) {
				left: auto;
				right: 5%;
				margin: 0;
				width: auto;
				transform: translate(0, -50%);
			}
		}
	}
	@media (orientation: landscape) {
		max-height: 100vh;
	}

	@media (min-width: $bp-bg) {
		height: 48vw;
		max-height: (630/16)*1em;
		background: url(../images/product/hero-product-landing-m.jpg) no-repeat center bottom / cover;
	}

	@media (min-width: $bp-bg) and (orientation: landscape) {
		max-height: (630/16)*1em;
	}
	@media (min-width: $bp-l) {
		background: url(../images/product/hero-product-landing-l.jpg) no-repeat center bottom / cover;
	}
}

.hero-products-single {
	display: none;
	height: 20em;
	margin-bottom: 4em;
	.container-site {
		justify-content: flex-start;
		align-items: center;
		height: 100%;
	}
	.hero-msg {
		max-width: 20em;
		position: static;
		transform: none;
	}
	@media (min-width: $bp-nav) {
		display: block;
	}
}

