.hero-recipes {
	position: relative;
	width: 100%;
	height: 92vw;
	max-height: (518/16)*1em;
	overflow-x: hidden;
	background: url(../images/recipes/hero-recipes-s.jpg) no-repeat left top / cover;
	.hero-msg {
		position: absolute;
		top: 30%;
		left: 0;
		right: 0;
		width: 60%;
		margin: 0 auto;
	}
	.headline-block {
		margin: 0;
	}

	@media (orientation: landscape) {
		max-height: 100vh;
	}

	@media (min-width: 23em) {
		.hero-msg {
			width: 55%;
		}
	}

	@media (min-width: 31em) {
		.hero-msg {
			top: 30%;
			left: 3.5em;
			right: auto;
			margin: 0;
			width: auto;
		}
	}

	@media (min-width: $bp-m) {
		top: 24%;
		.hero-msg {
			left: 5em;
		}
	}

	@media (min-width: $bp-bg) {
		background: url(../images/recipes/hero-recipes-m.jpg) no-repeat left top / cover;
	}

	@media (min-width: $bp-bg) and (orientation: landscape) {
		max-height: (518/16)*1em;
	}
	@media (min-width: $bp-l) {
		background: url(../images/recipes/hero-recipes-l.jpg) no-repeat left top / cover;
	}
}

