// IE only media query
@media all and (-ms-high-contrast:none) {
	// featured prod panel
	.featured {
		display: block;
		.img-wrap {
			display: block;
		}
	}	
	.prod-feature {
		.copy-wrap {
			display: block;
		}
	}

	// homepage
	.panel-products-feature .container-site {
		height: 600px;
		@media (max-width: 50em) {
			height: 930px;
		}
	}

	// recipe excerpt
	.recipe-excerpt {
		height: 373px;
	}

	// nutrition panel
	.panel-products.panel .nutrition-facts .nutrition-label .dot-wrapper {
		display: block;
		span:last-child {
			float: right;
		}
	}

	// video cover
	.video-container .video-cover img {
		display: block;
		margin: auto;
		width: 100%;
	}

	//hero video
	.hero-video {
		overflow: hidden;
	}

	.panel-clarence .panel-msg {
		height: 600px;
	}

	@media (min-width:66em) {
		.panel-quick-freeze.panel div:first-of-type {
			width: 31%;
		}
	}

	// footer 
	.site-footer .footer-msg .headline-f {
		height: 120px;
	}
	.footer-msg .container-site:after {
		width: 53.25em;
		height: 41.75em;
	}
}