.img-blocks {
	position: relative;
	margin-bottom: 1em;
	padding-top: 0.875em;
	z-index: 2;
	&.flex-row {
		flex-wrap: wrap;
		justify-content: center;
	}
	&.mission-blocks {
		background-color: white;
	}
}
.img-block {
	height: 58vh;
	max-height: 27em;
	width: calc(100% - 1.5em);
	margin-bottom: 0.75em;
	padding: 1em 1em 2em;
	&.flex-col {
		justify-content: flex-end;
	}
	.headline-s {
		margin-bottom: 0.5em;
	}
	p {
		max-width: 498px;
		margin: 0;
		color: white;
		@include fluid(font-size, 20em, 68em, 0.75em, 1em);
		line-height: 1.5;
		~ a {
			margin-top: 1.5em;
		}
		br {
			display: none;
			@media (min-width: 58.5em) {
				display: block;
			}
		}
	}
	&.overlay-btm {
		position: relative;
		&:after {
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 60%;
			height: 80%;
			opacity: 0.5;
			opacity: 0.75;
			background-image: linear-gradient(-1deg, #000000 0%, rgba(0,0,0,0.00) 100%);
		}
		.block-content {
			z-index: 1;
		}
	}
	&.source-map-block {
		&.overlay-btm:after {
			opacity: 0.1;
		}
	}
}
// mission pg
.roots-block {
	background: url(../images/mission/bg-roots-s.jpg) no-repeat left top / cover;
}
.farm-block {
	background: url(../images/mission/bg-farms-s.jpg) no-repeat left top / cover;
}
// our farms pg
.source-map-block {
	background: url(../images/ourfarms/bg-source-map-block-s.jpg) no-repeat 75% top / cover;
}
.field-table-block {
	background: url(../images/ourfarms/bg-field-table-block-s.jpg) no-repeat center / cover;
}


@media (min-width: $bp-bg) {
	.img-blocks.flex-row {
		justify-content: space-between;
	}
	.img-block {
		width: calc(50% - 0.5em);
		height: 60vw;
		max-height: 36.125em;
		@include fluid(padding-left, 50em, 87.5em, 2em, 7.625em);
		@include fluid(padding-top, 50em, 87.5em, 12.5em, 18.75em);
		&.flex-col {
			justify-content: flex-start;
		}
	}
}

@media (min-width: $bp-nav) {
	.img-blocks {
		margin-bottom: 0;
		padding-bottom: 4em;
	}

	.img-block {
		&.overlay-btm {
			&:after {
				height: 60%;
				opacity: 0.5;
			}
		}
	}
}

@media (min-width: $bp-l) {
	.roots-block {
		background: url(../images/mission/bg-roots-l.jpg) no-repeat left top / cover;
	}
	.farm-block {
		background: url(../images/mission/bg-farms-l.jpg) no-repeat left top / cover;
	}
	.source-map-block {
		background: url(../images/ourfarms/bg-source-map-block-l.jpg) no-repeat 75% top / cover;
	}
	.field-table-block {
		background: url(../images/ourfarms/bg-field-table-blockr-l.jpg) no-repeat center / cover;
	}
}