// media
img {
	height: auto;
	max-width: 100%;
	border-width: 0;
}
.alignleft {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}
.alignright {
  float: right;
  margin-left: 1em;
  margin-bottom: 1em;
}

.play {
	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		width: (123/16)*1em;
		height: (121/16)*1em;
		background: url(../icons/play.svg) no-repeat center / cover;
		cursor: pointer;
		font-size: 50%;
		transform: translate(-50%, -50%);
	}
}

// prev next btns
button.slick-arrow {
	width: (50/16)*1em;
	height: (50/16)*1em;
	text-indent: -9999em;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: transparent;
	@include fluid(font-size, 20em, 87.5em, 0.75em, 1em);
	opacity: 0.8;
	transition: opacity .2s ease, background-color .2s ease;
	&:hover,
	&:focus {
		opacity: 1;
		background-color: transparent;
	}
}
.slick-next {
	background-image: url(../images/global/slider-arrow-right.svg);
}
.slick-prev {
	background-image: url(../images/global/slider-arrow-left.svg);
}

// slider thumbnails
.media-slider {
	&.thumbs {
		button.slick-arrow {
			width: 0;
			height: 0;
			opacity: 0;
			visibility: hidden;
		}
		.slick-dots {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			margin: 0 auto;
			padding-top: 0.5em;
			li {
				width: calc(25% - 0.25em);
			}
			a,
			img,
			.prod-feature-title {
				display: block;
			}
			.prod-feature-title {
				text-align: center;
			}
			.play {
				position: relative;
				&:after {
					top: calc(50% - 26px);
					font-size: 25%;
					@media (min-width: $bp-m) {
						top: calc(50% - 9px);
					}
				}
			}
		}
		&.thirds {
			.slick-dots li {
				width: calc(33.333% - 0.25em);
			}
		}
		&.two {
			.slick-dots {
				li {
					width: calc(50% - 0.25em);
				}
			}
			@media (min-width: $bp-m) {
				.slick-dots {
					justify-content: flex-start;
					li {
						width: calc(25% - 0.25em);
						margin-right: 0.5em;
					}
				}
			}
		}

		.title-wrap {
			display: flex;
			margin-top: 0.75em;
			height: 2.5em;
			.prod-feature-title {
				margin: auto;
			}

			@media (min-width: $bp-m) {
				height: auto;
			}
		}
	}

	&:not(.thumbs) {
		.slick-dots {
			display: flex;
			justify-content: center;
			padding-top: 1em;
			li {
				width: 0.75em;
				height: 0.75em;
				margin: 0 0.5em;
				border-radius: 50%;	
				background-color: lighten($gray-dark, 20%);
				transition: background-color .2s ease-out;
				&.slick-active {
					background-color: $orange;
				}
			}
		}
	}

	
}
.slick-dots {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 0 auto;
	padding-top: 0.5em;
	position: absolute;
	padding: 0;
	bottom: 1em;
	left: 0;
	right: 0;
	button {
		padding: 0;
		text-indent: -9999em;
		background-color: transparent;
		&:hover,
		&:focus {
			background-color: transparent;
		}
	}
	li {
		width: 0.75em;
		height: 0.75em;
		margin: 0 0.5em;
		border-radius: 50%;	
		background-color: white;
		transition: background-color .2s ease-out;
		&.slick-active {
			background-color: lighten($gray-dark, 20%);		
		}
		&.slick-active {
			background-color: $orange;
		}
	}
}

// video cover images
.video-container {
	position: relative;
	.video-cover {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 7;
		opacity: 1;
		visibility: visible;
		touch-action: manipulation;
		transition: visibility 0.2s ease-out 0.1s, opacity 0.2s ease-out 0.1s;
		background-color: white; 
		
		&.reveal-video {
			opacity: 0;
			visibility: hidden;
		}
	}
	&.single-asset {
		width: calc(100% - 2em);
		padding: 0;
	}
}

// hide ios play btn
*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}

@media (min-width: $bp-nav) {
	.slick-slider.slick-initialized {
		display: flex;
		margin: 0 auto;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		.slick-list {
			width: calc(100% - 8em);
			max-width: 62.5em;
		}
		&.thumbs {
			flex-wrap: wrap;
			.slick-dots {
				width: calc(100% - 8em);
				max-width: 62.5em;
			}
			.media-slider {
				.slick-dots li {
					width: calc(25% - 0.5em);
				}
			}
		}
		&.thirds {
			.slick-dots li {
				width: calc(33.333% - 0.5em);
			}
		}
	}
}

@media (min-width: $bp-max-font) {
	.bx-controls-direction {
		display: flex;
	}
	.bx-pager {
		display: none;
	}
	.video-container {
		.video-cover:after {
			font-size: 100%;
		}
	}
}

@media (min-width: 74em) {
	.bx-controls-direction {
		.bx-prev {
			transform: translateX(-4.75em);
		}
		.bx-next {
			transform: translateX(4.75em);
		}
	}
}