.page-links {
	position: relative;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0 1em 2em;
	z-index: 4;
	&.pad-top {
		padding-top: 2em;
	}
	a {
		width: calc(33.33% - 0.5em);
		max-width: (360/16)*1em;
		box-shadow: 0 0 5px 3px rgba(0,0,0,0.06);
		transform: translateY(0);
		transition: transform 0.2s ease-out;
		img {
			display: block;
		}
		&.flex-col {
			justify-content: flex-end;
		}
		.prod-feature-title {
			margin-bottom: 0;
			background-color: $blue-light;
			line-height: (60/18);
			@include fluid(line-height, 20em, 68em, 2.5em, 3.33em);	
			text-align: center;
			color: white;
		}

		&:hover {
			transform: translateY(-0.42em);
		}
	}

	@media (min-width: $bp-m) {
		padding: 2em 1em;
	}
	@media (min-width: $bp-bg) {
		padding-top: 4em;
	}
}
