.panel {
	padding-top: 2em;
	padding-bottom: 2em;
	overflow: hidden;
	&.panel-c {
		text-align: center;
	}
	&.panel-r {
		text-align: right;
	}
	&.fixed {
		height: 100vh;
		background-repeat: no-repeat;
		background-position: center;
		background-attachment: fixed;
		background-size: cover;
	}
	header {
		padding-bottom: 1.5em;
		text-align: center;
	}

	&.panel-mission {
		position: relative;
		z-index: 4;
		height: 100vh;
		//max-height: (662/16)*1em;
		background: url(../images/panels/bg-carrots-s.jpg) no-repeat left top / cover;
	}

	&.panel-products-feature {
		position: relative;
		height: auto;
		z-index: 5;
		padding-top: 4em;
		background-color: white;
		header {
			padding-bottom: 0;
			.headline-s {
				margin-bottom: 0.25em;
			}
		}
	}


	&.panel-dynamic {
		position: relative;
		height: auto;
		&.white-bg {
			background-color: white;
			.flex-row {
				justify-content: space-between;
			}
			.txt-mod-l {
				.panel-msg {
					order: 2;
				}
				.animate-box {
					order: 1;
				}
			}
		}
		&.full-img-bg {
			height: 56vw;
			max-height: 600px;
			.flex-row {
				justify-content: center;
			}
			@media (min-width: $bp-m) {
				.flex-row {
					justify-content: flex-start;
				}
			}
			&.flex-col {
				justify-content: center;
			}
		}
		.animate-box {
			position: relative;
			width: 70%;
			margin: 0 auto;
			.container-xl {
				// width: 100%;
				margin: 0 auto;
				left: 0;
				right: 0;
			}
		}
		.flex-row {
			flex-wrap: wrap;
			&.txt-mod-r {
				.panel-msg {
					order: 2;
				}
			}
			// &.txt-mod-l {
			// 	.panel-msg {
			// 		//order: 1;
			// 	}
			// 	.animate-box {
			// 		//order: 2;
			// 	}
			// }
		}
		.panel-msg {
			margin: auto 0;
			z-index: 2;
			text-align: center;
			.btn {
				margin: 0 auto;
			}
			br {
				display: none;
			}
			@media (min-width: $bp-m) {
				text-align: left;
				.btn {
					margin: 0;
				}
			}
		}

		&.full-img-bg {
			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&.overlay {
			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(black, 0.2);
			}
		}
	}


	&.panel-frozenfresh {
		height: 100vh;
		position: relative;
		//@include fluid(height, 20em, 68em, 13.75em, 43.75em);	
		z-index: 6;
		background-color: white;
		.animate-box {
			position: absolute;
			top: 14%;
			left: -4em;
			width: 55%;
			max-width: (800/16)*1em;
			img {
				width: 100%;
			}
		}
		.headline-s span {
			display: block;
			font-size: 124%;
		}
	}

	&.panel-roots {
		position: relative;
		height: 100vh;
		z-index: 2;
		overflow: hidden;
		&:before {
			content: '';
			display: block;
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			will-change: transform;
			z-index: -1;
			background: white url(../images/panels/bg-farmers-s.jpg) no-repeat center / cover;	
			background-attachment: fixed;
		}
		
		&.flex-col {
			justify-content: center;
		}
		.panel-msg {
			margin: 0 auto;
		}
	}

	&.panel-voila {
		position: relative;
		z-index: 4;
		@include fluid(height, 20em, 112.5em, 18.5em, 59.45em);	
		background-color: white;
		&.flex-col {
			justify-content: center;
		}
		.flex-row {
			justify-content: flex-end;
		}
		.panel-msg {
			margin: auto 0;
			.headline-s.btm-mrg {
				margin-bottom: 0.125em;
			}
		}
		.feature-voila {
			img {
				width: 26%;
				max-width: (126/16)*1em;
			}
			.prod-feature-title.bold {
				margin-top: 1.125em;
			}
		}
		.container-site {
			max-width: 63em;
		}
		.voila-bowl {
			top: 20%;
			@include fluid(left, 20em, 87.5em, -6em, -1em);	
			width: 57%;
			max-width: (840/16)*1em;
			z-index: 3;
			@media (max-width: $bp-nav) {
				z-index: -1;
				left: calc(-14em + 5 * (100vw - 20em) / 67.5);
				width: 85%;
			}
			@media (max-width: 620px) {
				left: calc(-13em + 5 * (100vw - 20em) / 67.5);
			}
			@media (max-width: 500px) {
				width: 90%;
			}
			img {
				width: 100%;
			}
		}
	}

	&.hp-f {
		position: relative;
		z-index: 3;
		background-color: white;
		header {
			padding-top: (50 / 16)*1em;
			padding-bottom: 1.5em;
			@media (min-width: $bp-max-font) {
				padding-top: (100 / 16)*1em;
			}
		}

	}

	&.panel-products-all {
		position: relative;
		height: 67vw;
		max-height: 1200px;
		background: url(../images/panels/bg-kid-s.jpg) no-repeat center / cover;	
		.panel-msg.container-s {
			max-width: 52em;
			margin: 1.25em auto 0;
			@media (min-width: 35em) {
				margin-top: 3em;
				padding-right: 7em;
				@include fluid(padding-right, 35em, 68em, 7em, 11em);	
			}
			@media (min-width: 68em) {
				margin: auto;
				@include fluid(padding-right, 68.1em, 122em, 11em, 0em);	
			}
		}
	}

	&.panel-flavor-full {
		background: url(../images/panels/bg-full-flavor-s.jpg) no-repeat center / cover;
		.presentation {
			max-width: (383/16)*1em;
			@include fluid(margin-left, 20em, 68em, 3em, 13em);	
		}
	} 
	&.panel-super-foods {
		background: url(../images/panels/bg-super-foods.jpg) no-repeat center / cover;	
		.presentation {
			max-width: (426/16)*1em;
			@include fluid(margin-left, 20em, 68em, 3em, 13em);	
		}
	} 
	&.new-panel {
		height: 60vw;
		max-height: 40.5em;
		padding: 0;
		&.flex-col {
			justify-content: flex-end;
		}
	}
	.presentation {
		width: 50%;
	}

	&.panel-rootspg {
		height: calc(100vh - 60px);
		max-height: 800px;
		.flex-col {
			height: 100%;
			justify-content: flex-end;
			align-items: flex-end;
		}
		.panel-msg {
			width: auto;
			margin: auto 0;
			text-align: right;
			p {
				width: 100%;
				max-width: 370px;
			}
		}
	}
	&.panel-clarence {
		background: url(../images/panels/bg-clarence-birdseye-s.jpg) no-repeat center / cover;	
		.panel-msg {
			@include fluid(padding-left, 20em, 40em, 5em, 1em);	
			p {
				font-weight: 500;
			}	
		}
		@media (orientation: landscape) and (max-width: 50em) {
			height: auto;
		}
	}

	&.panel-boxtruck {
		background: url(../images/panels/bg-birdseye-boxtruck-s.jpg) no-repeat 58% center / cover;	
		@media (orientation: landscape) and (max-width: 50em) {
			height: 100vh;
			background-position: left bottom;
			background-position-y: calc(100% + 2em);
			.panel-msg {
				margin-right: 0!important;
				margin-top: -2em;
				text-align: right!important;
			}
			p {
				float: right;
			}
		}
		.flex-col {
			height: auto;
		}
		.panel-msg {
			padding-left: 4em;
		}
	}

	&.panel-freezer-aisle {
		.flex-col {
			align-items: flex-start;
			height: 100%;
		}
		.panel-msg {
			margin: auto 0;
			z-index: 1;
			text-align: left;
			p {
				max-width: 467px;
			}
		}
	}

	&.panel-quick-freeze {
		overflow: hidden;
		padding-top: 0;
		&.flex-row {
			flex-wrap: wrap;
		}
		#snow {
			position: relative;
		}
		div {
			width: 100%;
			padding: 1em;
			&.bg-gradient {
				justify-content: center;
				height: 36vw;
			}
			&:last-of-type {
				align-items: center;
				img {
					width: 100%;
					max-width: 714px;
				}
			}
		}
		.headline-s {
			br {
				display: none;
			}
		}
	}

	&.panel-veg-quad {
		height: auto;
		max-height: (626/16)*1em;
		padding: 1em;
		img {
			float: right;
			width: 200px;
			height: auto;
			shape-outside: circle();
			shape-margin: 5px;
		}
		br {
			display: none;
			@media (min-width: 58em) {
				display: block;
			}
		}
	}

	.panel-msg {
		margin: auto;
		.headline-s {
			margin-bottom: 0.75em;
			&.btm-mrg {
				margin-bottom: 0.5em;
			}
		}
		&.offset {
			margin: 0 auto;
			.headline-s {
				padding-left: 1em;
				font-weight: 500;
				color: white;
				span {
					margin-right: .5em;
					color: $yellow;
				}
			}
		}
	}

	&.media-panel {
		position: relative;
		z-index: 3;
		background-color: white;
		overflow: visible;
		.btn-c {
			margin: 2em auto 1.75em;
		}
		.stacked-videos {
			li:not(:last-of-type) {
				margin-bottom: 3em;
			}
		}
	}
	.page-template-page-template-mission & {
		&.media-panel {
			padding-bottom: 0;
		}
		@media (min-width: $bp-nav) {
			padding-top: 5em;
		}
	}

	&.panel-products {
		min-height: 596px;
		.headline-l {
			text-align: left;
			@media (max-width: $bp-nav) {
				text-align: center;
			}
		}
		.container-site {
			min-height: 520px;
			justify-content: space-between;
			@media (max-width: $bp-nav) {
				flex-direction: column;
			}
		}
		.product-image {
			max-width: 500px;
			width: 100%;
			align-self: flex-start;
			margin: 0;
			@media (max-width: $bp-nav) {
				//order: 2;
				margin: -1em auto 2em;
				width: 70%;
				max-width: 340px;
			}
		}
		.product-info {
			width: 100%;
			max-width: 500px;
			align-self: center;
			@media (max-width: $bp-nav) {
				margin-bottom: 40px;
			}
			h1 {
				margin-bottom: 0.5em;
				line-height: 1;
				a {
					color: $blue-dark;
					&:hover {
						color: $blue-light;
					}
				}
			}
		}
		p {
			margin-top: 1em;
		}
		hr {
			margin: 20px 0;
			width: 100%;
			height: 1px;
			border: none;
			background-color: #979797;
		}
		.available-in {
			text-transform: uppercase;
			@include fluid(font-size, 20em, 68em, 0.875em, 1em);	
			color: #747474;
			span {
				margin-left: 0.5em;
				font-size: 1.25em;
				font-weight: 700;
				color: #4A4A4A;
			}
		}
		.nutrition-facts {
			font-size: 18px;
			@include fluid(font-size, 20em, 68em, 0.875em, 1.125em);	
			font-weight: 700;
			text-transform: uppercase;
			color: #4A4A4A;
			position: relative;
			cursor: pointer;
			&:after,
			&:before {
				display: block;
				content: '';
				width: 22px;
				height: 3px;
				background: $blue-light;
				position: absolute;
				right: 30px;
				top: 12px;
				margin: auto;
				transition: transform 0.2s;
			}
			&:before {
				width: 3px;
				height: 21px;
				right: 39px;
				top: 3px;
			}
			&.show {
				.nutrition-label {
					display: block;
				}
				&:after,
				&:before {
					transform: rotate(45deg);
				}
			}
			.nutrition-label {
				display: none;
				p {
					margin: 4px 0;
					font-weight: 300;
					text-transform: none;
				}
				.dot-wrapper {
					display: flex;
    				justify-content: space-between;
    				position: relative;
    				span {
    					background: #fff;
    					position: relative;
    				}
    				&:before {
    					content: '';
						position: absolute;
						left: 0;
						right: 0;
						bottom: 4px;
						border-bottom: 2px dotted #4A4A4A;
						z-index: 0;
    				}
				}
			}
		}
		.btns {
			margin-top: 40px;
			a {
				max-height: 56.97px;
			}
		}
	}

	&.panel-varieties {
		margin-top: -4em;
		@media (min-width: $bp-bg) {
			margin-top: 0;
		}
		h2 {
			text-align: center;
		}
		.product {
			height: 100%;
			// width: 21%;
			width: 25%;
			width: auto;
			margin: 0 20px;
			text-align: center;
			[data-term='44'] {
				height: 100%;
				display: block;
				.img-wrap {
					display: flex;
					img {
						max-height: 220px;
						width: auto;
						max-width: 90%;
					}
				}
			}
			img {
				max-height: 220px;
				width: auto;
			}
		}
		.container-site {
			margin: 2.75em auto 1.25em;
			@media (min-width: $bp-m) {
				margin: 4em auto 1.25em;
			}
		}
		.slick-initialized {
			// display: flex;
			// flex-flow: column nowrap;
			// justify-content: center;
		}
		.slick-list {
			// width: calc(100% - 140px);
   //  	margin: 0 20px;
		}
		.varieties-header {
			padding-top: 3.125em;
			padding-bottom: 0;
			@media (min-width: $bp-nav) {
				padding-top: 6.25em;
			}
		}

		.slick-dots {
			bottom: -2em;
			height: 12px;
			width: 75%;
			overflow: hidden;
			li {
				background-color: lighten($gray-dark, 20%);
				&.slick-active {
					background-color: $orange;
				}
			}
		}
		.slider.low {
			@media (min-width: 37.5em) {
				&.slick-initialized {
					justify-content: center;
				}
				.slick-track {
					margin: 0 auto;
				}
			}
		}
	}
}

.slick-slide {
	> a {
		display: flex;
		justify-content: space-between;
		flex: 1 0 auto;
	}
	.copy-wrap {
		display: flex;
		height: (94/16)*1em;
		justify-content: flex-start;
		margin-top: 1em;
	}
	.img-wrap {
		display: flex;
		flex: 1 1 auto;
		flex-flow: column;
	}
}

.prod-feature {
	margin: 2.75em 0 1.25em;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	&.flex-row {
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;
	}
	.copy-wrap {
		display: flex;
		height: (94/16)*1em;
		justify-content: flex-start;
		margin-top: 1em;
		text-align: center;
	}
	.prod-feature-title {
		margin: 0;
	}
	@media (min-width: $bp-m) {
		margin: 4em 0 1.25em;
		.new-lineup &,
		&.no-new {
			margin-top: 3em;
			&.has-new {
				margin-top: 4em;
			}
		}
	}
}
.featured {
	display: flex;	
	justify-content: space-between;
	position: relative;
	flex: 1 0 auto;
	//width: calc(50% - 1em);
	width: 40%;
	max-width: 14em;
	margin: 0 2.5% 1em;
	.img-wrap {
		display: flex;
		flex-flow: column;
		flex: 1 1 auto;
	}
	img {
		margin: auto;
	}
	&.new {
		position: relative;
		&:after {
			content: 'NEW';
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			top: -0.75em;
			right: 0;
			width: (57/16)*1em;
			height: (57/16)*1em;
			border-radius: 50%;
			background-color: $orange;
			font-weight: 700;
			font-size: 75%;
			@include fluid(font-size, 20em, 68em, 0.75em, 1.125em);
			color: white;	
			vertical-align: middle;
		}
	}
}
.prod-featured-title {
	br {
		display: none;
	}
}


@media (min-width: $bp-m) {
	.panel {
		&.new-panel .offset {
			@include fluid(margin-bottom, 40em, 83em, 0em, 7em);	
			.headline-xl {
				padding-left: 1em;
			}
			.headline-s {
				@include fluid(padding-left, 40em, 68em, 4em, 5.5em);	
			}
		}
		&.panel-rootspg {
			.panel-msg {
				text-align: left;
			}
		}
		&.panel-boxtruck {
			.panel-msg {
				margin-right: 5em;
				p {
					max-width: 320px;
				}
			}
		}
		&.panel-veg-quad {
			display: flex;
			flex-flow: row nowrap;
			justify-content: center;
			align-items: center;
			height: 50vw;
			p {
				margin: 0;
				&:first-of-type {
					order: 1;
				}
				&:last-of-type {
					order: 3;
				}
			}
			picture {
				flex: 0 0 auto;
				order: 2;
				margin: 0 0.75em;
			}
			img {
				float: none;
				width: 200px;
				height: auto;
				margin: 0 auto;
			}
		}
		&.panel-clarence {
			.panel-msg p {
				font-weight: 300;
			}	
		}
	}
}



@media (min-width: $bp-m) {
	.panel {
		&.panel-dynamic {
			@include fluid(height, 40em, 68em, 26.25em, 37.5em);	
			&.flex-col {
				flex-direction: row;
			}
			.container-xl {
				padding-left: 3em;
				padding-right: 3em;
			}
			.animate-box {
				width: 55%;
				margin: 0;
				img,
				picture {
					max-height: 536px;
					margin: 0;
				}
			}
			.flex-row {
				flex-wrap: nowrap;
				&.txt-mod-r {

				}
				&.txt-mod-l {
					.animate-box img {
						float: right;
					}
				}
			}
			&.full-img-bg {
				.panel-msg {
					br {
						display: block;
					}
				}	
			}
			
		}
		&.panel-dynamic.white-bg {
			.container-xl.flex-row {
				align-items: center;
			}
			.txt-mod-r {
				.panel-msg {
					width: 100%;
					max-width: 45%;
					margin-left: 10%;
				}
				.animate-box {
					width: 55%;
				}
			}
			.txt-mod-l {
				.panel-msg {
					width: 100%;
					max-width: 45%;
					margin-right: 10%;
					order: 1;
				}
				.animate-box {
					width: 55%;
					order: 2;
				}

			}
		}
	}	
}

@media (min-width: $bp-nav) {
	.prod-feature {
		.copy-wrap {
			margin-top: 2em;
		}
	}
	.slick-slide .copy-wrap {
		margin-top: 2em;
	}

	.panel {
		&.panel-dynamic {
			.animate-box.container-xl {
				width: 100%;
				right: 0;
				top: 50%;
				transform: translate(0, -50%);
				img,
				picture {
					max-height: 570px;
				}
				&.txt-mod-l {
					width: 100%;
					right: 0;	
					left: 0;
					img {
						float: right;
					}
				}
			}
			.panel-msg {
				br {
					display: block;
				}
			}
		}
		&.panel-dynamic.white-bg {
			.txt-mod-r {
				.panel-msg {
					max-width: 40%;
					margin-left: 0;
				}
				.animate-box {
					width: 60%;
					margin-right: 10%;
				}
			}
			.txt-mod-l {
				.panel-msg {
					max-width: 35%;
					// margin-right: 0;
					br {
						display: none;
						@media (min-width: 86.5em) {
							display: block;
						}
					}
				}
				.animate-box {
					width: 65%;
					img {
						float: left;
						max-height: 600px;
					}
				}
			}
		}
		&.white-bg {
			.container-xl.flex-row {
				order: 1;
			}
		}
	}	

}

@media (min-width: $bp-bg) {
	.panel {
		&.panel-mission {
			background: url(../images/panels/bg-carrots-m.jpg) no-repeat left top / cover;
		}
		&.panel-frozenfresh {
			background-position: left 50%;
		}
		&.panel-roots {
			&:before {
				background: white url(../images/panels/bg-farmers-m.jpg) no-repeat center / cover;	
				background-attachment: fixed;
			}
			
		}

		&.panel-products-all {
			background-image: url(../images/panels/bg-kid-m.jpg);
			background-position: center top;
		}

		&.panel-clarence {
			background: url(../images/panels/bg-clarence-birdseye-m.jpg) no-repeat center / cover;
		}
		&.panel-boxtruck {
			background: url(../images/panels/bg-birdseye-boxtruck-m.jpg) no-repeat center / cover;	
		}
		&.panel-freezer-aisle {
			position: relative;
			height: 56vw;
			max-height: 50em;
			background: url(../images/panels/bg-freezer-aisle-m.jpg) no-repeat center / cover;		
		}
		&.media-panel {
			header {
				padding-bottom: 1.5em;
			}
		}
		header {
			padding-bottom: 3em;
		}
	}
	.featured {
		width: 20%;
		max-width: none;
		margin: 0 2.5%;
	}
}

@media (min-width: $bp-nav) {
	.panel {
		&.panel-varieties .slick-initialized {
			flex-flow: row nowrap;
			justify-content: space-between;
			align-items: center;
		}
		&.panel-frozenfresh {
			.animate-box {
				left: 0;
				transform: translateX(-200px);
			}
		}
		&.panel-voila {
			.animate-box {
				//left: 0;
				//transform: translate(-70%, -50%);
			}
		}
		&.panel-roots {
			&.fix {
				z-index: 3;
			}
		}
		&.panel-quick-freeze {
			div {
				justify-content: center;
				height: 60vw;
				max-height: 800px;
				&.bg-gradient {
					position: relative;
					order: 1;
					width: 43%;
					height: auto;
					padding-bottom: 0;
					@include fluid(padding-left, 66em, 83em, 2em, 5.35em);
					background: url(../images/our-roots/bg-radial.svg) no-repeat center / cover;	
					&:after {
						content: '';
						display: block;
						position: absolute;
						left: 0;
						bottom: 0;
						width: 100%;
						height: 56vw;
						max-height: 100%;
						background: url(../images/our-roots/bg-arctic-l.png) no-repeat center bottom / contain;	
					}
				}
				&:last-of-type {
					order: 0;
					width: 57%;
					align-items: flex-end;
					padding: 2em;
					@include fluid(padding-right, 66em, 83em, 2em, 5em);
				}
			}
			.headline-s {
				margin-top: -(200/34)*1em;
				br {
					display: block;
				}
			}
		}
	}
}

@media (min-width: $bp-max-font) {
	.panel {
		&.extra-pad {
			padding-top: 5em;
		}
		.panel-msg {
			.headline-s {
				margin-bottom: 1.25em;
			}
		}
	}
	.prod-feature {
		&.container-site {
			padding-left: 0;
			padding-right: 0;
		}
	}
	.featured {
		img {
			//margin-bottom: 3em;
		}
		&.new:after {
			right: 0.5em;
			font-size: 1.125em;
		}
	}
}

@media (min-width: 74em) {
	.panel {
		&.panel-veg-quad {
			picture {
				margin: 0 1.5em;
			}
			img {
				width: 394px;
				height: auto;
			}
		}
	}
}

@media (min-width: $bp-l) {
	.panel {
		&.panel-mission {
			background: url(../images/panels/bg-carrots-l.jpg) no-repeat left top / cover;
		}
		&.panel-roots:before {
			background-image: url(../images/panels/bg-farmers-l.jpg);
		}

		&.panel-products-all {
			background-image: url(../images/panels/bg-kid-l.jpg);
		}

		&.panel-clarence {
			background: url(../images/panels/bg-clarence-birdseye-l.jpg) no-repeat center / cover;	
		}

		&.panel-boxtruck {
			background: url(../images/panels/bg-birdseye-boxtruck-l.jpg) no-repeat center / cover;	
		}
		&.panel-freezer-aisle {
			background: url(../images/panels/bg-freezer-aisle-l.jpg) no-repeat center / cover;		
		}
	}
}

