// store locator styles
.ps-container {
	.ps-location {
		z-index: 2;
	}
}

.ps-widget > .ps-container > div > h1 {
	display: none;
}

.ps-widget {
	.headline-s {
		margin-left: 12px;
		text-transform: capitalize;
	}
}

.wtb-checkbox {
	display: flex;
	flex-flow: row wrap;
	margin: 2em 0 0.5em;
	max-width: 1200px;
	div {
		position: relative;
		flex: 0 auto;
		width: 100%;
		margin-bottom: 0.5em;
	}
}

.wtb-search {
	max-width: 50em;
	margin: 0 auto;
}

.container-ps-catalog {
	position: relative;
	&.loading {
		&:after {
			content: 'loading...';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(white, 0.75);
			text-align: center;
		}
	}
}


@media (min-width: 30em) {
	.wtb-checkbox {
		margin-bottom: 1em;
		div {
			width: 50%;
		}
	}
}

@media (min-width: 41em) {
	.wtb-checkbox {
		div {
			width: 33.333%;
		}
	}
}

@media (min-width: $bp-nav) {
	.wtb-checkbox {
		justify-content: center;
		margin-bottom: 2em;
		div {
			width: auto;
			margin: 0 1em;
		}
	}
}