.page-template-new-from-birdseye .hero-slider.media-slider:not(.thumbs).slick-slider.slick-initialized .slick-list .new-from-slide img,
.page-template-new-from-birdseye .hero-slider.media-slider:not(.thumbs).slick-slider.slick-initialized .slick-list .new-from-slide picture{
	top: 0%;
	-webkit-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
}
@media (min-width: 50em) and (orientation: landscape){
	.page-template-page-template-new-from-birdseye .hero-slider.media-slider:not(.thumbs) li {
    	max-height: inherit;
	}
}
@media (min-width: 50em) {
	.group-4.product-lineup .flex-row,
	.group-5.product-lineup .flex-row {
		justify-content: center;
	    flex-basis: 50%;
	    max-width: 50%;
	    margin: 30px auto 0;
	}
}