.recipe-excerpt {
	position: relative;
	width: calc(50% - 0.5em);
	margin-bottom: 1em;
	background-color: rgba(242,242,242,0.12);
	text-align: center;
	box-shadow: 0 0 5px 3px rgba(0,0,0,0.06);
	touch-action: manipulation;
	a {
		display: block;
		height: 100%;
		touch-action: manipulation;
		&:after {
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 0;
			height: 2px;
			background-color: $blue-light;
			transition: width 0.3s ease;
		}
		
		.no-touchevents &,
		.notouchevents & {
			&:hover {
			&:after {
				width: 100%;
			}
		}
		}
	}
	img {
		display: block;
	}
	.flex-col {
		justify-content: center;
	}
	.prod-feature-title {
		font-family: $body-font;
		margin: 1.25em 0;
		padding: 0 0.5em;
	}
	
	&:hover {
		&:after {
			width: 100%;
		}
	}
	.recipe-listing & {
		margin-bottom: 2em;
	}
}

.single-product .panel .related-recipe-header {
	padding-bottom: 0;
}

.recipe-container.flex-row {
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 2.75em auto 1.25em;
	@media (min-width: $bp-m) {
		margin: 4em auto 1.25em;
	}
}

.excerpt-cta {
	display: block;
	//position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 1em 0;
	background-color: transparent;
	color: $blue-light;
	@include fluid(font-size, 20em, 68em, 0.75em, 0.875em);
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

.excerpt-title {
	margin: 1em 0;
	padding: 0 0.5em;
}

@media (min-width: $bp-bg) {
	.recipe-excerpt {
		width: calc(33.333% - 0.875em);
		transform: translateY(0);
		transition: transform 0.3s ease-out;
		&:hover {
			transform: translateY(-0.42em);
			.excerpt-cta {
				opacity: 1;
			}
		}
		.prod-feature-title {
			margin: 2em 0;
		}
		.recipe-listing & {
			margin-bottom: 4em;
		}
	}
	.excerpt-cta {
		background-color: $blue-light;
		color: $gray-lightest;
		opacity: 0;
		transition: opacity 0.2s ease-out;
	}
	.excerpt-title {
		padding: 0 0.75em;
	}
}

.related-products {
	margin-top: 2em;
	@media (min-width: $bp-nav) {
		margin-top: 7.5em;
	}
	h2 {
		display: block;
		//max-width: 500px;
		width: 100%;
		//margin-left: auto;
		text-align: center;
		@media (min-width: $bp-nav) {
			max-width: 500px;
			margin-left: auto;
			text-align: left;
		}
	}
}

.related-recipes {
	margin: 0 auto 30px;
	text-align: center;
	@media (min-width: $bp-nav) {
		margin: 100px auto 90px;
	}
	h1 {
		margin: 0 0 20px;
		color: #21547F;
		font-size: 34px;
		font-weight: bold;
	}

	h4 {
		margin: 0 0 80px;
		color: #4A4A4A;
		font-family: "Museo Sans Rounded";
		font-size: 24px;
		text-align: center;
		font-weight: normal;
	}
	

  .single-recipe-wrapper {
		display: flex;
		justify-content: center;
		align-items: flex-start;	
  }

	.recipe-preview {
		width: 360px;
		height: 435px;
		margin: 0 12px 0;
		box-shadow: 0 0 5px 3px rgba(0,0,0,0.06);
		text-align: center;
		transition: transform 0.4s;
		&:hover {
			transform: translateY(-20px);
			.button {
				opacity: 1;
			}
		}

		a {
			display: flex;
			justify-content: flex-start;
			flex-direction: column;
			width: 100%;
			height: 100%;
		}

		p {
			max-width: 279px;
			margin: auto;
			color: #4A4A4A;
			font-family: "Museo Sans Rounded", sans-serif;
			font-size: 18px;
			font-weight: bold;
			margin: 25px auto 0;
		}

		img {
			flex: none;
    		max-width: 100%;
    		height: 270px;
		}

		.button {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: auto;
			height: 50px;
			width: 363px;
			background-color: #04B7E3;
			color: #fff;
			text-transform: uppercase;
			font-size: 14px;
			opacity: 0;
			transition: opacity 0.2s;
			&:hover {
				opacity: 1;
			}
		}
	}

}