// section and page headers

.section-header {
	.container-site {
		position: relative;
		@include fluid(height, 20em, 68em, 5em, 8.625em);	
		&.flex-row {
			justify-content: flex-start;
			align-items: center;
		}
		&:after {
			content: '';
			display: block;
			position: absolute;
			right: 1em;
			@include fluid(font-size, 20em, 68em, 0.25em, 1em);	
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
		}
		&.bg-bird:after {
			width: (185/16)*1em;
			height: (188/16)*1em;
			@include fluid(bottom, 320px, 1088px, 52px, 16px);	
			background-image: url(../images/global/thin-bird.png);
		}	
		&.bg-birds:after {
			width: (240/16)*1em;
			height: (192/16)*1em;
			@include fluid(bottom, 320px, 1088px, 52px, -12px);	
			background-image: url(../images/global/birds-silo-s.png);
		}	
		
	}

	.section-logo {
		text-indent: -9999em;
		@include fluid(font-size, 20em, 68em, 0.5em, 1em);	
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		&.be-logo {
			width: (166/16)*1em;
			height: (74/16)*1em;
			margin-right: 1.5em;
			background-image: url(../images/global/birdseye-logo-white.png);	
		}
		&.steam-logo {
			width: (260/16)*1em;
			height: (103/16)*1em;
			background-image: url(../images/global/birdseye-steamfresh-logo.png);
		}
	}

	.headline-m {
		margin: 0;
		text-shadow: 2px 2px 0 #0064A0;
	}
}

.page-header {
	padding-top: $header;
	overflow: hidden;
	.container-m {
		position: relative;
		@include fluid(height, 20em, 68em, 8em, 17.5em);
		&.flex-col {
			justify-content: center;
		}
		&:after {
			content: '';
			display: block;
			position: absolute;
			right: 1em;
			bottom: -3em;
			@include fluid(bottom, 20em, 68em, -3em, -6em);
			width: (420/16)*1em;
			height: (335/16)*1em;
			@include fluid(font-size, 20em, 68em, 0.25em, 1em);
			background: url(../images/global/birds-silo.png) no-repeat center / cover;	
		}
	}
	.support-copy {
		margin: 0;
		color: white;
	}
}

@media (min-width: $bp-bg) {
	.section-header {
		.container-site {
			&.bg-bird:after {
				background-image: url(../images/global/thin-bird@2x.png);
			}	
			&.bg-birds:after {
				background-image: url(../images/global/birds-silo.png);
			}	
		}

		.section-logo {
			&.be-logo {
				background-image: url(../images/global/birdseye-logo-white@2x.png);
			}
			&.steam-logo {
				background-image: url(../images/global/birdseye-steamfresh-logo@2x.png);
			}
		}	
	}	

	.page-header {
		.container-site {
			&:after {
				background: url(../images/global/birds-silo@2x.png) no-repeat center / cover;	
			}
		}
	}
}	

@media (min-width: $bp-nav) {
	.page-header {
		padding-top: $header-l;
	}
}