.page-template-page-template-contact {
	background: url(../images/contact/bg-veg-header-s.jpg) no-repeat center top / contain;
}
.contact-intro {
	width: 100%;
	max-width: (796/16)*1em;
	margin: 0 auto;
	padding: 4em 1em 0;
	@include fluid(padding-top, 20em, 68em, 4em, 10em);
	.headline-s {
		margin-bottom: 0.5em;
		text-align: center;
	}	
	p {
		&:first-of-type {
			margin-bottom: 2em;
		}
	}
}

.contact-form {
	padding: 1em;
	width: 100%;
	max-width: 70em;
	margin: 0 auto;
	div	{
		position: relative;
	}
	&.flex-row {
		flex-wrap: wrap;
	}
	.form-wrapper {
		flex: 1 1 25em;
		width: 100%;
		max-width: 31em;
		padding-bottom: 2em;
	}
}

.contact-info {
	width: 100%;
	padding-top: 1em;
	h2 {
		margin-bottom: 0.75em;
		font-family: $body-font;
		@include fluid(font-size, 20em, 68em, 0.75em, 1.125em);	
		font-weight: 700;
		color: $black;
		text-transform: uppercase;
	}
	ul {
		margin-bottom: 1.5em;
	}
}


@media (min-width: $bp-bg) {
	.page-template-page-template-contact {
		background: url(../images/contact/bg-veg-header-m.jpg) no-repeat center top / contain;
	}

	.contact-form.flex-row {
		justify-content: flex-end;
	}

	.contact-intro {
		padding-bottom: 2em;
	}

	.contact-info {
		width: auto;
		margin-bottom: 3em;
		padding-top: 3em;
		padding-left: 5em;
	}
}

@media (min-width: $bp-nav) {
	.page-template-page-template-contact {
		.site-header {
			background-color: transparent;
			&.scrolled {
				background-color: white; 
			}
		}
	}
}

@media (min-width: $bp-l) {
	.page-template-page-template-contact {
		background: url(../images/contact/bg-veg-header-l.jpg) no-repeat center top / contain;
	}
}