.page-template-page-template-frozen-fresh {

	// @media screen and (min-width: 20em) {
	// 	p {
	// 		font-size: calc(1em + 0.125 * (100vw - 20em) / 48);
	// 	}
	// }

	.site-content {
		transform: none !important;
	}
	.site-header {
		background-color: transparent;
		@media (max-width: $bp-mobile-animation) {
			background-color: #fff;
		}
		&.fvf-header-on {
			background-color: #fff;
		}
	}
	.panel.extra-pad {
		padding-top: 7em;
		@media (max-width: $bp-mobile-animation) {
			padding-top: 4em;
		}
	}
	.panel-products-feature {
		.container-site {
			@media (max-width: $bp-mobile-animation) {
				opacity: 1 !important;
			}
			.featured {
				@media (max-width: $bp-mobile-animation) {
					transform: none !important;
				}
			}
		}
		.prod-feature {
			@media (max-width: $bp-mobile-animation) {
				margin-bottom: 0;
			}	
		}
		.btn {
			@media (max-width: $bp-mobile-animation) {
				margin-top: -20px;
			}
		}
	}
}

.frozen-benefits {
	position: relative;
	padding: 1em;
	@media (max-width: $bp-mobile-animation) {
		flex-direction: column;
	}
	&.flex-row {
		justify-content: center;
	}
	.flex-child {
		@media (max-width: $bp-mobile-animation) {
			max-width: 570px !important;
			margin: auto !important;
			text-align: center !important;
			padding: 0 2vw !important;
		}
		&:not(.scene-number) {
			order: 2;
		}
		&:first-child {
			flex: 1 100%;
		}
	}
}

.frozen-msg {
	width: 100%;
	@media (max-width: $bp-mobile-animation) {
		padding: 0 !important;
	}
	.headline-f {
		margin-bottom: 0.75em;
	}
	br {
		@media (max-width: 1150px) {
			display: none;
		}
	}
	// br {
	// 	display: none;
	// 	@media (min-width: 36.5em) {
	// 		display: block;
	// 	}
	// 	@media (max-width: $bp-nav) {
	// 		display: none;
	// 	}
	// }
}

.frozen-intro {
	display: flex;
	position: relative;
	height: 12em;
	max-height: (408/16)*1em;
	padding-left: 1em;
	padding-right: 1em;
	z-index: 12;
	overflow: visible;
	.headline-block {
		margin: auto;
		margin-left: calc(50% - 4.5em);
		z-index: 12;
		@media (max-width: $bp-mobile-animation) {
			margin: auto;
			opacity: 1 !important;
			transform: scale(1) !important;
		}
	}
	&.pre-load {
		.headline-block {
			transform: scale(0.7);
			opacity: 0;
			transition: transform 0.75s, opacity 1.2s;
		}
		.frozen-bg {
			transform: scale(0.9);
			transition: transform 1.2s;
		}
	}
	&.load {
		.headline-block {
			transform: scale(1);
			opacity: 1;
		}
		.frozen-bg {
			transform: scale(1);
		}
	}
}

.frozen-bg {
	position: absolute;
	display: block;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	&.tomatoes {
		width: (230/16)*1em;
		height: (725/16)*1em;
		left: 0;
		top: 70px;
		background-image: url(../images/frozenvsfresh/bg-tomatoes-l.jpg);
		background-position: right top;
		background-size: 140%;
		transform-origin: left;
		z-index: -1;
		@media (max-width: 1220px) {
			width: 12.375em;
		}
		@media (max-width: 990px) {
			width: 9.375em;
			background-size: 180%;
		}
		@media (max-width: 880px) {
			width: 7.375em;
			background-size: 210%;
		}
		@media (max-width: 768px) {
			width: 5.375em;
			background-size: 250%;
		}
		@media (max-width: $bp-mobile-animation) {
			opacity: 1 !important;
			transform: scale(1) !important;
		}
		@media (max-width: 320px) {
			width: 4em;
		}
	}
	&.beans {
		width: 400px;
		height: 510px;
		font-size: 0.3125em;
		background-image: url(../images/frozenvsfresh/bg-beans-l.png);
		//transform: translate(32px, 0);		
		background-position: left top;
		z-index: 999;
		top: 65em;
		right: 1px;
		transform-origin: right;
		@media (max-width: 1220px) {
			width: 300px;
		}
		@media (max-width: $bp-mobile-animation) {
			display: none;
		}
	}
	&.broccoli {
		top: 5.5em;
		right: 13em;
		width: (350/16)*1em;
		height: (346/16)*1em;
		z-index: 11;
		background-image: url(../images/frozenvsfresh/BirdsEye-Brocolli-cropped.jpg);
		background-size: contain;
		transform-origin: right;
		@media (max-width: 1220px) {
			right: 8em;
		}
		@media (max-width: 990px) {
			right: 4em;
		}
		@media (max-width: 880px) {
			right: 0;
			background-position: left top;
			width: 16em;
			background-size: 100%;
			height: 20em;
		}
		@media (max-width: $bp-mobile-animation) {
			width: 7em;
			background-size: 200%;
			opacity: 1 !important;
			transform: scale(1) !important;
		}
		@media (max-width: 500px) {
			//display: none;
			width: 5em;
			background-size: 250%;
		}
	}
}

.big-number {
	display: inline-block;
	position: relative;
	@include fluid(font-size, 20em, 68em, 3em, 10em);	
	font-weight: 700;
	line-height: 0.8;
	z-index: 2;
	opacity: 1;
    transition: opacity .4s, transform 0.6s cubic-bezier(0.175, 0.885, 0.320, 1.275);
	.scene-4 & {
		&:after {
			display: none;
		}
	}
	&.big-3 {
		font-size: 11em;
		opacity: 0;
		transform: scale(0);
		@media (max-width: $bp-mobile-animation) {
			opacity: 1;
			transform: scale(1);
		}
	}
	&.big-4 {
		opacity: 0;
		transform: scale(0);
		@media (max-width: $bp-mobile-animation) {
			opacity: 1;
			transform: scale(1);
		}
	}
	&.show {
		opacity: 1;
		transform: scale(1);
		@media (max-width: $bp-mobile-animation) {
			opacity: 1;
			transform: scale(1);
		}
	}
}

.scene-number {
	flex: 1 0 auto;
	position: relative;
	@include fluid(width, 20em, 68em, 1.875em, 5.5em);
	margin-right: 1em;
	text-align: center;
	.scene-1 & {
		color: $blue-light;
	}
	.scene-4 &  {
		color: $yellow;
	}
	.scene-2 & {
		color: $blue-light;
	}
	.scene-3 & {
		color: $blue-dark;
	}
}

.scene-1 {
	height: auto;
	max-height: 62.5em;
	z-index: 10;
	position: absolute;
	width: 100%;
	z-index: 12;
	bottom: 10vh;
	@media (max-height: 880px) {
		bottom: 4vh;
	}
	@media (max-height: 768px) {
		bottom: -3vh;
	}
	@media (max-width: $bp-mobile-animation) {
		flex-direction: column;	
		bottom: 0;
	}
	@media (max-width: $bp-mobile-animation) {
		height: 370px;
		position: relative;
		bottom: 0;
		top: 0;
	}
	.big-1 {
		text-indent: -4px;
	}
}

.scene-1-spacer {
	width: 100%;
	height: calc(100vh - 700px);
	@media (max-width: $bp-mobile-animation) {
		display: none;
	}
}

.scene-1-bg {
	display: block;
    position: relative;
	height: 60vw;
	min-height: 1000px;
	// max-height: 62.5em;
	z-index: 10;
	background: url(../images/frozenvsfresh/bg-girl-field.jpg) no-repeat center bottom / cover;
	overflow: hidden;
	@media (max-width: $bp-mobile-animation) and (max-height: 650px) {
		//margin-top: -60vh;
	}
	@media (max-width: $bp-mobile-animation) {
		background: url(../images/frozenvsfresh/Birdseye-Woman-farmer-mobile.jpg) no-repeat;// center bottom / cover;
		//background-size: contain;
		//height: 70vw;
		min-height: 0;
		background-size: 140vw;
		background-position: left -20vw top !important;
		height: 91vw;
	}
	img {
		width: 35vw;
		height: auto;
		position: absolute;
		bottom: -6vw;
		left: 11vw;
		@media (max-width: 1200px) {
			width: 43vw;
			left: 8vw;
		}
		@media (max-width: 1000px) {
			width: 47vw;
			left: 5vw;
		}
		@media (max-width: 800px) {
			width: 55vw;
			left: 0vw;
		}
		@media (max-width: $bp-mobile-animation) {
			display: none;
			width: 65vw;
			left: 1vw;
			transform: none !important;
		}
		@media (max-width: 540px) {
			width: 75vw;
		}
		@media (max-width: 440px) {
			width: 80vw;
		}
	}
}

.scene-2 {
	height: auto;
	height: 59.75vw;
	z-index: 10;
	@media (max-width: $bp-mobile-animation) {
		height: 540px !important;
		flex-direction: column;
		border: none !important;
		padding-top: 20px;
		background-position: center bottom 20px !important;
		background-size: 100% !important;	}
	.flex-child {
		@media (max-width: $bp-mobile-animation) {
			width: 100% !important;
		}
	}
}

.scene-3.frozen-benefits {
	position: relative;
	padding: 30vh 0;
	@media (max-width: $bp-mobile-animation) {
		height: 700px;
		padding: 60px 0 40px;
	}
	.flex-child {
		@media (max-width: $bp-mobile-animation) {
			flex: 1 1 50%;
			padding: 0 30px !important;
		}
	}
	.headline-s {
		padding-top: 1.6em;
	}
}

.scene-3-dish {
	display: block;
	position: absolute;
	top: 5em;
	right: 0;
	width: 40vw;
	max-width: 40.625em;
	height: 50.25em;
	z-index: 10;
	background: url(../images/frozenvsfresh/bg-plate.png) no-repeat center left/120%;
	// transform: translate(120px, 0);
	@media (max-width: 1220px) {
		width: 37vw;
	}
	@media (max-width: $bp-mobile-animation) {
		position: static;
		margin-top: 20px !important;
		width: 100%;
    	height: 180px;
		background-size: contain;
		margin: 40px auto 0;
		background-position: center;
		flex: 1 1 70%;
	}
}

.scene-4 {
	height: 52vh;
	max-height: 50em;
	background: url(../images/frozenvsfresh/BirdsEye-Farmer-Walking-in-Field.jpg) no-repeat center top / cover;
	@media (max-width: $bp-mobile-animation) {
		background-position: center bottom -100px;
	}
	.scene-number:after {
		display: none;
	}
	.headline-s {
		padding-top: 1.8em;
	}
	// @media (min-width: 38em) {
	// 	.frozen-msg p br {
	// 		display: block;
	// 	}
	// }
}

// guideline
.guide {
	position: absolute;
	top: 6em;
	left: (40 / 16)*1em;
	left: 0;
	bottom: 0;
	width: 1px;
	height: 0;
	background-color: #567817;
	@include fluid(left, 20em, 66em, 2em, 3.625em);
	@include fluid(top, 20em, 66em, 4.25em, 9.25em);
	@media (max-width: $bp-mobile-animation) {
		display: none;
	}
}

.guide-1 {
	background-color: $blue-light;
	width: 3px;
}
// .guide-1 {
// 	height: 0;
// 	opacity: 0;
// 	transition: height 0.2s, opacity 0.2s;
// 	&.show {
// 		transition: none;
// 	}
// }

.fvf-statement {
	padding: 1.5em 0;
	text-align: center;
	overflow: hidden;
	.headline-xl {
		margin-bottom: 0.25em;
		transform: translateX(-25px);
		opacity: 0;
		@media (max-width: $bp-mobile-animation) {
			transform: none !important;
			opacity: 1 !important;
		}
	}
	.headline-f {
		transform: translateX(25px);
		opacity: 0;
		@media (max-width: $bp-mobile-animation) {
			transform: none !important;
			opacity: 1 !important;
		}
		br {
			@media (max-width: $bp-mobile-animation) {
				display: none;
			}
		}
	}
	p {
		margin: 0;
		color: #F5F7F8;
	}
	br {
		//display: none;
	}
}


@media (min-width: 53.5em) {
	.fvf-statement {
		padding: 3em 0;
		text-align: left;
		.container-site {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			align-items: center;
		}
		.headline-xl {
			flex: 0 0 auto;
			margin: 0;
		}
		// br {
		// 	display: block;
		// }
	}
}

//@media (min-width: $bp-nav) {
	.scene-number {
		margin: 0;
		@media (max-width: $bp-mobile-animation) {
			width: 100% !important;
			height: 100px;
			flex: 0 0 100px !important;
			order: -1;
			text-align: center;
			padding: 0 !important;	
		}
	}
	.big-number {
		@media (max-width: $bp-mobile-animation) {
			font-size: 6em !important;
		}
		&.big-2 {
			//margin-top: 0.35em;
			font-size: 11em;
		}
	}
	.frozen-intro {
		height: 45vw;
	}
	.scene-1 .frozen-msg p {
		margin-bottom: 3em;
	}
	.frozen-benefits {
		padding: 2em 1em;
		&[class*='scene-'] {
			.scene-number:after {
			height: calc(100% - 9.875em + 72px);
			transform: translate(0);
			}
		}
		&.scene-1,
		&.scene-3 {
			.scene-number {
				width: calc(50% + 2.5em);
				padding-left: 2.5em;
				text-align: left;
				&:after {
					left: 4.75em;
				}
			}
			.move {
				order: 0;
				text-align: right;
			}
			.btn {
				display: inline-block;
			}
		}
		&.scene-2,
		&.scene-4 {
			.scene-number {
				width: calc(50% + 5em);
				text-align: right;
			}
			.flex-child:not(.scene-number) {
				width: calc(50% - 5em);
				padding-left: 2.5em;
			}
		}
	}
	.scene-1,
	.scene-3 {
		.frozen-msg br {
			//display: block;
		}
	}
	// .scene-1 {
	// 	height: 80vw;
	// 	max-height: 62.5em;
	// }
	.scene-2 {
		position: relative;
		height: 60vw;
		height: 54.75vw;
		background: url(../images/frozenvsfresh/Birdseye-Corn-on-a-plate.jpg) no-repeat center top -130px / cover;
		.corn-leaf {
			//content: '';
			display: block;
			width: 15.8vw;
			height: 21vw;
			top: -130px;
			left: 24.1vw;
			position: absolute;
			background: url(../images/frozenvsfresh/Birdseye-Corn-leaf.png) no-repeat center top/cover;
			background-size: contain;
			@media (max-width: 1024px) {
				width: 15.4vw;
			}
			@media (max-width: $bp-mobile-animation) {
				display: none;
			}
		}
		.frozen-msg {
			position: relative;
			z-index: 3;
			// br {
			// 	display: none;
			// 	@media (min-width: 79.5em) {
			// 		display: block;
			// 	}
			// }
		}
	}

	.scene-4.frozen-benefits {
		height: 50em;
		text-align: center;
		&.flex-row {
			flex-direction: column;
			align-items: center;
		}
		.flex-child:not(.scene-number) {
			width: auto;
			padding: 0;
		}
		.scene-number {
			margin: 0 0 1.5em 3.5em;
			text-align: center;
		}
		.frozen-msg {
			padding-left: 3.5em;
			// p br {
			// 	display: block;
			// }
		}
	}

	.guide {
		top: ((32 + 32 + 115) / 16)*1em;
		left: calc(50% + 2.25em);
	}
//}

@media (min-width: $bp-nav-big) {
	.scene-2 {
		&:after {
			right: 0;
			margin: 0 auto;
		}
	}
}

@media (min-width: $bp-l) {
	// .scene-1 {
	// 	background: url(../images/frozenvsfresh/bg-girl-field-l.jpg) no-repeat center bottom / contain;
	// }
	// .scene-2 {
	// 	background: url(../images/frozenvsfresh/bg-corn-l.jpg) no-repeat center top / cover;
	// 	&:before {
	// 		top: -(186/2400)*100vw;
	// 		height: (186/2400)*100vw;
	// 		max-height: 186px;
	// 		background: url(../images/frozenvsfresh/corn-top-l.png) no-repeat center bottom / cover;
	// 	}
	// }
	// .scene-4 {
	// 	background: url(../images/frozenvsfresh/bg-crops-l.jpg) no-repeat center 25% / cover;
	// }
}

// @media (min-width: 112em) {
// 	.scene-1 {
// 		background-position: center 120%;
// 	}
// }