.page-template-page-template-home {
	height: auto !important;

	.site-content {
		transform: none;
	}

	video {
		@media (max-width: $bp-nav) {
			opacity: 0;
		}
	}

	.hero:after {
		height: 110%;
		top: -10%;
	}

	.hero-video {
		overflow: hidden;
	}

	.site-header {
		&.scrolled {
			.site-logo {
				@media (max-width: $bp-nav) {
					opacity: 1;
					left: 1em;
					transform: scale(1);
				}
			}
		}
		&.sticky {
			.site-logo {
				opacity: 1;
				left: 1em;
				transform: scale(1);
			}
		}
		.site-logo {
			left: -200px;
			transition: 0.4s;
		}
	}

	.site-nav {
		@media (max-width: 66em) {
			margin-top: 0 !important;
			top: 0 !important;
		}
		&.skrollable-after {
			#main-nav {
				padding-top: 1.5em;
			}	
		}
		#main-nav {
			// padding-top: 16px;
		}
	}

	.hero-birds {
		position: absolute;
		top: auto;
		bottom: 0;
		margin-bottom: -2em;
		@media (max-width: $bp-nav) {
			display: none;
		}
	}

	section {
		z-index: 10;
	}

	.hero-video  {
		&:after {
			z-index: -1;
		}
		.headline-block {
			z-index: 2;
			@media (max-height: 780px) {
				top: 50%;
			}
			@media (max-height: 480px) {
				font-size: 3em;
				top: 55%;
			}
			&.show {
				span {
					margin-top: 0 !important;
					margin-bottom: 0 !important;
					opacity: 1;
				}
			}
			span {
				transition: all 1s;
				opacity: 0;
				&:nth-child(0) {
					margin-bottom: 15px;
				}
				&:nth-child(2) {
					margin-bottom: 15px;
					margin-top: 15px;
				}
			}
		}
		// video {
		// 	margin-top: -10px;
		// }
		.be-logo {
			width: 200px;
			position: absolute;
			top: 60px;
			left: 0;
			right: 0;
			margin: auto;
			z-index: 2;
			@media (max-width: 800px) {
				width: 140px;
			}
			@media (max-height: 630px) {
				width: 160px;
			}
			@media (max-height: 600px) {
				position: static;
				display: block;
				margin: 20px auto 0;
			}
		}
	}

	.panel-mission {
		z-index: 10;
		//background-attachment: fixed;
		@media (max-width: 1400px) {
			background-position: right 40% top;
		}
		@media (max-width: $bp-mobile-animation) {
			height: auto;
		}

		.panel-msg {
			opacity: 0;
			margin-top: 10%;
			@media (max-height: 768px) {
				margin-top: 5%;
			}
			@media (max-width: $bp-mobile-animation) {
				opacity: 1 !important;
				transform: none !important;
				margin: 7vh 0 !important;
			}

			&.skrollable-after,
			&.skrollable-before {
				display: none;
			}
		}

	}

	.panel-products-feature {
		z-index: 11;
		padding-top: 10em;
		@media (max-width: $bp-mobile-animation) {
			padding-top: 4em;
		}
		.support-copy {
			margin-bottom: 0;
		}
		.container-site {
			opacity: 0;
			@media (max-width: $bp-mobile-animation) {
				opacity: 1 !important;
			}
		}
	}

	.panel-frozenfresh {
		background: url(../images/home/broccoli.jpg) left center no-repeat #fff;
		z-index: 10;
		//background-attachment: fixed;
		@media (max-width: 1470px) {
			background-size: 50%;
		}
		@media (max-width: $bp-mobile-animation) {
			height: auto;
			background-position: top 50px left !important;
			background-size: 80%;
    		padding-top: 71vw;
    		padding-bottom: 100px;
		}

		.broccoli {
			display: none;
		}

		.panel-msg {
			height: 290px;
			right: 12%;
			text-align: left;
			max-width: 400px;
			margin-right: 10%;
			margin-top: 25vh;
			@media (max-width: 1200px) {
				margin-right: 5%;
			}
			@media (max-width: 880px) {
				width: 360px;
				margin-right: 0;
			}
			@media (max-width: $bp-mobile-animation) {
				height: 200px;
				transform: none !important;
				margin: 50px auto 0 !important;
				text-align: center;
			}

			&.skrollable-after {
				display: none;
			}
		}
	}

	.panel.panel-roots {
		z-index: 9;
		@media (max-width: $bp-mobile-animation) {
			height: auto;
		}
		&:before {
			display: none;
			position: absolute;
		}
		.bg {
			//position: absolute;
			background-image: url(../images/panels/bg-farmers-l.jpg);
			//background-attachment: fixed;
			background-size: cover;
			background-position: top right;
		    content: '';
		    display: block;
		    position: fixed;
		    background-attachment: scroll;
		    width: 100%;
		    height: 120%;
		    top: 0;
		    left: 0;
		    will-change: transform;
		    z-index: -1;
		    //background-size: 161vh;
		   	background-position: right 50% top;
		    // @media (max-width: 1500px) {
		    // 	background-position: right 50% top;
		    // }
		    // @media (max-width: $bp-mobile-animation) {
		    // 	position: absolute;
		    // }
		    &.hide {
		    	display: none;
		    }
		    @media (max-width: 1024px) {
		    	background-attachment: scroll;
		    	background-size: cover;
		    	position: absolute;
		    }
		    @media (max-width: 768px) {
		    	background-position: right 43% top !important;
		    }
		    @media (max-width: 700px) {
		    	background-position: right 53% top  !important;
		    }
		}
		.panel-msg {
			width: 530px;
			text-align: right;
			position: fixed;
			top: 10vh;
			bottom: 0;
			margin: auto;
			height: 280px;
			left: 10%;
			@media (max-width: 1600px) {
				left: 5%;
			}
			@media (max-width: 1500px) {
				width: 500px;
				padding-left: 5px;
				padding-right: 0;
			}
			@media (max-width: 1200px) {
				left: 0;
			}
			@media (max-width: 1024px) {
				position: static;
				text-align: left;
				padding-left: 1em;
				opacity: 1 !important;
				z-index: 9 !important;
				pointer-events: default !important;
				width: auto;
				margin-left: 0;
				height: auto;
				padding: 100px 0 100px 1em;
			}
			&.hide {
				opacity: 0;
				z-index: -1;
				pointer-events: none;
				width: 0;
				height: 0;
				overflow: hidden;
			}
			.btn {
				float: right;
				@media (max-width: 1024px) {
					float: none;
				}
			}
		}
	}

	.panel-voila {
		z-index: 12;
		.voila-bowl{
			img,
			source {
				max-width: none;
				width: 120%;
				@media (max-width: 1820px) {
					width: 100%;
				}
			}
		}
	}

	#relatedRecipes,
	.media-panel {
		z-index: 13;
	}

	.panel-msg {
		// opacity: 0;
		// pointer-events: none;

		&.out-of-view,
		&.pre-animation {
			opacity: 0 !important;
			pointer-events: none;
		}
	}

	.site-footer.veg .bg {
		height: 30vw;
	}

}