// general content wysiwyg styles

.general-content {
	padding-bottom: 2em;
	.post-header {
		padding: 3em 0 2em;
	}
	h2 {
		@extend .headline-s;
		margin: 0.25em 0;
	}	
	h3 {
		@extend .headline-f;
		margin: 0.875em 0 0.35em;
	}
	h4 {
		@extend .prod-feature-title;
		margin: 1.5em 0 0.125em;
	}

	ul {
		margin-bottom: 1em;
	}
	li {
		margin-bottom: 0.75em;
		@include fluid(font-size, 20em, 68em, 0.875em, 1em);
	}
	.bullets ul {
		padding-left: 1.5em;
		li {
			list-style-type: disc;
		}
	}
	.tight-list {
		li {
			margin-bottom: 0;
		}
	}

	@media (min-width: $bp-nav) {
		.post-header {
			padding: 3.5em 0;
		}
	}
}

