.page-template-page-template-products-listing-php {
	.prod-grid {
		display: flex;
		padding-top: 50px;
		overflow-x: hidden;
		@media (max-width: 1023px) {
			flex-direction: column;
		}
	}
}

.product-search-form {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 15px 15px 15px 60px;
	margin-bottom: 10px;
	background: url(../images/global/search-icon.svg) left 25px center no-repeat #FFFFFF;
	border: 1px solid #D8D8D8;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.05);
	border-radius: 6px;
	input[type="text"] {
		width: 150px;
		height: 30px;
		margin-bottom: 0;
		border: none;
		outline: none;
	}
	input[type="submit"] {
		width: 30px;
		height: 30px;
		border: none;
		background: url(../images/global/submit-white-arrow.svg) center no-repeat transparent;
		font-size: 0;
		color: transparent;
		cursor: pointer;
	}
}

.product-filtering {
	width: 265px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  .view-results {
  	display: block;
  	margin: 1em auto;
  	opacity: 0;
  	visibility: hidden;
  	transition: visibility 0.2s ease, opacity 0.2s ease;
  	&.show {
  		opacity: 1;
  		visibility: visible;
  	}
  	@media (min-width: $bp-nav) {
  		display: none;
  	}
  }
}

.product-veg {
	display: flex;
	width: 100%;
	padding: 20px;
	margin-bottom: 10px;
	z-index: 2;
	background: url(../images/global/chevron-right.svg) right 20px center no-repeat #F5F7F8;
	border: 1px solid #D8D8D8;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.05);
	border-radius: 6px;
	align-items: center;
	position: relative;
	cursor: pointer;
	.close {
		position: absolute;
		top: 0;
		right: 5px;
		line-height: 1;
		color: black;
		cursor: pointer;
		font-weight: 100;
		font-size: 17px;
		font-family: sans-serif;
		transform: scaleX(1.3);
		padding: 15px 15px;
	}
	p {
		font-size: 14px;
		color: #0064A0;
		margin: 0;
		font-weight: 600;
	}
	.veg-filter-menu {
		display: none;
		width: calc(100% + 2em);
		max-width: 392px;
		position: absolute;
		left: 285px;
		top: 0;
		background: #fff;
		z-index: 10;
		border: 1px solid #D8D8D8;
		border-radius: 6px;
		cursor: default;
		background-color: white;
		@media (min-width: 1023px) {
			width: 392px;
		}
		p {
			padding: 20px;
		}
		&:after {
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent;
			border-right: 13px solid white;
			top: 20px;
			left: -13px;
		}
		&:before {
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			border-top: 11px solid transparent;
			border-bottom: 11px solid transparent;
			border-right: 14px solid #D8D8D8;
			top: 19px;
			left: -14px;
		}
	}
	.veg-filters {
		display: flex;
		flex-wrap: wrap;
		padding: 0 20px;
		> div {
			flex: 0 0 50%;
			margin: 0 0 17px;
		}
		label {
			font-size: 12px;
			color: #666666;
			letter-spacing: 0;
			font-weight: 700;
			padding-left: 3em;
			line-height: 20px;
			text-transform: capitalize;
		}
	}
	.veg-filter-buttons {
		display: flex;
		button {
			flex: 0 0 50%;
			max-width: none;
			border-radius: 0;
			font-size: 16px;
			color: #358ED7;
			background: transparent;
			letter-spacing: 0;
			line-height: 16px;
			font-weight: 700;
			border-top: 1px solid #D8D8D8;
			border-right: 1px solid #D8D8D8;
			text-transform: none;
			&:last-child {
				border-right: none;
			}
		}
	}
}

.product-categories {
	width: 100%;
	border: 1px solid #D8D8D8;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.05);
	border-radius: 6px;
	[data-hide="1"] {
		display: none;
	}
	.parent {
		min-height: 60px;
		background-color: white;
		h1 {
			width: 100%;
			height: 60px;
			padding: 20px;
    		line-height: 1.5;
			font-family: $body-font;
			font-size: 14px;
			color: #0064A0;
			line-height: 24px;
			border-bottom: 1px solid #D8D8D8;
			background: url(../images/global/chevron-right.svg) right 20px center no-repeat;
			cursor: pointer;
			font-weight: 600;
			&.show {
				background: url(../images/global/chevron-down.svg) right 20px center no-repeat;
			}
		}
		.child {
			h4 {
				width: 100%;
				height: 60px;
				padding: 10px 20px 10px 40px;
				background: url(../images/global/chevron-right.svg) right 20px center no-repeat #FAFAFA;
				font-family: $body-font;
				font-size: 14px;
				color: #4A4A4A;
				line-height: 24px;
				font-weight: 100;
				border-bottom: 1px solid #D8D8D8;
				position: relative;
				&.show {
					background: url(../images/global/chevron-down.svg) right 20px center no-repeat #FAFAFA;
					&:before {
						content: '';
						width: 6px;
						height: 6px;
						border-radius: 50%;
						background-color: $blue-dark;
						position: absolute;
						left: 20px;
						top: 18px;
					}
				}
				+ .child .checkbox-wrapper {
					height: 40px;
					padding-top: 8px;
				}
				&[data-level] {
					height: 40px;
				}
			}
			&:last-child .checkbox-wrapper {
				height: 40px;
			}
			.child:last-child .checkbox-wrapper {
				height: 40px;
			}
			display: none;
			&.show {
				display: block;
				label {
					font-weight: 700;
				}
			}
		}
		.child + .child {
			.checkbox-wrapper {
				padding-top: 10px;
			}
			&:last-of-type {
				.checkbox-wrapper {
					//height: 50px;
					border-bottom: 1px solid #D8D8D8;
				}
			}
			&:last-of-type:not(:first-of-type) {
				height: 50px;
				.checkbox-wrapper {
					height: inherit;
				}
			}
		}
	}
	.checkbox-wrapper {
		height: 40px;
   	padding: 10px 20px 0 40px;
		background-color: #F2F2F2;
		input[type="checkbox"] {
			appearance: none;
			-webkit-appearance: none;
			-moz-appearance: none;
			width: 20px;
			height: 20px;
			margin-right: 10px;
			margin-bottom: -5px;
			outline: none;
		}
		label {
			display: inline-block;
			font-family: $body-font;
			font-size: 12px;
			line-height: 20px;
			color: #666666;
			letter-spacing: 0;
			padding-left: 3em;
		}
	}
}

.product-listing {
	width: calc(100% - 270px);
	display: flex;
	flex-wrap: wrap;
	padding-left: 2em;
	justify-content: flex-start;
	min-height: 1000px;
	transition: opacity 0.2s, filter 0.4s;
	@media (max-width: 1200px) {
		justify-content: space-between;
	}
	@media (max-width: 1023px) {
		width: 100%;
		padding-left: 0;
		padding-top: 1em;
	}
	&.loading {
		opacity: 0.5;
    filter: blur(1px);
	}
	.single-product {
		width: calc(25% - 1em);
		margin-bottom: 4em;
		margin-right: 1em;
		text-align: center;
		position: relative;
		@media (max-width: 1200px) {
			width: calc(33.333% - 0.875em);
			margin-right: 0;
		}
		@media (max-width: 767px) {
			width: calc(50% - 0.5em);
		}
		&[data-catid='44'] {
			img {
				max-height: 220px;
				width: auto;
			}
		}
		a {
			text-decoration: none;
		}
		.name {
			margin: 1em 0 0;
			@extend .prod-feature-title;
		}
		.cat {
			font-family: $body-font;
			font-size: 11px;
			color: #4A4A4A;
			line-height: 20px;
			text-transform: uppercase;
		}
		.new[data-new="new"] {
			position: relative;
			&:after {
				content: 'NEW';
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				top: -0.75em;
				right: 0;
				width: (57/16)*1em;
				height: (57/16)*1em;
				border-radius: 50%;
				background-color: $orange;
				font-weight: 700;
				font-size: 75%;
				@include fluid(font-size, 20em, 68em, 0.75em, 1em);
				color: white;	
				vertical-align: middle;
			}
			// width: 57px;
			// height: 57px;
			// position: absolute;
			// background: url(../images/global/new-callout.png) center no-repeat;
			// background-size: cover;
			// right: calc(3% + 30px);
			// right: -6px;
			// top: calc(3% + 10px);
			// top: -25px;
		}
	}
}

.single-product .prod-details {
	padding-top: 7em;
	@media (min-width: $bp-nav) {
		padding-top: 2em;
	}
}

.product-toggle {
	display: table;
	width: auto;
	margin: 0 auto;
	font-size: 0.875em;
	font-weight: 500;
	color: $blue-light;
	cursor: pointer;
	transition: color 0.2s ease;
	&:hover {
		color: $blue-dark;
	}
}

.product-lineup {
	padding: 2.75em 1em;
	&.new-lineup {
		header {
			text-align: center;
			.prod-feature-title {
				margin: 0 auto;
				max-width: 600px;
			}
		}
		
	}
	.prod-lineup-header {
		margin-bottom: 0.45em;
	}
	.prod-feature-title {
		margin: 0;
	}
	.headline-s {
		margin-bottom: 0.25em;
	}
	.flex-row {
		flex-wrap: wrap;
		justify-content: space-around;
		a:nth-of-type(n+5) {
			visibility: hidden;
			opacity: 0;
			max-height: 0;
			transition: visibility 0.2s ease, opacity 0.2s ease, max-height 0.2s ease;
		}
		@media (min-width: $bp-bg) {
			justify-content: space-between;
		}
	}
	&.reveal .flex-row {
		a:nth-of-type(n+5) {
			visibility: visible;
			opacity: 1;
			max-height: 37.5em;
		}
		a {
			margin-bottom: 2em;
		}
	}

	.product-toggle {
		display: inline-block;
		margin: 0;
	}

	.down {
		display: inline-block;
		margin: 0 0 0 4px;
		transition: transform 0.2s ease;
		width: 15px;
		height: 24px;
		vertical-align: text-top;
		svg {
			width: 15px;
			height: 13px;
		}
		&.up {
			vertical-align: text-bottom;
			transform: rotateX(-180deg);
		}
	}
	.lineup-footer {
		width: 100%;
		max-width: 6em;
		margin: 0 auto;
		padding: 0;
	}
}

.product-excerpt {
	width: calc(50% - 0.75em);
	margin-bottom: 1em;
	text-align: center;
	img {
		display: block;
		margin-bottom: 0.5em;
	}
}

@media (min-width: $bp-m) {
	.product-toggle {
		font-size: 1em;
	}
	.product-lineup {
		padding: 3em 0;
		&.group-1 {
			padding-top: 5em;
		}
		.flex-row {
			.product-excerpt {
				width: calc(25% - 2em);
				margin-right: 2em;
			}
		}
	}

	.product-excerpt {
		width: calc(25% - 1.5em);
		img {
			margin-bottom: 1em;
		}
	}
}
