.page-template-page-template-recipes-php {
	.recipe-grid {
		display: flex;
		padding-top: 50px;
		overflow-x: hidden;
		@media (max-width: 1023px) {
			flex-direction: column;
		}
	}
}

.recipe-listing {
	width: calc(100% - 270px);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-left: 2em;

	transition: opacity 0.2s, filter 0.4s;
	@media (max-width: 1023px) {
		width: 100%;
		padding-left: 0;
		padding-top: 1em;
	}
	&.loading {
		opacity: 0.5;
    	filter: blur(1px);
	}
	.single-recipe {
		width: 33%;
		height: 440px;
		padding: 0 1% 75px;
		text-align: center;
		position: relative;
		@media (max-width: 767px) {
			width: 50%;
		}
		a {
			display: flex;
			flex-direction: column;
			width: 100%;
			height: 100%;
		}
		img {
			width: 360px;
			height: 228px;
			border: none;
		}
		h2 {
			display: block;
			max-width: 250px;
			margin: 1.875em auto 0.75em;
			color: $black;
			//font-size: 18px;
			text-align: center;
			text-decoration: none;
		}
		.button {
			display: inline-block;
			height: 50px;
			width: 165px;
			padding-top: 15px;
			margin: auto auto 0;
			border-radius: 4px;
			background-color: #04B7E3;
			color: #F1F4F7;
			font-size: 14px;
			text-transform: uppercase;
			text-decoration: none;
		}
	}
}

.single-recipe-wrapper {
	position: relative;
	.recipe {
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		align-items: flex-start;
	}

	.recipe-image {
		flex: 0 0 50%;
		flex: 1 0 100%;
		margin-bottom: 3em;
		&.clone {
			display: none;
			position: fixed;
			top: calc(60px + 6em);
			left: 0;
			width: 100%;
			&.not-fixed {
				position: absolute;
				top: 0;
			}
		}
	}

	.recipe-info {
		width: 100%;
		//max-width: 530px;
		margin: 0 auto;
		padding: 0 1em;
		h1 {
			text-align: center;
			@include fluid(font-size, 20em, 68em, 1.75em, 2.125em);
			line-height: 1.3;
		}
		.recipe-stats {
			padding: 0.5em 0;
			@include fluid(margin-top, 20em, 66em, 1.25em, 2.5em);
			@include fluid(margin-bottom, 20em, 66em, 1.25em, 2.5em);
	    border-top: 1px solid #979797;
	    border-bottom: 1px solid #979797;
	    text-align: center;
	    span {
	    	display: inline-block;
				color: #4A4A4A;
				font-size: 12px;
				margin: 0 1em;
				text-transform: uppercase;
			}
		}
		h3 {
			// height: 22px;
			// width: 117px;
			margin-bottom: 1.35em;
			color: #4A4A4A;
			font-family: "Museo Sans Rounded";
			@include fluid(font-size, 20em, 68em, 0.85em, 1.125em);
			text-transform: uppercase;
		}
		ul, ol {
			color: #4A4A4A;
			@include fluid(font-size, 20em, 66em, 0.875em, 1.125em);
			li {
				margin-bottom: 0.5em;
				line-height: 1.35;
				span {
					font-size: 1em!important;
				}
			}
		}
		hr {
			width: 100%;
			height: 1px;
			margin: 20px 0;
			border: none;
			background-color: #979797
		}
	}

	// pinterest btn

	[data-pin-log] {
		position: relative;
		top: -78px;
		left: 10px;
		z-index: 7;
		@media (min-width: $bp-nav) {
			position: fixed;
			top: 166px;
			&.move-it {
				position: absolute;
				top: auto;
				bottom: 10px;
			}
		}
	}
}

@media (min-width: $bp-nav) {
	.single-recipe-wrapper {
		.recipe {
			position: relative;
			flex-direction: column;
			margin-top: calc(6em + 60px);
		}
		.recipe-image {
			flex: 0 0 50%;
			max-width: 50%;
			margin: 0;
			&.original-img {
				display: none;
				position: absolute;
				left: 0;
				bottom: 0;
				margin: 0;
				width: 100%;
				&.scroll {
					display: block;
				}
			}
			&.clone {
				display: block;
				&.go-away {
					display: none;
				}
			}
		}

		.recipe-info {
			max-width: 530px;
			margin: 0 0 0 50%;
			padding-left: 40px;
			h1 {
				text-align: left;
			}
			hr {
				margin: 40px 0;
			}
			.recipe-stats {
				padding: 1.5em 0;
				font-size: 14px;
				text-align: left;
				span {
					margin: 0 2em 0 0;
					font-size: 14px;
					&:last-of-type {
						margin-right: 0;
					}
				}
			}
		}
	}
}


@media (min-width: $bp-nav-big) {
	.single-recipe-wrapper {
		.recipe-image {
			&.clone {
				top: 11em;
				top: calc(6em + 60px);
			}
		}
	}
}