.quick-freeze {
	&.flex-row {
		flex-wrap: wrap;
	}
	div {
		width: 100%!important;
		padding: 1em;
		&:first-of-type {
			// background: $blue-light;
			background-image: radial-gradient(31% -52%, #03BAE6 26%, #1E5C87 94%, #1E5C87 94%, #21547F 100%);

		}
		&:last-of-type {

		}
	}
}
